﻿@model MEHK.Workflow.CommonWeb.ViewModels.ApprovalHistoryViewModel

<div class="form-group m-form__group row" id="ApprovalHistory">

    <label class="col-lg-12 col-form-label formItemTitle">Approval History</label>

    <div class="col-lg-12">

        <div class="m-accordion m-accordion--default" id="m_accordion_1" role="tablist">

            <!--begin::Item-->
            <div class="m-accordion__item">
                @*collapsed  aria-expanded=" true" show*@
                <div class="m-accordion__item-head " role="tab" id="m_accordion_1_item_1_head" data-toggle="collapse" href="#m_accordion_1_item_1_body" aria-expanded=" true">
                    <span class="m-accordion__item-mode"></span>
                    <span class="m-accordion__item-icon"></span>
                    <span class="m-accordion__item-title"></span>

                </div>

                <div class="m-accordion__item-body collapse show" id="m_accordion_1_item_1_body" class=" " role="tabpanel" aria-labelledby="m_accordion_1_item_1_head" data-parent="#m_accordion_1">
                    <div class="m-accordion__item-content">
                        <p>
                            @(Html.Kendo().Grid<MEHK.Workflow.CommonWeb.ViewModels.WorkflowLogViewModel>()
                        .Name("WorkflowLog")
                        .Columns(columns =>
                        {
                            //columns.Bound(c => c.Role);
                            //columns.Bound(c => c.Department);
                            columns.Bound(c => c.Name);
                            columns.Bound(c => c.Position);
                            columns.Bound(c => c.Action);
                            columns.Bound(c => c.ActionDate).Format("{0:" + Resources.Resource_Common.DisplayDateFormat + "}"); ;
                            columns.Bound(c => c.Comment);
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                         //.PageSize(20)
                         //.Read(read => read.Action("GetWorkflowLog", "Home", new { FormID = ViewBag.FormID, FormTypeID = ViewBag.FormTypeID }))
                         .Read(read => read.Url("../../MEHK.dashbord/Home/GetWorkflowLog").Data("returnAprrovalHistoryData"))
                         )
                            )

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function returnAprrovalHistoryData()
    {
        return { FormID: @ViewBag.FormID ,FormTypeID:@ViewBag.FormTypeID}

    }
	//function BindAprrovalHistoryGrid(AprrovalHistorySetting)
	//{
	//	var FormID=AprrovalHistorySetting.FormID;
	//	var FormTypeID=AprrovalHistorySetting.FormTypeID;
	//	var DateFormat=AprrovalHistorySetting.DateFormat;

	//	$(uploadSetting.UploadedFilesTable).kendoGrid({
	//		dataSource: {
	//			transport: {
	//				read: {
	//					url: BaseUrl + "/Home/GetWorkflowLog",
	//					dataType: "json",
	//					data: function () { return { FormID: FormID, FormTypeID: FormTypeID } },
	//					cache: false
	//				}
	//			},
	//			schema: {
	//				//model: AprrovalHistorySetting.TableField
	//				model: {
	//					fields: {
	//						Name: { type: "string" },
	//						Position: { type: "string" },
	//						Action: { type: "string" },
	//						ActionDate: { type: "DateTime" },
	//						Comment: { type: "string" }
	//					}
	//				}
	//			},

	//		},
	//		scrollable: false,
	//		columns: ColumnList,
	//		dataBound: function (e) {

	//			if (this.dataSource.total() === 0) {
	//				$(uploadSetting.TableArea).hide();

	//			}
	//			else {
	//				$(uploadSetting.TableArea).show();
	//			}
	//		}
	//	});
	//}

</script>