﻿@*@model MEHK.Workflow.Data.DTO.ApprovalMartixDetailViewModel*@

<div class="form-group m-form__group row" id="ApprovalMatrix">

	<label class="col-lg-12 col-form-label formItemTitle">Approval Matrix</label>
	
					

							<div class="col-lg-auto">
								<table id="ApprovalMatrixTable" class="table table-bordered m-table m-table--head-bg-brand"></table>
							</div>
						</div>

				<script>
					function SetApprovalMartixOptionCode() {

						var BudgetType = "";
						var ApprovalMartixOptionCode = "";
						if ($("#ID").val() != "0" && $("#EnablePreApprovalPart").val().toUpperCase() == "FALSE") {
							BudgetType = $("#BudgetType").val()
						} else {
							BudgetType = $("input:radio[name=BudgetType]:checked").val();
						}
						if ($("#ReimbursementSubmit").val() == "true") {
							ApprovalMartixOptionCode = "R"
							//$("#ApprovalMartixOptionCode").val("R")
						} else {
							if (BudgetType == "Entertainment") {
								if ($("#BudgetAmount").val() >= EntertainmentAmount) {
									//$("#ApprovalMartixOptionCode").val("O")
									ApprovalMartixOptionCode = "O"
								} else {
									//$("#ApprovalMartixOptionCode").val("B")
									ApprovalMartixOptionCode = "B"
								}
							} else {
								if ($("#BudgetAmount").val() >= GiftAmount) {
									//$("#ApprovalMartixOptionCode").val("O")
									ApprovalMartixOptionCode = "O"
								} else {
									//$("#ApprovalMartixOptionCode").val("B")
									ApprovalMartixOptionCode = "B"
								}
							}
						}
						//var grid = $("#ApprovalMatrixGrid").data("kendoGrid");
						//grid.dataSource.read()
						returnApprovalMatrixData(ApprovalMartixOptionCode)
					}
					function returnApprovalMatrixData(ApprovalMartixOptionCode) {
						var Payee = $("#Payee").val();
						//return { MemberId: Payee, ApprovalMartixOptionCode: $("#ApprovalMartixOptionCode").val() }
						var html = "";
						$.ajax({
							type: 'POST',
							url: "../../MEHK.dashboard/Home/GetApprovalMatrixGrid",
							cache: false,
							//async: false,
							data: {
								MemberId: Payee,
								ApprovalMartixOptionCode: ApprovalMartixOptionCode
							},
							success: function (data) {
								if (data != null) {
									html = "<thead>";
									//for (var i = 0; i < data.Data.length; i++) {
									//	if (data.Data[i].ApproversString != "") {
									//		html += "<th>" + data.Data[i].ApprovalLevelName + "</th>"
									//	}
									//}
									//html += "</tr></thead><tbody><tr>";
									//for (var i = 0; i < data.Data.length; i++) {
									//	if (data.Data[i].ApproversString != "") {
									//		html += "<td>" + data.Data[i].ApproversString + "</td>"
									//	}
									//}
									html += "<th>Level</th><th>LevelName</th>"
									for (var i = 0; i < data.Data.length; i++) {
										if (data.Data[i].ApproversString != "") {
											html += "<tr><td>" + data.Data[i].ApprovalLevelName + "</td><td>" + data.Data[i].ApproversString + "</td></tr>"
										}
									}

									html += "</tbody>";

									$("#ApprovalMatrixTable").html(html);
								}
								else {

								}
							},
							failure: function (response) {

							}
						});

					}

				</script>
