﻿
@{
    ViewBag.Title = "NoUserFoundInSystem";

       Layout = "~/Views/Shared/_EmptyLayout.cshtml";


}


<div class="m-portlet">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>
                <h3 class="m-portlet__head-text">
                    User is not include in system, please contact system administrator
                </h3>
            </div>
        </div>
    </div>
    <!--begin::Form-->
    @*m-form--group-seperator-dashed*@

    <!--end::Form-->
</div>
