﻿<!DOCTYPE html>
<!--
Template Name: Metronic - Responsive Admin Dashboard Template build with Twitter Bootstrap 4
Author: KeenThemes
Website: http://www.keenthemes.com/
Contact: support@keenthemes.com
Follow: www.twitter.com/keenthemes
Dribbble: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
Purchase: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
Renew Support: http://themeforest.net/item/metronic-responsive-admin-dashboard-template/4021469?ref=keenthemes
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en">
<!-- begin::Head -->
<head>
    <meta charset="utf-8" />

    <title>
        @Resources.Resource_Common.MitsubishiElectric
    </title>

    @*@if (ViewBag.Title != null)
        {
            <title>
                @ViewBag.Title
            </title>
        }
        else
        {
            <title>Link</title>
        }*@
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--begin::Web font -->

    <script src="@ViewBag.CommonJSURL"></script>
    <script>
        var CommonApiURL = '@System.Configuration.ConfigurationManager.AppSettings["CommonApiUrl"]';
    </script>
    @*<script src="~/Scripts/Main.js"></script>*@
    <script src="../../MEHK.Dashboard/Scripts/Main.js"></script>
    <script src="../../MEHK.Dashboard/Scripts/CommonJS.js"></script>
    <script src="../../MEHK.Dashboard/Scripts/CommonApi.js"></script>
    <script src="../../MEHK.Dashboard/Content/assets/vendors/base/vendors.bundle.js"></script>
    <script src="../../MEHK.Dashboard/Content/assets/demo/demo7/base/scripts.bundle.js"></script>
    <script src="../../MEHK.Dashboard/Scripts/kendo/kendo.all.min.js"></script>
    <script src="../../MEHK.Dashboard/Scripts/kendo/kendo.aspnetmvc.min.js"></script>
    <script src="../../MEHK.Dashboard/Content/assets/app/js/dashboard.js"></script>
    <script src="../../MEHK.Dashboard/Scripts/underscore-min.js"></script>
    <script src="../../MEHK.Dashboard/Scripts/DialogMessage.js"></script>
    @*<script src="~/Scripts/jquery-ui.js"></script>
        <script src="~/Scripts/jquery.idle-timer.js"></script>
        <script src="~/Scripts/timeout-dialog.js"></script>
        <link href="~/Content/timeout-dialog.css" rel="stylesheet" />*@
    <script src="../../MEHK.Dashboard/Scripts/webfont.js"></script>
    <script src="../../MEHK.Dashboard/Scripts/numeral.js"></script>
    <script src="../../MEHK.Dashboard/Scripts/UploadMain.js"></script>
	<script src="../../MEHK.Dashboard/Scripts/ApprovalHistoryMain.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>*@
    @*<script src="~/Scripts/webfont.js"></script>*@
    <script>
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }

        function isDecimalNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode
            if (charCode > 31 && (charCode != 46 && (charCode < 48 || charCode > 57)))
                return false;
            return true;
        }
        $(function () {
            //var timeout = 5000;
            var UserID = @ViewBag.CurrentUserID;
            var AppID = @ViewBag.AppID;


            InitMenu(UserID, AppID);
           // InitMenuRight(UserID, ProcessID);

            var timeout = 900000;

            @*$(document).bind("idle.idleTimer", function () {

                $.timeoutDialog({ timeout: @System.Web.HttpContext.Current.Session.Timeout , countdown: 15, logout_redirect_url: '@Url.Content("~/")', restart_on_yes: true });
            });
            $(document).bind("active.idleTimer", function () {
                // function you want to fire when the user becomes active again
            });
            $.idleTimer(timeout);*@
        });

    </script>


    @*@if (ViewBag.HasRightMenu == null)
        {
            <script>
                $(function () {
                    var UserID = @ViewBag.CurrentUserID;
                    var AppID = @ViewBag.AppID;
                    var ProcessID = @ViewBag.ProcessID;

                    InitMenu(UserID, AppID);
                    InitMenuRight(UserID, ProcessID);
                });
            </script>
        }
        else
        {
            <script>
                $(function () {
                    var UserID = @ViewBag.CurrentUserID;
                    var AppID = @ViewBag.AppID;
                    var ProcessID = @ViewBag.ProcessID;

                    InitMenu(UserID, AppID);
                });
            </script>
        }*@




    <script>
        WebFont.load({
            google: { "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"] },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!--end::Web font -->
    <!--begin::Base Styles -->
    <link href="../../MEHK.Dashboard/Content/assets/vendors/base/vendors.bundle.css" rel="stylesheet" />
    <link href="../../MEHK.Dashboard/Content/assets/demo/demo7/base/style.bundle.css" rel="stylesheet" />

    <style>
        .select2 {
            width: 100% !important;
        }
    </style>


    @*<link href="assets/vendors/base/vendors.bundle.css" rel="stylesheet" type="text/css" />
        <link href="assets/demo/demo7/base/style.bundle.css" rel="stylesheet" type="text/css" />*@
    <!--end::Base Styles -->

    <link rel="shortcut icon" href="~/Images/logo2.png" />
    @*@Styles.Render("~/Content/kendo/css")*@
    <link href="../../MEHK.Dashboard/Content/kendo/kendo.common-bootstrap.min.css" rel="stylesheet" />
    <link href="../../MEHK.Dashboard/Content/kendo/kendo.bootstrap.min.css" rel="stylesheet" />
    <link href="../../MEHK.Dashboard/Content/Main.css?v=0.0117" rel="stylesheet" />
    @*<link rel="shortcut icon" href="assets/demo/demo7/media/img/logo/favicon.ico" />*@
    @*<img src="~/Content/assets/demo/demo7/media/img/logo/favicon.ico" />*@

    @{
        string HomeLink = "../../Web/Home/Dashboard";

        if (ViewBag.HomeLink != null)
        {
            HomeLink = ViewBag.HomeLink;
        }

    }

</head>
<!-- end::Head -->
<!-- end::Body -->
<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-light m-aside-left--fixed m-aside-left--offcanvas m-aside-left--minimize m-brand--minimize m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- BEGIN: Header -->
        <header class="m-grid__item    m-header " data-minimize-offset="200" data-minimize-mobile-offset="200">
            <div class="m-container m-container--fluid m-container--full-height">
                <div class="m-stack m-stack--ver m-stack--desktop">
                    <!-- BEGIN: Brand -->
                    <div class="m-stack__item m-brand ">
                        <div class="m-stack m-stack--ver m-stack--general">
                            <div class="m-stack__item m-stack__item--middle m-brand__logo">
                                <a href="@HomeLink" class="m-brand__logo-wrapper">
                                    @*<img alt="" src="~/Content/assets/demo/demo7/media/img/logo/logo.png" />*@
                                    <img src="~/Images/logo.png" />
                                </a>
                            </div>
                            <div class="m-stack__item m-stack__item--middle m-brand__tools">
                                <!-- BEGIN: Responsive Aside Left Menu Toggler -->
                                <a href="javascript:;" id="m_aside_left_offcanvas_toggle" class="m-brand__icon m-brand__toggler m-brand__toggler--left m--visible-tablet-and-mobile-inline-block">
                                    <span></span>
                                </a>
                                <!-- END -->
                                <!-- BEGIN: Responsive Header Menu Toggler -->
                                <a id="m_aside_header_menu_mobile_toggle" href="javascript:;" class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                    <span></span>
                                </a>
                                <!-- END -->
                                <!-- BEGIN: Topbar Toggler -->
                                <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;" class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                    <i class="flaticon-more"></i>
                                </a>
                                <!-- BEGIN: Topbar Toggler -->
                            </div>
                        </div>
                    </div>
                    <!-- END: Brand -->
                    <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                        <!-- BEGIN: Horizontal Menu -->
                        <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
                            <i class="la la-close"></i>
                        </button>
                        <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
                            <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">


                                <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel">
                                    <div class="m-nav__link m-nav__link--icon">
                                        <i class="m-nav__link-icon la la-home" onclick="window.location.href='@HomeLink'" style="cursor: pointer;"></i>
                                    </div>
                                </li>

                                @if (ViewBag.listBreadcrumbs != null)
                                {
                                    foreach (var breadcrumb in ViewBag.listBreadcrumbs)
                                    {
                                        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel" style="padding:0">
                                            -
                                        </li>
                                        <li class="m-menu__item  m-menu__item--submenu m-menu__item--rel">
                                            <h5>@breadcrumb</h5>
                                        </li>
                                    }
                                }
                            </ul>
                        </div>
                        <!-- END: Horizontal Menu -->
                        <!-- BEGIN: Topbar -->

                        <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                            <div class="m-stack__item m-topbar__nav-wrapper" style="vertical-align:middle">
                                Welcome, @ViewBag.DisplayName
                            </div>
                            <div class="m-stack__item m-topbar__nav-wrapper">
                                @*<ul class="m-topbar__nav m-nav m-nav--inline">

                                        <li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                            <a href="@ViewBag.HelpDocURL" target="_blank" class="m-nav__link">

                                                <span class="m-nav__link-icon m-topbar__usericon">
                                                    <span class="m-nav__link-icon-wrapper">
                                                        <i class="flaticon-info"></i>
                                                    </span>
                                                </span>

                                            </a>

                                        </li>

                                    </ul>*@
                                <ul class="m-topbar__nav m-nav m-nav--inline">

                                    <li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                        <a href="#" class="m-nav__link m-dropdown__toggle">
                                            <span class="m-topbar__userpic m--hide">
                                                @*<img src="assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless m--img-centered" alt="" />*@
                                            </span>
                                            <span class="m-nav__link-icon m-topbar__usericon">
                                                <span class="m-nav__link-icon-wrapper">
                                                    <i class="flaticon-user-ok"></i>
                                                </span>
                                            </span>
                                            <span class="m-topbar__username m--hide">
                                                Nick
                                            </span>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__header m--align-center">
                                                    <div class="m-card-user m-card-user--skin-light">
                                                        <div class="m-card-user__pic">
                                                            @*<img src="assets/app/media/img/users/user4.jpg" class="m--img-rounded m--marginless" alt="" />*@
                                                        </div>
                                                        <div class="m-card-user__details">

                                                            <a href="../../Web/Home/MyProfile" class="m-card-user__email m--font-weight-300 m-link">
                                                                My Profile
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                        <!-- END: Topbar -->
                    </div>
                </div>
            </div>
        </header>
        <!-- END: Header -->
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
            <!-- BEGIN: Left Aside -->
            <button class="m-aside-left-close  m-aside-left-close--skin-light " id="m_aside_left_close_btn">
                <i class="la la-close"></i>
            </button>
            <div id="m_aside_left" class="m-grid__item	m-aside-left  m-aside-left--skin-light ">
                <!-- BEGIN: Brand -->
                <div class="m-brand  m-brand--skin-light ">
                    <a href="@HomeLink" class="m-brand__logo">
                        @*<img alt="" src="~/Content/assets/demo/demo7/media/img/logo/logo.png" />*@
                        <img src="~/Images/logo.png" />
                    </a>
                </div>
                <!-- END: Brand -->
                <!-- BEGIN: Aside Menu -->
                <div id="m_ver_menu"
                     class="m-aside-menu  m-aside-menu--skin-light m-aside-menu--submenu-skin-light "
                     data-menu-vertical="true"
                     data-menu-scrollable="true" data-menu-dropdown-timeout="500">
                    @*<ul class="m-topbar__nav m-nav m-nav--inline">

                            <li class="m-nav__item m-topbar__user-profile  m-dropdown m-dropdown--medium m-dropdown--arrow  m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                <a href="@ViewBag.HelpDocURL" target="_blank" class="m-nav__link">

                                    <span class="m-nav__link-icon m-topbar__usericon">
                                        <span class="m-nav__link-icon-wrapper">
                                            <i class="flaticon-info"></i>
                                        </span>
                                    </span>

                                </a>

                            </li>

                        </ul>*@
                    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow ">
                        <li class="m-menu__item  m-menu__item--submenu m-menu__item--submenu-fullheight" aria-haspopup="true" data-menu-submenu-toggle="click" data-menu-dropdown-toggle-class="m-aside-menu-overlay--on">
                            <a href="#" class="m-menu__link m-menu__toggle">
                                <i class="m-menu__link-icon flaticon-menu"></i>
                                <span class="m-menu__link-text">
                                    Applications
                                </span>
                                <i class="m-menu__ver-arrow la la-angle-right"></i>
                            </a>
                            <div class="m-menu__submenu ">
                                <span class="m-menu__arrow"></span>
                                <div class="m-menu__wrapper">
                                    <ul class="m-menu__subnav" id="LeftMenu">
                                        <li class="m-menu__item  m-menu__item--parent m-menu__item--submenu-fullheight" aria-haspopup="true">
                                            <span class="m-menu__link">
                                                <span class="m-menu__link-text">
                                                    Applications
                                                </span>
                                            </span>
                                        </li>
                                        <li class="m-menu__section">
                                            <h4 class="m-menu__section-text">
                                                Modules
                                            </h4>
                                            <i class="m-menu__section-icon flaticon-more-v3"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>


                    </ul>
                </div>
                <!-- END: Aside Menu -->
            </div>
            <div class="m-aside-menu-overlay"></div>
            <!-- END: Left Aside -->
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <!-- BEGIN: Subheader -->
                <div class="m-subheader " id="divRightMenu" style="display:none">
                    <div class="d-flex align-items-center">
                        <div class="mr-auto">
                            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline" id="RightMenu"></ul>
                        </div>
                    </div>
                </div>
                <!-- END: Subheader -->
                <div class="m-content">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- end:: Body -->
        <!-- begin::Footer -->
        <footer class="m-grid__item		m-footer ">
            <div class="m-container m-container--fluid m-container--full-height m-page__container">

            </div>
        </footer>
        <!-- end::Footer -->
    </div>
    <!-- end:: Page -->
    <!-- begin::Quick Sidebar -->
    <div id="m_quick_sidebar" class="m-quick-sidebar m-quick-sidebar--tabbed m-quick-sidebar--skin-light">
        <div class="m-quick-sidebar__content m--hide">
            <span id="m_quick_sidebar_close" class="m-quick-sidebar__close">
                <i class="la la-close"></i>
            </span>
            <ul id="m_quick_sidebar_tabs" class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--brand" role="tablist">
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_quick_sidebar_tabs_messenger" role="tab">
                        Messages
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_quick_sidebar_tabs_settings" role="tab">
                        Settings
                    </a>
                </li>
                <li class="nav-item m-tabs__item">
                    <a class="nav-link m-tabs__link" data-toggle="tab" href="#m_quick_sidebar_tabs_logs" role="tab">
                        Logs
                    </a>
                </li>
            </ul>
            <div class="tab-content">

            </div>
        </div>
    </div>
    <!-- end::Quick Sidebar -->
    <!-- begin::Scroll Top -->
    <div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
        <i class="la la-arrow-up"></i>
    </div>
    <!-- end::Scroll Top -->		    <!-- begin::Quick Nav -->
    <!-- begin::Quick Nav -->
    <!--begin::Base Scripts -->
    @*<script src="~/Content/assets/vendors/base/vendors.bundle.js"></script>
        <script src="~/Content/assets/demo/demo7/base/scripts.bundle.js"></script>
        @Scripts.Render("~/bundles/kendo")*@
    @*<script src="assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
        <script src="assets/demo/demo7/base/scripts.bundle.js" type="text/javascript"></script>*@
    <!--end::Base Scripts -->
    <!--begin::Page Snippets -->
    @*<script src="assets/app/js/dashboard.js" type="text/javascript"></script>*@
    @*<script src="~/Content/assets/app/js/dashboard.js"></script>*@
    <!--end::Page Snippets -->
</body>
<!-- end::Body -->
</html>
