﻿<div class="m-portlet m-portlet--mobile">

    <div class="m-portlet__body">
        <!--begin: Datatable -->

        @(Html.Kendo().Grid<MEHK.Workflow.CommonWeb.ViewModels.MyDraftGridViewModel>()
                .Name("MyDraftGrid")
                .Columns(columns =>
                {
                columns.Template(@<text></text>).Title(Resources.Resource_Common.Action)
												 .ClientTemplate(
										 "#if(FormType == 'EntertainmentGift') {#" +
										 "<a href='../../MEHK.EntertainmentGift/EntertainmentGift/Edit?ID=#=ID#&Mode=Draft' style='text-decoration: none'> <i class='flaticon-search-magnifier-interface-symbol'></i></a>" +
										 "#}#"

										 ).Width(80);

					columns.Bound(c => c.FormTypeDisplayName);

					columns.Bound(c => c.FormStatus);
					columns.Bound(c => c.CreatedDate).Format("{0:" + Resources.Resource_Common.DisplayDateOnlyFormat + "}");
				})
				.Pageable()
				.Sortable()
				.Scrollable()
				.Filterable()
				.HtmlAttributes(new { style = "height:550px;" })
				.DataSource(dataSource => dataSource
					.Ajax()
					.PageSize(20)
					.Read(read => read.Action("GetMyDrafts", "Home"))
				 )
        )
        <!--end: Datatable -->
    </div>
</div>