﻿<div class="m-portlet m-portlet--mobile">

    <div class="m-portlet__body">
        <!--begin: Datatable -->
		<div class="form-group m-form__group row">
			<label class="col-lg-2 col-form-label">Form Type:</label>
			<div class="col-lg-3">

				@(Html.Kendo().DropDownList()
				.Name("Workflow")
				.OptionLabel("Please Select")
				.BindTo((System.Collections.Generic.IEnumerable<System.Web.Mvc.SelectListItem>
					)ViewBag.TypeList)
					.HtmlAttributes(new { style = "width:100%;" })
				)
			</div>
			<label class="col-lg-2 col-form-label">Form No:</label>
			<div class="col-lg-3">
				<input type="text" id="SerialNo" name="SerialNo" class="form-control k-textbox" value="" style="width:100%">
			</div>
		</div>


		@*<div class="form-group m-form__group row">
			<label class="col-lg-2 col-form-label">Status:</label>
			<div class="col-lg-3">

				@(Html.Kendo().DropDownList()
				.Name("Status")
				.OptionLabel("Please Select")
				.BindTo((System.Collections.Generic.IEnumerable<System.Web.Mvc.SelectListItem>
					)ViewBag.StatusList)
					.HtmlAttributes(new { style = "width:100%;" })
				)
			</div>


		</div>*@


		<div class="form-group m-form__group row">
			<label class="col-lg-2 col-form-label" style="display:none;">Applicant Staff No:</label>
			<div class="col-lg-3" style="display:none;">
				<input type="text" id="ApplicantStaffNo" name="ApplicantStaffNo" class="form-control k-textbox" value="" style="width:100%">
			</div>
			<label class="col-lg-2 col-form-label">Applicant:</label>
			<div class="col-lg-3">
				<input type="text" id="RequestBy" name="RequestBy" class="form-control k-textbox" value="" style="width:100%">
			</div>

			<label class="col-lg-2 col-form-label">Creator:</label>
			<div class="col-lg-3">
				<input type="text" id="Creator" name="Creator" class="form-control k-textbox" value="" style="width:100%">
			</div>
		</div>

		<div class="form-group m-form__group row">

			<label class="col-lg-2 col-form-label">Submission From:</label>
			<div class="col-lg-3">
				@(Html.Kendo().DatePicker()
				  .Name("SubmissionFrom")
				  .Events(e => e.Change("startChange"))
				  .HtmlAttributes(new { style = "width: 100%" })
				  .Format(Resources.Resource_Common.DisplayDateOnlyFormat)
				)
			</div>

			<label class="col-lg-2 col-form-label">Submission To:</label>
			<div class="col-lg-3">
				@(Html.Kendo().DatePicker()
				  .Name("SubmissionTo")
				  .Events(e => e.Change("endChange"))
				  .HtmlAttributes(new { style = "width: 100%" })
				  .Format(Resources.Resource_Common.DisplayDateOnlyFormat)
				)
			</div>
		</div>



		<div class="text-center" style="margin-bottom:30px">
			<button class="btn btn-success" id="btnSearch">Search</button>
			<button class="btn btn-secondary" id="btnClear">Clear</button>
		</div>
		<div id="MyTasksGridAllDIV">
			@(Html.Kendo().Grid<MEHK.Workflow.CommonWeb.ViewModels.MyTaskGridViewModel>()
				.Name("MyTasksGrid")
				.Columns(columns =>
				{
					@*columns.Template(@<text></text>).Title(Resources.Resource_Common.Action)
							.ClientTemplate(
					"#if(FormType == 'EntertainmentGift') {#" +
					"<a href='../../MEHK.EntertainmentGift/EntertainmentGift/Edit?ID=#=ID#&SN=#=K2ItemSerialNo#'' style='text-decoration: none'> <i class='flaticon-search-magnifier-interface-symbol'></i></a>" +
					"#}#"

					).Width(80);*@

			columns.Template(@<text></text>).Title("FormNo")
												 .ClientTemplate(
										 "#if(FormType == 'EntertainmentGift') {#" +
										 "<a href='#:URL#' style='text-decoration: none'> #:FormNo#</a>" +
										 "#}#"

										 ).Width(120);

					//columns.Bound(c => c.isAcrvOrAcap).Width(100);
					columns.Bound(c => c.FormTypeDisplayName).Width(100);
					columns.Bound(c => c.SubmissionDate).Width(100).Format("{0:" + Resources.Resource_Common.DisplayDateOnlyFormat + "}");

					columns.Bound(c => c.CreatedBy).Width(100);
					columns.Bound(c => c.Applicant).Width(100);
					columns.Bound(c => c.FormStatusDisplayName).Width(100);
				})
				.Pageable()
				.Sortable()
				.Scrollable()
				.Filterable()
				.HtmlAttributes(new { style = "height:550px;" })
				.DataSource(dataSource => dataSource
					.Ajax()
					.PageSize(20)
					.Read(read => read.Action("GetMyTasks", "Home").Data("getSearchData"))
				 )
			)
		</div>
		<div id="EntertainmentGiftGridDIV">
						@Html.Partial("~/Views/Home/EntertainmentGiftGrid.cshtml")
		</div>

        <!--end: Datatable -->
    </div>
</div>
<script>
	function ShowWorkflowGrid() {

		//$("#EntertainmentGiftGrid").hide();
		//$("#EntertainmentGiftGrid").hide();
		//var Workflow = $("#Workflow").val();
		//if (Workflow == "EntertainmentGift") {
		//	$("#EntertainmentGiftGrid").show();
		//}
	}
    function startChange() {
        var endPicker = $("#SubmissionTo").data("kendoDatePicker"),
            startDate = this.value();

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate() + 1);
            endPicker.min(startDate);
        }
    }

    function endChange() {
        var startPicker = $("#SubmissionFrom").data("kendoDatePicker"),
            endDate = this.value();

        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate() - 1);
            startPicker.max(endDate);
        }
    }
    function filterStatus() {
    	return {
    		ProcessCode: $("#Workflow").val(),
    	};
    }

    $(function () {
    	$("#EntertainmentGiftGridDIV").hide();

    	$("#btnSearch").click(function () {

    		$("#MyTasksGridAllDIV").hide();
    		$("#EntertainmentGiftGridDIV").hide();
    		var Workflow = $("#Workflow").val();
    		if (Workflow == "EntertainmentGift") {
    			$("#EntertainmentGiftGridDIV").show();
    		} else {
    			$("#MyTasksGridAllDIV").show();
    		}
    		//$("#divSearchGrid").show();
    		$("#MyTasksGrid").data("kendoGrid").dataSource.read();
    		$("#MyTasksEntertainmentGiftGrid").data("kendoGrid").dataSource.read();

    		if ($("#MyTasksGrid").data("kendoGrid").dataSource.page() != 1) {
    			$("#MyTasksGrid").data("kendoGrid").dataSource.page(1);
    		}
    	});

    	$("#btnClear").click(function () {
    		$("#SerialNo").val('');
    		$("#RequestBy").val('');
    		$("#Workflow").data("kendoDropDownList").value('');
    		//$("#Status").data("kendoDropDownList").value('');
    		$("#Creator").val('');
    		$("#ApplicantStaffNo").val('');
    		$("#SubmissionFrom").data('kendoDatePicker').value("");
    		$("#SubmissionTo").data('kendoDatePicker').value("");

    		//$("#MyTasksGrid").data("kendoGrid").dataSource.data([]);
    		//$("#divSearchGrid").show();
    		$("#MyTasksGrid").data("kendoGrid").dataSource.read();
    		$("#MyTasksEntertainmentGiftGrid").data("kendoGrid").dataSource.read();
    		$("#MyTasksGridAllDIV").show();
    		$("#EntertainmentGiftGridDIV").hide();

    		var d = new Date(1900, 1, 1, 0, 0, 0, 0);
    		var d2 = new Date(9999, 12, 31, 0, 0, 0, 0);


    		$("#SubmissionFrom").data('kendoDatePicker').max(d2);
    		$("#SubmissionTo").data('kendoDatePicker').min(d);

    	});

    });

    function getSearchData() {

    	var data = {};


    	if ($("#Workflow").val() && $("#Workflow").val() != 'All') {
    		data.workflow = $("#Workflow").val();
    	}

    	if ($("#Creator").val()) {
    		data.creator = $("#Creator").val();
    	}

    	if ($("#ApplicantStaffNo").val()) {
    		data.applicantStaffNo = $("#ApplicantStaffNo").val();
    	}


    	if ($("#SerialNo").val()) {
    		data.serialNo = $("#SerialNo").val();
    	}

    	if ($("#RequestBy").val()) {
    		data.requestBy = $("#RequestBy").val();
    	}

    	//if ($("#Status").val()) {
    	//	data.statusId = $("#Status").val();
    	//}

    	if ($("#SubmissionFrom").data('kendoDatePicker').value()) {
    		data.submissionFrom = $("#SubmissionFrom").data('kendoDatePicker').value();

    	}

    	if ($("#SubmissionTo").data('kendoDatePicker').value()) {
    		var endDate = $("#SubmissionTo").data('kendoDatePicker').value()
    		data.submissionTo = new Date(endDate.getFullYear(), endDate.getMonth(), endDate.getDate(), 23, 59, 59, 999);
    	}

    	data.mode = $("#Mode").val();

    	return data;
    }
	</script>