﻿

    @(Html.Kendo().Grid<MEHK.Workflow.CommonWeb.ViewModels.SearchGridViewModel>()
                        .Name("SearchTasksPOGrid")
                        .Columns(columns =>
                        {
                            @*columns.Template(@<text></text>)
                                .Title(Resources.Resource_Common.ViewDetails)
                                .ClientTemplate(
                                "<a href='#=URL#' style='text-decoration: none'> <i class='flaticon-search-magnifier-interface-symbol'></i></a>").Width(70);*@
                        //columns.Bound(c => c.PostDate).Width(100).Format("{0:" + Resources.Resource_Common.DisplayDateOnlyFormat + "}").Hidden(!ViewBag.IsACCount);
                        columns.Template(@<text></text>)
                                .Title(Resources.Resource_Common.ViewDetails)
                                .ClientTemplate(
                                "<a href='#=URL#' style='text-decoration: none'>#:SerialNumber#</a>").Width(70);
                            //columns.Bound(c => c.SerialNumber).Width(120);
                            columns.Bound(c => c.Type).Width(100);
                            columns.Bound(c => c.SubmissionDate).Width(100).Format("{0:" + Resources.Resource_Common.DisplayDateOnlyFormat + "}");
                            columns.Bound(c => c.CreatorName).Width(100);
                            columns.Bound(c => c.ApplicantName).Width(100);
                            columns.Bound(c => c.ApplicantStaffNo).Width(100).Hidden();
                            columns.Bound(c => c.Status).Width(80);
                            //columns.Bound(c => c.Step).Width(100);

                        })
                         .ToolBar(tools => tools.Excel())
                        .Excel(excel => excel
             .FileName("Search.xlsx")
        .AllPages(true))
                        .Pageable()
                        .Sortable()
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            .PageSize(20)
                            .Read(read => read.Action(ViewBag.SearchFunction, "Home").Data("getSearchData"))
                         )
                         .AutoBind(true)
    )

<script>
    var checkboxDate = [];
    function checkboxClick(ID, K2ItemSerialNo, checkboxID) {
        if (document.getElementById(checkboxID).checked == true) {
            //alert(ID + "," + K2ItemSerialNo + ",true")
            checkboxDate.push({
                ID: ID,
                SNNum: K2ItemSerialNo
            });
        } else {
            var myArray = [];
            for (var i = 0; i < checkboxDate.length; i++) {
                //var arr = checkboxDate[i].split(",")

                if (ID != checkboxDate[i].ID && K2ItemSerialNo != checkboxDate[i].SNNum) {
                    myArray.push(checkboxDate[i]);
                }

            }
            console.log(myArray)
            checkboxDate = myArray;
        }
    }
    function onDataBinding(arg) {
        checkboxDate = [];
    }
    $("#checkboxAll").click(function () {

        var GridData = $("#MyTasksEntertainmentGiftGrid").data('kendoGrid').dataSource._data;
        if (document.getElementById("checkboxAll").checked == true) {
            var myArray = [];
            for (var i = 0; i < GridData.length; i++) {
                if (GridData[i].FormStatusDisplayName != "Returned" && GridData[i].Step != GridData[i].CreatedBy) {

                    //myArray.push(GridData[i].ID + "," + GridData[i].K2ItemSerialNo);
                    myArray.push({
                        ID: GridData[i].ID,
                        SNNum: GridData[i].K2ItemSerialNo
                    });
                    $("#checkbox" + GridData[i].ID).prop("checked", true)
                }

            }
            checkboxDate = myArray;
            console.log(myArray)
            //$(".GridCheckbox").attr("checked", true)
        } else {
            checkboxDate = [];
            $(".GridCheckbox").prop("checked", false)
        }
        console.log(checkboxDate)
    })

    $("#btnSubmitAll").click(function () {
        //alert(checkboxDate);
        if (checkboxDate.length == 0) {
            swal({ title: "Please choose! " })
            return false;
        }
        console.log(checkboxDate)
        //var list = JSON.stringify(checkboxDate);
        //console.log(list)
        ////
        mApp.blockPage();
        $.ajax({
            type: 'POST',
            url: "../Home/BatchApprove",
            cache: false,
            traditional: true,
            //async: false,
            data: { Models: JSON.stringify(checkboxDate), Type: "EntertainmentGift" },
            success: function (data) {
                if (data.Success) {
                    swal("Submitted")
                    mApp.unblockPage();
                    checkboxDate = [];
                    $(".GridCheckbox").prop("checked", false)
                    $("#MyTasksEntertainmentGiftGrid").data("kendoGrid").dataSource.read();
                } else {
                    swal(data.Title)
                    mApp.unblockPage();
                }
            },
            failure: function (response) {
                mApp.unblockPage();
            }
        });


    })
</script>
