﻿@using MEHK.Workflow.Data.DTO;
@model UserInfoModel
<div class="form-group m-form__group row">
	<label class="col-lg-12 col-form-label formItemTitle">
		General Information
	</label>
</div>
<div class="col-lg-12">
	<div class="card p-1 border" style="background:#f2f3f8">
		<div class="form-group m-form__group row">
			<label class="col-lg-2 col-form-label">@Html.LabelWithColonFor(model => model.FormNo)</label>
			<div class="col-lg-4">
				<label class="col-form-label">@Model.FormNo</label>
			</div>
			<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.SubmissionDate):</label>
			<div class="col-lg-4">
				<label class="col-form-label" id="SubmissionDate">@(Model.SubmissionDate.HasValue ? Model.SubmissionDate.Value.ToString(Resources.Resource_Common.DisplayDateOnlyFormat) : String.Empty)</label>
			</div>
		</div>

		<div class="form-group m-form__group row">
			<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.StaffID):</label>
			<div class="col-lg-4">
				<label class="col-form-label" id="StaffID">@Model.StaffID</label>
			</div>
			<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.StaffName):</label>
			<div class="col-lg-4">
				<label class="col-form-label">@Model.StaffName</label>
			</div>
		</div>


		<div class="form-group m-form__group row">
			<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.Division):</label>
			<div class="col-lg-4">
				<label class="col-form-label">@Model.Division</label>
			</div>
			<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.Department):</label>
			<div class="col-lg-4">
				<label class="col-form-label">@Model.Department</label>
			</div>
		</div>

		<div class="form-group m-form__group row">
			<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.ApplicationDate):</label>
			<div class="col-lg-4">
				<label class="col-form-label">
					@(Model.ApplicationDate.HasValue ? Model.ApplicationDate.Value.ToString(Resources.Resource_Common.DisplayDateOnlyFormat) : String.Empty)
				</label>
			</div>
			<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.Payee):</label>
			<div class="col-lg-4">
				@*<label class="col-form-label" id="ProjectName">@Model.Department</label>*@
				@if (ViewData["ViewmodelType"].ToString() == "Create")
			{
					@(Html.Kendo().DropDownListFor(e => e.Payee)
										  .DataTextField("MemberName")
										  .DataValueField("MemberId")
										  .OptionLabel("--Please Select--")
										  .Filter("contains")
										  .Events(e => e.Change("SetApprovalMartixOptionCode"))
										  .DataSource(source =>
										  {
											  source.Read(read =>
											  {
												  read.Action("GetMemberList", "EntertainmentGift").Data("getUserFilterData");
											  }).ServerFiltering(true);
										  })
										  .HtmlAttributes(new { style = "width: 90%" })

					)
			}
			else
			{
					<label class="col-form-label">@Model.PayeeName</label>
			}

			</div>
		</div>

		<div class="form-group m-form__group row">
			<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.FormStatus):</label>
			<div class="col-lg-4">
				<label class="col-form-label">
					@Model.FormStatus
				</label>
			</div>
			<label class="col-lg-2 col-form-label"></label>
			<div class="col-lg-4">

			</div>
		</div>
	</div>
</div>