﻿
@{
    ViewBag.Title = "AlternativePayee";
}
<div class="m-portlet">
    <div class="m-portlet__body">

        <div class="form-group m-form__group row">

            <label class="col-lg-1 col-form-label">Payee :</label>
            <div class="col-lg-4">
                @(Html.Kendo().DropDownList()
                                          .Name("DropListPayee")
                                          .DataTextField("MemberName")
                                          .DataValueField("MemberId")
                                          .Filter("contains")
                                          .Events(e => { e.Change("DropListPayeeonChange"); })
                                          .OptionLabel("--Please Select--")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Action("GetMemberList", "Admin");
                                              }).ServerFiltering(true);
                                          })
                                          .HtmlAttributes(new { style = "width: 100%" })

                )
            </div>

        </div>

        <div class="row">
            <label class="offset-md-1 col-md-4">All Member</label>
            <label class="col-md-5">Already add Member</label>
        </div>

        <div class="row">
            <div class="col-lg-4">
                @Html.Kendo().TextBox().Name("GroupfilterAll").HtmlAttributes(new { style = "width:430px", oninput = "GroupfilterAll(this)" })
            </div>
            @*<div class="col-lg-2" style="padding-right: 8px;"></div>*@
            <div class="col-lg-3">
                @Html.Kendo().TextBox().Name("GroupfilterExist").HtmlAttributes(new { style = "width:465px", oninput = "GroupfilterExist(this)" })
            </div>
        </div>

        <div class="row">

            @(Html.Kendo().ListBox()
             .Name("AlternativePayeeAllMember")
            .DataValueField("MemberId")
            .DataTextField("MemberName")
           .Toolbar(toolbar =>
           {
               toolbar.Position(Kendo.Mvc.UI.Fluent.ListBoxToolbarPosition.Right);
               toolbar.Tools(tools => tools
                   //.MoveUp()
                   //.MoveDown()
                   .TransferTo()
                   .TransferFrom()
                   .TransferAllTo()
                   .TransferAllFrom()
               //.Remove()
               );
           })
           .Draggable(true)
          .DropSources("AlternativePayeeExistMember")
          .Events(ev => ev
                .Add("function(e){setAlternativePayeeDiscontinued(e, false)}")
                .Remove("function(e){setAlternativePayeeDiscontinued(e, true)}"))
          .ConnectWith("AlternativePayeeExistMember")
            .HtmlAttributes(new { title = "Member", @class = "col-md-4", style = "height :430px" })
           .BindTo(new List<MEHK.Workflow.Data.DTO.AlternativePayeeViewModel>())
            .Selectable(ListBoxSelectable.Multiple) )

            @(Html.Kendo().ListBox()
            .Name("AlternativePayeeExistMember")
            .Draggable(true)
            .DropSources("AlternativePayeeAllMember")
            .DataValueField("MemberId")
            .DataTextField("MemberName")
            .ConnectWith("AlternativePayeeAllMember")
            .HtmlAttributes(new { @class = "col-md-4", style = "height :430px" })
            .BindTo(new List<MEHK.Workflow.Data.DTO.AlternativePayeeViewModel>())
            .Selectable(ListBoxSelectable.Multiple)
            )
        </div>

        <br />
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-1">
                <input type="button" value="Update" name="submitButton" class="btn btn-info btn-xs" onclick="saveAlternativePayee()" />
            </div>
            <div class="col-md-1">
                    <input type="button" value="Cancel" class="btn default" onclick="cancelAlternativePayee()" />
                </div>

        </div>

    </div>
</div>




<script>

    $(document).ready(function () {
        //  BindAlternativePayeeListbox(168);
        
    })

    function DropListPayeeonChange() {
        var MemberId = $("#DropListPayee").val();
        BindAlternativePayeeListbox(MemberId);
       
    };
    function GroupfilterAll(e) {
        var listSource = $("#AlternativePayeeAllMember").data("kendoListBox").dataSource;
        var andfilter = { logic: "and", filters: [] };
        listSource.filter({ field: "MemberName", operator: "contains", value: $(e).val() });
    };
    function GroupfilterExist(e) {
        var listSource = $("#AlternativePayeeExistMember").data("kendoListBox").dataSource;
        //var listuser = $("#GroupfilterExist").data("kendoListBox");
        var andfilter = { logic: "and", filters: [] };
        listSource.filter({ field: "MemberName", operator: "contains", value: $(e).val() });
    };
    var AlternativePayeeDataSource;
    var AlternativePayeeDataSource1;
    var AlternativePayeeDataSource2;
    function BindAlternativePayeeListbox(MemberId) {

        AlternativePayeeDataSource = new kendo.data.DataSource({

            transport: {
                read: {
                    async: false,
                    cache: false,
                    url: "../Admin/GetListBpxMemberAlternativePayee?nid=" + MemberId,
                    dataType: "json"
                },
                update: {
                    url: "../Admin/UpdateAlternativePayee",
                    dataType: "json",
                    type: "POST",
                    complete: function (e) {
                        mApp.unblockPage();
                        swal({
                            title: "Success!"
                        })
                    },
                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        //return { models: JSON.stringify(options.models) };
                        mApp.blockPage();
                        return { models: kendo.stringify(options.models) };
                    }
                }
            },

            batch: true,
            schema: {
                model: {
                    id: "MemberId",
                    fields: {
                        MemberId: { editable: false, nullable: true },
                        MemberName: { type: "string" },
                        bexist: { type: "boolean" },

                    }
                }
            }
        });
        debugger;
        AlternativePayeeDataSource1 = new kendo.data.DataSource({
            transport: {
                read: {
                    cache: false,
                    async: false,
                    url: "../Admin/GetListBpxMemberAlternativePayee?nid=" + MemberId + "&bExist=0",
                    dataType: "json",
                },

                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {

                        return { models: kendo.stringify(options.models) };
                    }
                }
            },

            batch: true,
            schema: {
                model: {
                    id: "MemberId",
                    fields: {
                        MemberId: { editable: false, nullable: true },
                        MemberName: { type: "string" },
                        bexist: { type: "boolean" },

                    }
                }
            }
        });

        AlternativePayeeDataSource2 = new kendo.data.DataSource({
            serverFiltering: false,

            transport: {
                read: {
                    cache: false,
                    async: false,
                    url: "../Admin/GetListBpxMemberAlternativePayee?nid=" + MemberId + "&bExist=1",
                    dataType: "json"
                },

                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {

                        return { models: kendo.stringify(options.models) };
                    }
                }
            },

            batch: true,
            schema: {
                model: {
                    id: "MemberId",
                    fields: {
                        MemberId: { editable: false, nullable: true },
                        MemberName: { type: "string" },
                        bexist: { type: "boolean" },

                    }
                }
            }
        });

        AlternativePayeeDataSource.read();
        var ListAll = $("#AlternativePayeeAllMember").data("kendoListBox");
        var ListExist = $("#AlternativePayeeExistMember").data("kendoListBox")


        ListAll.setDataSource(AlternativePayeeDataSource1);
        ListExist.setDataSource(AlternativePayeeDataSource2);


    }

    function saveAlternativePayee() {
        AlternativePayeeDataSource.sync();
        //var wnd = $("#AlternativePayeePopUp").data("kendoWindow");
        //wnd.center().close();
    }
    function cancelAlternativePayee() {
        window.location.reload();
    }
    function setAlternativePayeeDiscontinued(ev, flag) {
        var removedItems = ev.dataItems;
        for (var i = 0; i < removedItems.length; i++) {
            var item = AlternativePayeeDataSource.get(removedItems[i].id);

            item["bExist"] = flag;

            item.dirty = !item.dirty;
        }
    }
    
</script>


