﻿
@{
    ViewBag.Title = "AnnualBudget";
}
<div class="m-portlet">
	<div class="m-portlet__body">
		<div class="form-group m-form__group row">
			@(Html.Kendo().Grid<MEHK.Workflow.Admin.Models.AnnualBudgetViewModels>()
    .Name("AnnualBudgetGrid")
    .Columns(columns =>
    {
        columns.Bound(o => o.BudgetYear).Width(100);
        columns.Bound(o => o.Division).Width(200);
        columns.Bound(o => o.Version).Width(100);
        columns.Bound(o => o.EntertainBudget).Width(100);
        columns.Bound(o => o.GiftBudget).Width(100);
        columns.Command(command =>
        {
            command.Edit(); command.Destroy();
        }).Width(250);
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("AnnualBudgetEditorTemplates").Window(w => w.Width(750)))
    .ToolBar(toolbar => toolbar.Create())
    .Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .IsEqualTo("Is equal to")
            .StartsWith("Starts with")
                .IsNotEqualTo("Is not equal to")
            )
            )
        )
    .Events(e => e.Save("GridSave"))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Model(model => model.Id(p => p.ID))
        .Create(update => update.Action("CreateAnnualBudget", "Admin"))
        .Read(read => read.Action("GetAnnualBudget", "Admin"))
    .Update(update => update.Action("UpdateAnnualBudget", "Admin"))
    .Destroy(update => update.Action("DeleteAnnualBudget", "Admin"))
    )
			)
		</div>
	</div>
</div>
<script>
	function GridSave(e) {
	    var BudgetYear = $("#BudgetYear").val();
	    var AnnualBudgetVersionCode = $("#AnnualBudgetVersionCode").val();
	    var DivisionID = $("#DivisionID").val();
	    var ID = $("#ID").val();

	    if (BudgetYear == "" || AnnualBudgetVersionCode == "" || DivisionID=="") {
	        AlertMessage("", "Data cannot be empty!")
	        e.preventDefault();
	        return false;
	    }

	    $.ajax({
	        type: 'POST',
	        url: 'DduplicationnnualBudget',
	        async: false,
	        data: {
	            BudgetYear: BudgetYear,
	            AnnualBudgetVersionCode: AnnualBudgetVersionCode,
	            DivisionID: DivisionID,
	            ID: ID,
	        },
	        success: function (data) {
	            console.log(data)
	            if (data.Success) {
	                AlertMessage("", "Data duplication!")
	                e.preventDefault();
	                return false;
	            }
	        }
	    });

	} function AlertMessage(title, html) {
	    swal({
	        title: title,
	        html: html,
	        type: 'warning',
	        target: '.k-window',
	        showCancelButton: false,
	        confirmButtonText: "OK"
	    });
	}
</script>

