﻿
@{
	ViewBag.Title = "ApprovalMartixView";
}
<style>
     .k-edit-form-container { width: auto;}
</style>
<div class="m-portlet">
	<div class="m-portlet__body">
		<div class="form-group m-form__group row">
			@(Html.Kendo().Grid<MEHK.Workflow.Admin.Models.ApprovalMartixViewModels>()
    .Name("ApprovalMartixGrid")
    .Columns(columns =>
    {
        columns.Bound(o => o.ApprovalMartixName).Width(100);
        columns.Bound(o => o.ProcessName).Width(100);
        columns.Bound(o => o.UnitName).Width(100);
        columns.Bound(o => o.Priority).Format("{0:n2}").Width(100);
        columns.Bound(o => o.RoleName).Width(100);
        columns.Bound(o => o.ApprovalMartixOptionName).Width(100);
        columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
    })


    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("ApprovalMartixEditorTemplatesView")
    .Window(w => w.Width(870))

    )

    .ToolBar(toolbar => toolbar.Create())
    .Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .IsEqualTo("Is equal to")
            .StartsWith("Starts with")
                .IsNotEqualTo("Is not equal to")
            )
            )
        )

		.Events(e=>e.Save("GridSave"))
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Model(model => model.Id(p => p.ApprovalMartixId))
        .Create(update => update.Action("CreateApprovalMartix", "Admin"))
        .Read(read => read.Action("GetApprovalMartix", "Admin"))
    .Update(update => update.Action("UpdateApprovalMartix", "Admin"))
    .Destroy(update => update.Action("DeleteApprovalMartix", "Admin")))
    )
			
		</div>
	</div>
</div>
<script>
	//function GridVerification(e, Model) {
	//	if (e.type == "update") {
	//		var mode = e.ID;
	//		var container = e.container;
	//		//alert("Yes")
	//	}
	//	return false;
	//}
	function GridSave(e) {
		var ApprovalMartixId = $("#ApprovalMartixId").val();
		var ProcessId = $("#ProcessId").val();
		var ApprovalMartixName = $("#ApprovalMartixName").val();
		var UnitId = parseInt($("#UnitIdText").val());
		var ApprovalMartixOptionCode = $("#ApprovalMartixOptionCode").val();

	
			$.ajax({
				type: 'POST',
				url: 'GetApprovalMartixList',
				async: false,
				data: {
					ProcessId: ProcessId,
					//ApprovalMartixName: ApprovalMartixName,
					UnitId: UnitId,
					ApprovalMartixOptionCode: ApprovalMartixOptionCode
				},
				success: function (data) {
					console.log(data)
					if (data.Success) {
						AlertMessage("", "Approval matrix duplicated create!")
						e.preventDefault();
						return false;
					} else {

					
		

		var ApprovalIsNull = [];
		var Supervisor1_CriteriaType = $("#Supervisor1_CriteriaType").val();
		var Supervisor1_Criteria = $("#Supervisor1_Criteria").val();
		if ((Supervisor1_CriteriaType == "" || Supervisor1_Criteria == "")) {
			ApprovalIsNull.push(true)
		}
		var Supervisor2_CriteriaType = $("#Supervisor2_CriteriaType").val();
		var Supervisor2_Criteria = $("#Supervisor2_Criteria").val();
		if ((Supervisor2_CriteriaType == "" || Supervisor2_Criteria == "")) {
			ApprovalIsNull.push(true)
		}
		var AssistantManger_CriteriaType = $("#AssistantManger_CriteriaType").val();
		var AssistantManger_Criteria = $("#AssistantManger_Criteria").val();
		if ((AssistantManger_CriteriaType == "" || AssistantManger_Criteria == "")) {
			ApprovalIsNull.push(true)
		}
		var DepartmentManager_CriteriaType = $("#DepartmentManager_CriteriaType").val();
		var DepartmentManager_Criteria = $("#DepartmentManager_Criteria").val();
		if ((DepartmentManager_CriteriaType == "" || DepartmentManager_Criteria == "")) {
			ApprovalIsNull.push(true)
		}
		var SeniorManager_CriteriaType = $("#SeniorManager_CriteriaType").val();
		var SeniorManager_Criteria = $("#SeniorManager_Criteria").val();
		if ((SeniorManager_CriteriaType == "" || SeniorManager_Criteria == "")) {
			ApprovalIsNull.push(true)
		}
		var DepartmentGeneralManager_CriteriaType = $("#DepartmentGeneralManager_CriteriaType").val();
		var DepartmentGeneralManager_Criteria = $("#DepartmentGeneralManager_Criteria").val();
		if ((DepartmentGeneralManager_CriteriaType == "" || DepartmentGeneralManager_Criteria == "")) {
			ApprovalIsNull.push(true)
		}
		var GeneralManager_CriteriaType = $("#GeneralManager_CriteriaType").val();
		var GeneralManager_Criteria = $("#GeneralManager_Criteria").val();
		if ((GeneralManager_CriteriaType == "" || GeneralManager_Criteria == "")) {
			ApprovalIsNull.push(true)
		}
		var GPAD_CriteriaType = $("#GPAD_CriteriaType").val();
		var GPAD_Criteria = $("#GPAD_Criteria").val();
		if ((GPAD_CriteriaType == "" || GPAD_Criteria == "")) {
			ApprovalIsNull.push(true)
		}
		var MD_CriteriaType = $("#MD_CriteriaType").val();
		var MD_Criteria = $("#MD_Criteria").val();
		if ((MD_CriteriaType == "" || MD_Criteria == "")) {
			ApprovalIsNull.push(true)
		}
		var ACVerification_CriteriaType = $("#ACVerification_CriteriaType").val();
		var ACVerification_Criteria = $("#ACVerification_Criteria").val();
		if ((ACVerification_CriteriaType == "" || ACVerification_Criteria == "")) {
			ApprovalIsNull.push(true)
		}
		var ACVerification2_CriteriaType = $("#ACVerification2_CriteriaType").val();
		var ACVerification2_Criteria = $("#ACVerification2_Criteria").val();
		if ((ACVerification2_CriteriaType == "" || ACVerification2_Criteria == "")) {
			ApprovalIsNull.push(true)
		}
		var ACApproval_CriteriaType = $("#ACApproval_CriteriaType").val();
		var ACApproval_Criteria = $("#ACApproval_Criteria").val();
		if ((ACApproval_CriteriaType == "" || ACApproval_Criteria == "")) {
			ApprovalIsNull.push(true)
		}
		var HRVerification_CriteriaType = $("#HRVerification_CriteriaType").val();
		var HRVerification_Criteria = $("#HRVerification_Criteria").val();
		if ((HRVerification_CriteriaType == "" || HRVerification_Criteria == "")) {
			ApprovalIsNull.push(true)
		}
		var HRVerification2_CriteriaType = $("#HRVerification2_CriteriaType").val();
		var HRVerification2_Criteria = $("#HRVerification2_Criteria").val();
		if ((HRVerification2_CriteriaType == "" || HRVerification2_Criteria == "")) {
			ApprovalIsNull.push(true)
		}
		var HRApprova_CriteriaType = $("#HRApprova_CriteriaType").val();
		var HRApprova_Criteria = $("#HRApprova_Criteria").val();
		if ((HRApprova_CriteriaType == "" || HRApprova_Criteria == "")) {
			ApprovalIsNull.push(true)
		}
		if (ApprovalIsNull.length ==15) {
			AlertMessage("", "Please enter Approval Criteria Type and Approval Criteria!")
			e.preventDefault();
		}

					}
				},
				failure: function (response) {

				}
			});
		return false;

	}
	function AlertMessage(title, html) {
		swal({
			title: title,
			html: html,
			type: 'warning',
			target: '.k-window',
			showCancelButton: false,
			confirmButtonText: "OK"
		});
	}
	</script>
