﻿
@{
	ViewBag.Title = "Right";
}

<div class="m-portlet">
	<div class="m-portlet__body">
		<div class="form-group m-form__group row">
			@(Html.Kendo().Grid<MEHK.Workflow.Admin.Models.ApprovalMartixViewModels>()
	.Name("ApprovalMartixGrid")
	.Columns(columns =>
	{
		columns.Bound(o => o.ApprovalMartixName).Width(100);
		columns.Bound(o => o.ProcessName).Width(100);
		columns.Bound(o => o.UnitName).Width(100);
		columns.Bound(o => o.Priority).Format("{0:n2}").Width(100);
		columns.Bound(o => o.RoleName).Width(100);
		columns.Bound(o => o.ApprovalMartixOptionName).Width(100);
		columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
	})

	.Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("ApprovalMartixEditorTemplates").Window(e=>e.HtmlAttributes(new { @width = "1000px" })))
	.ToolBar(toolbar => toolbar.Create())
	.Filterable(filterable => filterable
		.Extra(false)
		.Operators(operators => operators
			.ForString(str => str.Clear()
				.IsEqualTo("Is equal to")
			.StartsWith("Starts with")
				.IsNotEqualTo("Is not equal to")
			)
			)
		)
	.Pageable()
	.Sortable()
	.Scrollable()
	.HtmlAttributes(new { style = "height:550px;" })
	.DataSource(dataSource => dataSource
		.Ajax()
		.PageSize(20)
		.Model(model => model.Id(p => p.ApprovalMartixId))
		.Create(update => update.Action("CreateApprovalMartix", "Admin"))
		.Read(read => read.Action("GetApprovalMartix", "Admin"))
	.Update(update => update.Action("UpdateApprovalMartix", "Admin"))
	.Destroy(update => update.Action("DeleteApprovalMartix", "Admin"))
	)
			)
		</div>
	</div>
</div>

