﻿

@{
	ViewBag.Title = "CostCenter";
}

<div class="m-portlet">
	<div class="m-portlet__body">
		<div class="form-group m-form__group row">
			@(Html.Kendo().Grid<MEHK.Workflow.Admin.Models.CostCenterViewModels>()
	.Name("CostCenterGrid")
	.Columns(columns =>
	{
		columns.Bound(o => o.Code).Width(100);
		columns.Bound(o => o.Description).Width(100);
		columns.Bound(o => o.PIC).Width(100);
		columns.Command(command => { command.Edit(); command.Destroy(); }).Width(250);
	})

	.Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("CostCenterEditorTemplates"))
	.ToolBar(toolbar => toolbar.Create())
	.Filterable(filterable => filterable
		.Extra(false)
		.Operators(operators => operators
			.ForString(str => str.Clear()
				.IsEqualTo("Is equal to")
			.StartsWith("Starts with")
				.IsNotEqualTo("Is not equal to")
			)
			)
		)
	.Pageable()
	.Sortable()
	.Scrollable()
	.HtmlAttributes(new { style = "height:550px;" })
	.DataSource(dataSource => dataSource
		.Ajax()
		.PageSize(20)
		.Model(model => model.Id(p => p.CostCenterId))
		.Create(update => update.Action("CreateCostCenter", "Admin"))
		.Read(read => read.Action("GetCostCenter", "Admin"))
	.Update(update => update.Action("UpdateCostCenter", "Admin"))
	.Destroy(update => update.Action("DeleteCostCenter", "Admin"))
	)
			)
		</div>
	</div>
</div>



