﻿
@{
    ViewBag.Title = "Currency";
}

<div class="m-portlet">
	<div class="m-portlet__body">
		<div class="form-group m-form__group row">
			@(Html.Kendo().Grid<MEHK.Workflow.Admin.Models.CurrencyViewModels>()
    .Name("GroupGrid")
    .Columns(columns =>
    {
        columns.Bound(o => o.SortSeq).Width(100);
        columns.Bound(o => o.CurrencyName).Width(100);
        //columns.Bound(o => o.ExchangeRate).Format("{0:n2}").Width(100);
        columns.Command(command =>
        {
            command.Edit();
            command.Destroy();
        }).Width(250);
    })

    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("CurrencyEditorTemplates"))
    .ToolBar(toolbar => toolbar.Create())
    .Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .IsEqualTo("Is equal to")
            .StartsWith("Starts with")
                .IsNotEqualTo("Is not equal to")
            )
            )
        )
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        //.Events(events => events.Error("error_handler"))
        .Model(model => model.Id(p => p.CurrencyID))
        .Create(update => update.Action("CreateCurrency", "Admin"))
        .Read(read => read.Action("GetCurrency", "Admin"))
    .Update(update => update.Action("UpdateCurrency", "Admin"))
    .Destroy(update => update.Action("DeleteCurrency", "Admin"))
    )
			)
		</div>
	</div>
</div>

