﻿@model MEHK.Workflow.Data.DTO.DelegationViewModel
@{
    ViewBag.Title = "Delegation";
}
<script>
    $(document).ready(function () {
        ActiveUserId = $("#DropListActiveUser").data("kendoDropDownList")

    });
    function filterActiveUser() {
        return {
            nid: $("#DropListActiveUser").val()
        };
    }


</script>
<div class="m-portlet">
    <div class="m-portlet__body">

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label">Active User :</label>
            <div class="col-lg-3">
                @(Html.Kendo().DropDownList()
                                          .Name("DropListActiveUser")
                                          .DataTextField("MemberName")
                                          .DataValueField("MemberId")
                                          .Filter("contains")
                                          //.Events(e => { e.Change("DropListPayeeonChange"); })
                                          .OptionLabel("--Please Select--")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Action("GetMemberList", "../MEHK.dashboard/Home");
                                              }).ServerFiltering(true);
                                          })
                                          .HtmlAttributes(new { style = "width: 100%" })

                )
            </div>
        </div>



        <div class="form-group m-form__group row">

            <label class="col-lg-2 col-form-label">Assign User :</label>
            <div class="col-lg-3">
                @(Html.Kendo().DropDownList()
                                          .Name("DropListPayee")
                                          .DataTextField("MemberName")
                                          .DataValueField("MemberId")
                                          .Filter("contains")
                                          //.Events(e => { e.Change("DropListPayeeonChange"); })
                                          .OptionLabel("--Please Select--")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Action("GetMemberList", "../MEHK.dashboard/Home").Data("filterActiveUser");
                                              }).ServerFiltering(true);
                                          })
                                          .HtmlAttributes(new { style = "width: 100%" })
                                          .Enable(false)
                                          .AutoBind(false)
                                          .CascadeFrom("DropListActiveUser")
                )
            </div>

            <label class="col-lg-2 col-form-label">Process :</label>
            <div class="col-lg-3">
                @(Html.Kendo().DropDownList()
                                          .Name("DropListProcess")
                                          .DataTextField("ProcessName")
                                          .DataValueField("Code")
                                          .Filter("contains")
                                          //.Events(e => { e.Change("DropListPayeeonChange"); })
                                          .OptionLabel("--Please Select--")
                                          .DataSource(source =>
                                          {
                                              source.Read(read =>
                                              {
                                                  read.Action("GetProcessList", "../MEHK.Admin/Admin");
                                              }).ServerFiltering(true);
                                          })
                                          .HtmlAttributes(new { style = "width: 100%" })

                )
            </div>
        </div>

        <div class="form-group m-form__group row">
            <label class="col-lg-2 col-form-label">From Date:</label>
            <div class="col-md-3">
                @(Html.Kendo().DatePicker()
                 .Name("datepickerFrom")
                  .HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                )
            </div>

            <label class="col-lg-2 col-form-label">To Date:</label>
            <div class="col-md-3">
                @(Html.Kendo().DatePicker()
                  .Name("datepickerTo")
                  .HtmlAttributes(new { style = "width: 100%", title = "datepicker" })
                )
            </div>

        </div>

        <div class="form-group m-form__group row">
            <div class="col-md-3">
            </div>
            <div class="col-md-1">
                <input type="button" value="Save" name="submitButton" class="btn btn-info btn-xs" onclick="saveDelegation()" />
            </div>
            <div class="col-md-1">
                <input type="button" value="Cancel" class="btn default" onclick="cancelDelegation()" />
            </div>

        </div>

        <div class="form-group m-form__group row">

            @(Html.Kendo().Grid<MEHK.Workflow.Data.DTO.DelegationViewModel>()
    .Name("DelegationGrid")
    .Columns(columns =>
    {
        columns.Bound(o => o.Id).Width(60);
        columns.Bound(o => o.UserName).Width(180);
        columns.Bound(o => o.AssignUserName).Width(180);
        columns.Bound(o => o.ProcessName).Width(220);
        columns.Bound(o => o.FormDate).Width(100).Format("{0:MM/dd/yyyy}");
        columns.Bound(o => o.ToDate).Width(100).Format("{0:MM/dd/yyyy}");
        columns.Command(command =>
        {
            command.Destroy();
        }).Width(250);
    })
    //.ToolBar(toolbar => toolbar.Create())
    .Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .IsEqualTo("Is equal to")
            .StartsWith("Starts with")
                .IsNotEqualTo("Is not equal to")
            )
            )
        )
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        //.Events(events => events.Error("error_handler"))
        .Model(model => model.Id(p => p.Id))
    //  .Create(update => update.Action("CreateGroup", "Admin"))
        .Read(read => read.Action("GetDelegationByCrateby", "../MEHK.dashboard/Home"))
    //.Update(update => update.Action("UpdateGroup", "Admin"))
    .Destroy(update => update.Action("DeleteDelegation", "../MEHK.dashboard/Home"))
    )
            )
        </div>


    </div>
</div>




<script>
    function saveDelegation() {
        if ($("#DropListActiveUser").val() == "") {
            AlertMessage("", "Please Select Active User!")
            return;
        }
        if ($("#DropListPayee").val() == "") {
            AlertMessage("","Please Select Assign User")
            return;
        }
        if ($("#DropListProcess").val() == "") {
            AlertMessage("","Please Select Process")
            return;
        }
        if ($("#DropListActiveUser").val()==$("#DropListPayee").val()) {
            AlertMessage("","Error:User Repetition,Please Select Assign User")
            return;
        }
        var startTime = Date.parse($("#datepickerFrom").val());
        var endTime = Date.parse($("#datepickerTo").val());
        if (startTime > endTime) {
            AlertMessage("","Date Error")
            return;
        }
        var Process=$("#DropListProcess").data("kendoDropDownList");
        $.ajax({
            type: "post",
            url: "/MEHK.dashboard/Home/CreateDelegation",
            data: {
                UserID: $("#DropListActiveUser").val(),
                AssignUserID: $("#DropListPayee").val(),
                FormDate: $("#datepickerFrom").val(),
                ToDate: $("#datepickerTo").val(),
                ProcessCode: Process.value(),
                ProcessName: Process.text()
            },
            success: function (data) {
                if (data =="success")
                    $("#DelegationGrid").data("kendoGrid").dataSource.read();
                else
                    AlertMessage("",data);
            }
        });

    };

    function cancelDelegation() {
        window.location.reload();
    }
    function AlertMessage(title, html) {
        swal({
            title: title,
            html: html,
            type: 'warning',
            target: '.k-window',
            showCancelButton: false,
            confirmButtonText: "OK"
        });
    }
</script>


