﻿
@{
    ViewBag.Title = "EmailTemplate";
}

<div class="m-portlet">
	<div class="m-portlet__body">
		<div class="form-group m-form__group row">
			@(Html.Kendo().Grid<MEHK.Workflow.Admin.Models.EmailTemplateViewModels>()
	.Name("EmailTemplateGrid")
	.Columns(columns =>
	{
		//columns.Bound(o => o.ID).Width(100);
		columns.Bound(o => o.ProcessName).Width(100);
		columns.Bound(o => o.SubjectView).Title("Subject").Width(100);
		columns.Bound(o => o.BodyView).Title("Body").Width(100);
		columns.Bound(o => o.ContentType).Width(100);
		columns.Command(command =>
		{
			command.Edit(); command.Destroy();

		}).Width(250);
	})

	.Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("EmailTemplateEditorTemplates"))
	.ToolBar(toolbar => toolbar.Create())
	.Filterable(filterable => filterable
		.Extra(false)
		.Operators(operators => operators
			.ForString(str => str.Clear()
				.IsEqualTo("Is equal to")
			.StartsWith("Starts with")
				.IsNotEqualTo("Is not equal to")
			)
			)
		)
	.Pageable()
	.Sortable()
	.Scrollable()
	.HtmlAttributes(new { style = "height:550px;" })
	.DataSource(dataSource => dataSource
		.Ajax()
		.PageSize(20)
		.Model(model => model.Id(p => p.ID))
		.Create(update => update.Action("CreateEmailTemplate", "Admin"))
		.Read(read => read.Action("GetEmailTemplate", "Admin"))
	.Update(update => update.Action("UpdateEmailTemplate", "Admin"))
	.Destroy(update => update.Action("DeleteEmailTemplate", "Admin"))
	)
			)
		</div>
	</div>
</div>

