﻿
@{
    ViewBag.Title = "EntertainmentGiftLimit";
}

<div class="m-portlet">
	<div class="m-portlet__body">
		<div class="form-group m-form__group row">
			@(Html.Kendo().Grid<MEHK.Workflow.Admin.Models.EntertainmentGiftLimitViewModels>()
	.Name("GroupGrid")
	.Columns(columns =>
	{
		columns.Bound(o => o.Value).Width(100);
		columns.Bound(o => o.Text).Width(100);
		columns.Bound(o => o.EffectiveDate).Format("{0:" + Resources.Resource_Common.DisplayDateOnlyFormat + "}").Width(200);
		//columns.Bound(o => o.ExchangeRate).Format("{0:n2}").Width(100);
		columns.Command(command =>
		{
			command.Edit();
			// command.Destroy();
		}).Width(250);
	})

	.Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("EntertainmentGiftLimitEditorTemplates"))
	//.ToolBar(toolbar => toolbar.Create())
	.Filterable(filterable => filterable
		.Extra(false)
		.Operators(operators => operators
			.ForString(str => str.Clear()
				.IsEqualTo("Is equal to")
			.StartsWith("Starts with")
				.IsNotEqualTo("Is not equal to")
			)
			)
		)
	.Pageable()
	.Sortable()
	.Scrollable()
	.HtmlAttributes(new { style = "height:550px;" })
	.DataSource(dataSource => dataSource
		.Ajax()
		.PageSize(20)
		//.Events(events => events.Error("error_handler"))
		.Model(model => model.Id(p => p.ID))
	   .Create(update => update.Action("CreateCurrency", "Admin"))
		.Read(read => read.Action("GetEntertainmentGiftLimit", "Admin"))
	.Update(update => update.Action("UpdateEntertainmentGiftLimit", "Admin"))
	.Destroy(update => update.Action("DeleteCurrency", "Admin"))
	)
			)
		</div>
	</div>
</div>

