﻿
@(Html.Kendo().Window()
				.Name("GroupMemberPopUp")
				.Title("Group Member")
				.Visible(false)
				.Modal(true)
				.Draggable(true)
				.Width(600).Height(500)
)
@*<a href="~/Views/Admin/ApprovalMartix.cshtml">~/Views/Admin/ApprovalMartix.cshtml</a>*@

<script type="text/x-kendo-template" id="GroupMemberTemplate">
	<div class="row">
		<label class="offset-md-2 col-md-5">All Member</label>
		<label class="col-md-3">Already add Member</label>
	</div>
	<div class="row">
		<div class="col-lg-3">
			@Html.Kendo().TextBox().Name("GroupfilterAll").HtmlAttributes(new { style = "width:240px", oninput = "GroupfilterAll(this)" })
		</div>
		<div class="col-lg-2" style="padding-right: 8px;"></div>
		<div class="col-lg-3">
			@Html.Kendo().TextBox().Name("GroupfilterExist").HtmlAttributes(new { style = "width:275px", oninput = "GroupfilterExist(this)" })
		</div>
	</div>
	<div class="row">
		@(Html.Kendo().ListBox()
			.Name("GroupMemberAllMember")
			.DataValueField("MemberId")
			.DataTextField("MemberName")
			.Toolbar(toolbar =>
			{
				toolbar.Position(Kendo.Mvc.UI.Fluent.ListBoxToolbarPosition.Right);
				toolbar.Tools(tools => tools
					//.MoveUp()
					//.MoveDown()
					.TransferTo()
					.TransferFrom()
					.TransferAllTo()
					.TransferAllFrom()
				//.Remove()
				);
			})
			.Draggable(true)
			.DropSources("GroupMemberExistMember")
			.Events(ev => ev
				.Add("function(e){setGroupMemberDiscontinued(e, false)}")
				.Remove("function(e){setGroupMemberDiscontinued(e, true)}"))
			.ConnectWith("GroupMemberExistMember")
			.HtmlAttributes(new { title = "Member", @class = "col-md-6", style = "height :300px" })
			.BindTo(new List<MEHK.Workflow.Data.DTO.GroupMemberViewModel>())
			.Selectable(ListBoxSelectable.Multiple).ToClientTemplate()
		)

		@(Html.Kendo().ListBox()
			.Name("GroupMemberExistMember")
			.Draggable(true)
			.DropSources("GroupMemberAllMember")
			.DataValueField("MemberId")
			.DataTextField("MemberName")
			.ConnectWith("GroupMemberAllMember")
			.HtmlAttributes(new { @class = "col-md-6", style = "height :300px" })
			.BindTo(new List<MEHK.Workflow.Data.DTO.GroupMemberViewModel>())
			.Selectable(ListBoxSelectable.Multiple).ToClientTemplate()
		)

	</div>
	<br />
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-1">
			<input type="button" value="Update" name="submitButton" class="btn btn-info btn-xs" onclick="saveGroupMember()" />
		</div>
		<div class="col-md-1">
			<input type="button" value="Cancel" class="btn default" onclick="GroupMemberCancel()" />
		</div>

	</div>
</script>
<script>
	function GroupfilterAll(e) {
		var listSource = $("#GroupMemberAllMember").data("kendoListBox").dataSource;
		var andfilter = { logic: "and", filters: [] };
		listSource.filter({ field: "MemberName", operator: "contains", value: $(e).val() });
	};
	function GroupfilterExist(e) {
		var listSource = $("#GroupMemberExistMember").data("kendoListBox").dataSource;
		//var listuser = $("#GroupfilterExist").data("kendoListBox");
		var andfilter = { logic: "and", filters: [] };
		listSource.filter({ field: "MemberName", operator: "contains", value: $(e).val() });
	};
	var GroupMemberDataSource;
	var GroupMemberDataSource1;
	var GroupMemberDataSource2;
	var GroupMemberTemplate = kendo.template($("#GroupMemberTemplate").html());
	function openGroupMember(e) {
		$("#GroupfilterAll").val("");
		$("#GroupfilterExist").val("");

		var wnd = $("#GroupMemberPopUp").data("kendoWindow");
		var grid = $("#GroupGrid").data("kendoGrid");
		var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
		BindGroupMemberListbox(dataItem.ID)
		wnd.center().open();

	}
	$(document).ready(function () {
		var wnd = $("#GroupMemberPopUp").data("kendoWindow");
		wnd.content(GroupMemberTemplate);
	})

	function BindGroupMemberListbox(Groupid) {
		GroupMemberDataSource = new kendo.data.DataSource({

			transport: {
				read: {
					async: false,
					cache: false,
					url: "../Admin/GetGroupMemberViewModelList?nid=" + Groupid,
					dataType: "json"
				},
				update: {
					url: "../Admin/UpdateGroupMember",
					dataType: "json",
					type: "POST",
					complete: function (e) {
						mApp.unblockPage();
						swal({
							title: "Success!"
						})
					},
				},
				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {
						//return { models: JSON.stringify(options.models) };
						mApp.blockPage();
						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "MemberId",
					fields: {
						MemberId: { editable: false, nullable: true },
						MemberName: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		GroupMemberDataSource1 = new kendo.data.DataSource({
			transport: {
				read: {
					cache: false,
					async: false,
					url: "../Admin/GetGroupMemberViewModelList?nid=" + Groupid + "&bExist=0",
					dataType: "json"
				},

				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {

						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "MemberId",
					fields: {
						MemberId: { editable: false, nullable: true },
						MemberName: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		GroupMemberDataSource2 = new kendo.data.DataSource({
			serverFiltering: false,

			transport: {
				read: {
					cache: false,
					async: false,
					url: "../Admin/GetGroupMemberViewModelList?nid=" + Groupid + "&bExist=1",
					dataType: "json"
				},

				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {

						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "MemberId",
					fields: {
						MemberId: { editable: false, nullable: true },
						MemberName: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		GroupMemberDataSource.read();
		var ListAll = $("#GroupMemberAllMember").data("kendoListBox");
		var ListExist = $("#GroupMemberExistMember").data("kendoListBox")


		ListAll.setDataSource(GroupMemberDataSource1);
		ListExist.setDataSource(GroupMemberDataSource2);


	}
	function saveGroupMember() {
		GroupMemberDataSource.sync();
		var wnd = $("#GroupMemberPopUp").data("kendoWindow");
		wnd.center().close();
	}
	function GroupMemberCancel() {

		var wnd = $("#GroupMemberPopUp").data("kendoWindow");
		wnd.center().close();
	}
	function setGroupMemberDiscontinued(ev, flag) {
		var removedItems = ev.dataItems;
		for (var i = 0; i < removedItems.length; i++) {
			var item = GroupMemberDataSource.get(removedItems[i].id);

			item["bExist"] = flag;

			item.dirty = !item.dirty;
		}
	}

	</script>




