﻿
@{
    ViewBag.Title = "Group";
}

<div class="m-portlet">
	<div class="m-portlet__body">
		<div class="form-group m-form__group row">
			@*<a href="~/Models/ManageViewModels.cs">~/Models/ManageViewModels.cs</a>*@
			@(Html.Kendo().Grid<MEHK.Workflow.Admin.Models.GroupViewModels>()
	.Name("GroupGrid")
	.Columns(columns =>
	{
		columns.Bound(o => o.GroupName).Width(100);
		columns.Bound(o => o.Description).Width(100);
		columns.Command(command => {
			command.Edit();
			command.Destroy();
			command.Custom("Add Group Member").Click("openGroupMember");
			command.Custom("Add Group Right").Click("openGroupRight");
		}).Width(250);
	})

	.Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("GroupEditorTemplates"))
	.ToolBar(toolbar => toolbar.Create())
	.Filterable(filterable => filterable
		.Extra(false)
		.Operators(operators => operators
			.ForString(str => str.Clear()
				.IsEqualTo("Is equal to")
			.StartsWith("Starts with")
				.IsNotEqualTo("Is not equal to")
			)
			)
		)
	.Pageable()
	.Sortable()
	.Scrollable()
	.HtmlAttributes(new { style = "height:550px;" })
	.DataSource(dataSource => dataSource
		.Ajax()
		.PageSize(20)
		//.Events(events => events.Error("error_handler"))
		.Model(model => model.Id(p => p.ID))
		.Create(update => update.Action("CreateGroup", "Admin"))
		.Read(read => read.Action("GetGroup", "Admin"))
	.Update(update => update.Action("UpdateGroup", "Admin"))
	.Destroy(update => update.Action("DeleteGroup", "Admin"))
	)
			)
						@Html.Partial("~/Views/Admin/GroupMemberPopUp.cshtml")
						@Html.Partial("~/Views/Admin/GroupRightPopUp.cshtml")
		</div>
	</div>
</div>
