﻿
@(Html.Kendo().Window()
				.Name("GroupRightPopUp")
				.Title("Group Right")
				.Visible(false)
				.Modal(true)
				.Draggable(true)
				.Width(600).Height(500)
)


<script type="text/x-kendo-template" id="GroupRightTemplate">
	<div class="row">
		<label class="offset-md-2 col-md-5">All Right</label>
		<label class="col-md-3">Already add Right</label>
	</div>
	<div class="row">
		<div class="col-lg-3">
			@Html.Kendo().TextBox().Name("GroupRightfilterAll").HtmlAttributes(new { style = "width:240px", oninput = "GroupRightfilterAll(this)" })
		</div>
		<div class="col-lg-2" style="padding-right: 8px;"></div>
		<div class="col-lg-3">
			@Html.Kendo().TextBox().Name("GroupRightfilterExist").HtmlAttributes(new { style = "width:275px", oninput = "GroupRightfilterExist(this)" })
		</div>
	</div>
	<div class="row">
		@(Html.Kendo().ListBox()
			.Name("GroupRightAllRight")
			.DataValueField("ID")
			.DataTextField("RightName")
			.Toolbar(toolbar =>
			{
				toolbar.Position(Kendo.Mvc.UI.Fluent.ListBoxToolbarPosition.Right);
				toolbar.Tools(tools => tools
					//.MoveUp()
					//.MoveDown()
					.TransferTo()
					.TransferFrom()
					.TransferAllTo()
					.TransferAllFrom()
				//.Remove()
				);
			})
			.Draggable(true)
			.DropSources("GroupRightExistRight")
			.Events(ev => ev
				.Add("function(e){setGroupRightDiscontinued(e, false)}")
				.Remove("function(e){setGroupRightDiscontinued(e, true)}"))
			.ConnectWith("GroupRightExistRight")
			.HtmlAttributes(new { title = "Right", @class = "col-md-6", style = "height :300px" })
			.BindTo(new List<MEHK.Workflow.Data.DTO.GroupRightViewModel>())
			.Selectable(ListBoxSelectable.Multiple).ToClientTemplate()
		)

		@(Html.Kendo().ListBox()
			.Name("GroupRightExistRight")
			.Draggable(true)
			.DropSources("GroupRightAllRight")
			.DataValueField("ID")
			.DataTextField("RightName")
			.ConnectWith("GroupRightAllRight")
			.HtmlAttributes(new { @class = "col-md-6", style = "height :300px" })
			.BindTo(new List<MEHK.Workflow.Data.DTO.GroupRightViewModel>())
			.Selectable(ListBoxSelectable.Multiple).ToClientTemplate()
		)

	</div>
	<br />
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-1">
			<input type="button" value="Update" name="submitButton" class="btn btn-info btn-xs" onclick="saveGroupRight()" />
		</div>
		<div class="col-md-1">
			<input type="button" value="Cancel" class="btn default" onclick="GroupRightCancel()" />
		</div>

	</div>
</script>
<script>
	function GroupRightfilterAll(e) {
		var listSource = $("#GroupRightAllRight").data("kendoListBox").dataSource;
		var listuser = $("#GroupRightfilterAll").data("kendoListBox");
		var andfilter = { logic: "and", filters: [] };
		listSource.filter({ field: "RightName", operator: "contains", value: $(e).val() });
	};
	function GroupRightfilterExist(e) {
		var listSource = $("#GroupRightExistRight").data("kendoListBox").dataSource;
		var listuser = $("#GroupRightfilterExist").data("kendoListBox");
		var andfilter = { logic: "and", filters: [] };
		listSource.filter({ field: "RightName", operator: "contains", value: $(e).val() });
	};
	var GroupRightDataSource;
	var GroupRightDataSource1;
	var GroupRightDataSource2;
	var GroupRightTemplate = kendo.template($("#GroupRightTemplate").html());
	function openGroupRight(e) {
		$("#GroupRightfilterAll").val("");
		$("#GroupRightfilterExist").val("");
		var wnd = $("#GroupRightPopUp").data("kendoWindow");
		var grid = $("#GroupGrid").data("kendoGrid");
		var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
		BindGroupRightListbox(dataItem.ID)
		wnd.center().open();

	}
	$(document).ready(function () {
		var wnd = $("#GroupRightPopUp").data("kendoWindow");
		wnd.content(GroupRightTemplate);
	})
	function BindGroupRightListbox(Groupid) {
		GroupRightDataSource = new kendo.data.DataSource({

			transport: {
				read: {
					async: false,
					cache: false,
					url: "../Admin/GetGroupRightViewModelList?nid=" + Groupid,
					dataType: "json"
				},
				update: {
					url: "../Admin/UpdateGroupRight",
					dataType: "json",
					type: "POST",
					complete: function (e) {
						mApp.unblockPage();
						swal({
							title: "Success!"
						})
					},
				},
				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {
						//return { models: JSON.stringify(options.models) };
						mApp.blockPage();
						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "ID",
					fields: {
						ID: { editable: false, nullable: true },
						RightName: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		GroupRightDataSource1 = new kendo.data.DataSource({
			transport: {
				read: {
					cache: false,
					async: false,
					url: "../Admin/GetGroupRightViewModelList?nid=" + Groupid + "&bExist=0",
					dataType: "json"
				},

				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {

						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "ID",
					fields: {
						ID: { editable: false, nullable: true },
						RightName: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		GroupRightDataSource2 = new kendo.data.DataSource({
			serverFiltering: false,

			transport: {
				read: {
					cache: false,
					async: false,
					url: "../Admin/GetGroupRightViewModelList?nid=" + Groupid + "&bExist=1",
					dataType: "json"
				},

				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {

						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "ID",
					fields: {
						ID: { editable: false, nullable: true },
						RightName: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		GroupRightDataSource.read();
		var ListAll = $("#GroupRightAllRight").data("kendoListBox");
		var ListExist = $("#GroupRightExistRight").data("kendoListBox")


		ListAll.setDataSource(GroupRightDataSource1);
		ListExist.setDataSource(GroupRightDataSource2);


	}
	function saveGroupRight() {
		GroupRightDataSource.sync();
		var wnd = $("#GroupRightPopUp").data("kendoWindow");
		wnd.center().close();
	}
	function GroupRightCancel() {

		var wnd = $("#GroupRightPopUp").data("kendoWindow");
		wnd.center().close();
	}
	function setGroupRightDiscontinued(ev, flag) {
		var removedItems = ev.dataItems;
		for (var i = 0; i < removedItems.length; i++) {
			var item = GroupRightDataSource.get(removedItems[i].id);

			item["bExist"] = flag;

			item.dirty = !item.dirty;
		}
	}
</script>

