﻿
@{
    ViewBag.Title = "Log";
}

<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="form-group m-form__group row">
            @(Html.Kendo().Grid<MEHK.Workflow.Admin.Models.LogViewModels>()
	.Name("GroupGrid")
	.Columns(columns =>
	{
		//columns.Bound(o => o.ID).Width(100);
		columns.Bound(o => o.Date).Width(100).Format("{0:"+Resources.Resource_Common.DisplayDateOnlyFormat+"}");
		columns.Bound(o => o.LogType).Width(100);
		columns.Bound(o => o.LogPriority).Width(100);
		columns.Bound(o => o.ErrorCode).Width(100);
		columns.Bound(o => o.StackTrace).Width(680);
		columns.Bound(o => o.Message).Width(100);
		columns.Bound(o => o.Source).Width(100);
		columns.Bound(o => o.Remark).Width(100);
		//columns.Bound(o => o.ExchangeRate).Format("{0:n2}").Width(100);
		columns.Command(command =>
		{
			// command.Edit();
			// command.Destroy();
		}).Width(250);
	})

	//  .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("EntertainmentGiftLimitEditorTemplates"))
	//.ToolBar(toolbar => toolbar.Create())
	.Filterable(filterable => filterable
		.Extra(false)
		.Operators(operators => operators
			.ForString(str => str.Clear()
				.IsEqualTo("Is equal to")
			.StartsWith("Starts with")
				.IsNotEqualTo("Is not equal to")
			)
			)
		)
	.Pageable()
	.Sortable( )
	.Scrollable()
	//.Resizable(resize => resize.Columns(true))
	//.Reorderable(reorder => reorder.Columns(true))
	.HtmlAttributes(new { style = "height:550px;" })
	.DataSource(dataSource => dataSource
		.Ajax()
		.PageSize(20)
		//.Events(events => events.Error("error_handler"))
		.Model(model => model.Id(p => p.ID))
	   .Create(update => update.Action("CreateCurrency", "Admin"))
		.Read(read => read.Action("GetLog", "Admin"))
	.Update(update => update.Action("UpdateEntertainmentGiftLimit", "Admin"))
	.Destroy(update => update.Action("DeleteCurrency", "Admin"))
	)
	 .Resizable(resize => resize.Columns(true))
            )
        </div>
    </div>
</div>
