﻿
@{
    ViewBag.Title = "Mintenance";
}


<div>
    <div id="ulMenu" style="font-size:20px;list-style: none;">
        @*<li>
            <a href="../../MEHK.Admin/Admin/member">Member</a>
        </li>
        <li>
            <a href="../../MEHK.Admin/Manage/indexe">Unit</a>
        </li>*@
    </div>
</div>
<script>


    $(function () {

        var UserID = @ViewBag.CurrentUserID;
        var AppID = @ViewBag.AppID;

        var data = { userID: UserID, appID: AppID }

        $.getJSON('/MEHK.CommonAPI/api/Common/Menus', data).done(function (data) {
          
            var Menu = data;
            for (var i = 0; i < Menu.Pages.length; i++) {
                if (Menu.Pages[i].MenuName=="Maintenance") {
                    for (var j = 0; j < Menu.Pages[i].Pages.length; j++) {
                        document.getElementById("ulMenu").innerHTML += "  <a href='"+Menu.Pages[i].Pages[j].URL+"'>"+Menu.Pages[i].Pages[j].MenuName+"</a></br>";
                    }
                }

            }

        });
    })

</script>