﻿@(Html.Kendo().Window()
				.Name("MemberGroupPopUp")
				.Title("Member Group")
				.Visible(false)
				.Modal(true)
				.Draggable(true)
				.Width(600).Height(500)
)
<script type="text/x-kendo-template" id="MemberGroupTemplate">
	<div class="row">
		<label class="offset-md-2 col-md-5">All Group</label>
		<label class="col-md-3">Already add Group</label>
	</div>
	<div class="row">
		<div class="col-lg-3">
			@Html.Kendo().TextBox().Name("GroupfilterAll").HtmlAttributes(new { style = "width:240px", oninput = "GroupfilterAll(this)" })
		</div>
		<div class="col-lg-2" style="padding-right: 8px;"></div>
		<div class="col-lg-3">
			@Html.Kendo().TextBox().Name("GroupfilterExist").HtmlAttributes(new { style = "width:275px", oninput = "GroupfilterExist(this)" })
		</div>
	</div>
	<div class="row">
		@(Html.Kendo().ListBox()
			.Name("MemberGroupAllMember")
			.DataValueField("ID")
			.DataTextField("Description")
			.Toolbar(toolbar =>
			{
				toolbar.Position(Kendo.Mvc.UI.Fluent.ListBoxToolbarPosition.Right);
				toolbar.Tools(tools => tools
					//.MoveUp()
					//.MoveDown()
					.TransferTo()
					.TransferFrom()
					.TransferAllTo()
					.TransferAllFrom()
				//.Remove()
				);
			})
			.Draggable(true)
			.DropSources("MemberGroupExistMembe")
			.Events(ev => ev
				.Add("function(e){setMemberGroupDiscontinued(e, false)}")
				.Remove("function(e){setMemberGroupDiscontinued(e, true)}"))
			.ConnectWith("MemberGroupExistMembe")
			.HtmlAttributes(new { title = "Group", @class = "col-md-6", style = "height :300px" })
			.BindTo(new List<MEHK.Workflow.Data.DTO.MemberGroupViewModel>())
			.Selectable(ListBoxSelectable.Multiple).ToClientTemplate()
		)

		@(Html.Kendo().ListBox()
			.Name("MemberGroupExistMembe")
			.Draggable(true)
			.DropSources("MemberGroupAllMember")
			.DataValueField("ID")
			.DataTextField("Description")
			.ConnectWith("MemberGroupAllMember")
			.HtmlAttributes(new { @class = "col-md-6", style = "height :300px" })
			.BindTo(new List<MEHK.Workflow.Data.DTO.MemberGroupViewModel>())
			.Selectable(ListBoxSelectable.Multiple).ToClientTemplate()
		)

	</div>
	<br />
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-1">
			<input type="button" value="Update" name="submitButton" class="btn btn-info btn-xs" onclick="saveMemberGroup()" />
		</div>
		<div class="col-md-1">
			<input type="button" value="Cancel" class="btn default" onclick="MemberGroupCancel()" />
		</div>

	</div>
</script>
<script>
	function GroupfilterAll(e) {
		var listSource = $("#MemberGroupAllMember").data("kendoListBox").dataSource;
		var andfilter = { logic: "and", filters: [] };
		listSource.filter({ field: "Description", operator: "contains", value: $(e).val() });
	};
	function GroupfilterExist(e) {
		var listSource = $("#MemberGroupExistMembe").data("kendoListBox").dataSource;
		//var listuser = $("#GroupfilterExist").data("kendoListBox");
		var andfilter = { logic: "and", filters: [] };
		listSource.filter({ field: "Description", operator: "contains", value: $(e).val() });
	};
	var MemberGroupDataSource;
	var MemberGroupDataSource1;
	var MemberGroupDataSource2;
	var MemberGroupTemplate = kendo.template($("#MemberGroupTemplate").html());
	function openMemberGroup(e) {
		$("#GroupfilterAll").val("");
		$("#GroupfilterExist").val("");

		var wnd = $("#MemberGroupPopUp").data("kendoWindow");
		var grid = $("#ManageGrid").data("kendoGrid");
		var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
		BindMemberGroupListbox(dataItem.MemberId)
		wnd.center().open();

	}
	$(document).ready(function () {
		var wnd = $("#MemberGroupPopUp").data("kendoWindow");
		wnd.content(MemberGroupTemplate);
	})

	function BindMemberGroupListbox(MemberId) {
		MemberGroupDataSource = new kendo.data.DataSource({

			transport: {
				read: {
					async: false,
					cache: false,
					url: "../Admin/GetMemberGroupViewModelList?nid=" + MemberId,
					dataType: "json"
				},
				update: {
					url: "../Admin/UpdateMemberGroup",
					dataType: "json",
					type: "POST",
					complete: function (e) {
						mApp.unblockPage();
						swal({
							title: "Success!"
						})
					},
				},
				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {
						//return { models: JSON.stringify(options.models) };
						mApp.blockPage();
						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "ID",
					fields: {
						ID: { editable: false, nullable: true },
						Description: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		MemberGroupDataSource1 = new kendo.data.DataSource({
			transport: {
				read: {
					cache: false,
					async: false,
					url: "../Admin/GetMemberGroupViewModelList?nid=" + MemberId + "&bExist=0",
					dataType: "json"
				},

				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {

						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "ID",
					fields: {
						ID: { editable: false, nullable: true },
						Description: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		MemberGroupDataSource2 = new kendo.data.DataSource({
			serverFiltering: false,

			transport: {
				read: {
					cache: false,
					async: false,
					url: "../Admin/GetMemberGroupViewModelList?nid=" + MemberId + "&bExist=1",
					dataType: "json"
				},

				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {

						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "ID",
					fields: {
						ID: { editable: false, nullable: true },
						Description: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		MemberGroupDataSource.read();
		var ListAll = $("#MemberGroupAllMember").data("kendoListBox");
		var ListExist = $("#MemberGroupExistMembe").data("kendoListBox")


		ListAll.setDataSource(MemberGroupDataSource1);
		ListExist.setDataSource(MemberGroupDataSource2);


	}
	function saveMemberGroup() {
		MemberGroupDataSource.sync();
		var wnd = $("#MemberGroupPopUp").data("kendoWindow");
		wnd.center().close();
	}
	function MemberGroupCancel() {

		var wnd = $("#MemberGroupPopUp").data("kendoWindow");
		wnd.center().close();
	}
	function setMemberGroupDiscontinued(ev, flag) {
		var removedItems = ev.dataItems;
		for (var i = 0; i < removedItems.length; i++) {
			var item = MemberGroupDataSource.get(removedItems[i].id);

			item["bExist"] = flag;

			item.dirty = !item.dirty;
		}
	}

</script>

