﻿
@{
    ViewBag.Title = "Member";
}
<style>
    .k-edit-form-container {
        width: auto;
    }
</style>
<div class="m-portlet">
    <div class="m-portlet__body">
        <div class="form-group m-form__group row">
            @*<a href="~/Models/ManageViewModels.cs">~/Models/ManageViewModels.cs</a>*@
            @(Html.Kendo().Grid<MEHK.Workflow.Admin.Models.ManageViewModels>()
    .Name("ManageGrid")
    .Columns(columns =>
    {
        //columns.Command(command => command.Edit()).Width(90);
        columns.Bound(o => o.MemberName).Width(100);
        columns.Bound(o => o.LoginAccount).Width(100);
        columns.Bound(o => o.StaffId).Width(100);
        columns.Bound(o => o.SAMAccount).Width(100);
        columns.Bound(o => o.SAPAccount).Width(100);
        columns.Bound(o => o.Post).Width(100);
        columns.Bound(o => o.Phone).Width(100);
        columns.Bound(o => o.EmailAddress).Width(100);
        columns.Bound(o => o.JobLevel).Width(100);
        columns.Bound(o => o.Remark).Width(100);
        columns.Command(command =>
        {
            command.Edit();
            //command.Destroy();
            command.Custom("Add Member Group").Click("openMemberGroup");
        }).Width(250);
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("MemberEditorTemplates").Window(w => w.Width(800)))
    //.ToolBar(toolbar => toolbar.Create())

    .Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .IsEqualTo("Is equal to")
            .StartsWith("Starts with")
            )))
    .Pageable()
    .Sortable()
    .Scrollable()
    .Events(e=>e.Edit("OnEdit"))
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Model(model => model.Id(p => p.MemberId))
        .Create(update => update.Action("CreateMember", "Admin"))
        .Read(read => read.Action("GetMember", "Admin"))
    .Update(update => update.Action("UpdateMember", "Admin"))
    .Destroy(update => update.Action("UnitMemberGridListDestroy", "Manage"))
    )
            )

            @Html.Partial("~/Views/Admin/MemberGroupPopUp.cshtml")

        </div>
    </div>
</div>
<script>
    function getFilterData() {
        var SAMAccount = $("#SAMAccount").val();
        var data = {};
        data.SAMACCOUNT = SAMAccount;
        return data;
    }
    function OnEdit()
    {
        $("#RightGrid").data("kendoGrid").dataSource.read();
    }

</script>
