﻿
@{
	ViewBag.Title = "ReAssignment";
}

<div class="m-portlet">
	<div class="m-portlet__body">
		<div class="form-group m-form__group row">
			<label class="col-lg-2 col-form-label">Workflow Name:</label>
			<div class="col-lg-4">
				@(Html.Kendo().DropDownList()
										  .Name("Workflow")
										  .DataTextField("ProcessName")
										  .DataValueField("Code")
										  .Filter("contains")
										  .OptionLabel("--Please Select--")
										  .DataSource(source =>
										  {
											  source.Read(read =>
											  {
												  read.Action("GetProcessList", "../MEHK.Admin/Admin");
											  }).ServerFiltering(true);
										  })
										  .HtmlAttributes(new { style = "width: 100%" })

				)
			</div>

		</div>
		<div class="form-group m-form__group row">
			<label class="col-lg-2 col-form-label">Current Task(s)Owner:</label>
			<div class="col-lg-4">
				@(Html.Kendo().DropDownList()
										  .Name("CurrentTaskOwner")
										  .DataTextField("MemberName")
										  .DataValueField("MemberId")
										  //.Events(e=>e.Change("AssignToRead"))
										  .Filter("contains")
										  .OptionLabel("--Please Select--")
										  .DataSource(source =>
										  {
											  source.Read(read =>
											  {
												  read.Action("GetAssignMemberList", "Admin").Data("AssignToData");
											  }).ServerFiltering(true);
										  })
										  .HtmlAttributes(new { style = "width: 100%" })

				)
			</div>
			<label class="col-lg-2 col-form-label">Assign To:</label>
			<div class="col-lg-4">


				@(Html.Kendo().DropDownList()
										  .Name("AssignTo")
							 .DataTextField("MemberName")
										  .DataValueField("MemberId")
										  //.Events(e => e.Change("CurrentTaskOwnerRead"))
										  .Filter("contains")
										  .OptionLabel("--Please Select--")
							 .DataSource(source =>
							 {
								 source.Read(read =>
								 {
									 read.Action("GetAssignMemberList", "Admin").Data("CurrentTaskOwnerData");
								 }).ServerFiltering(true);
							 })
										  .HtmlAttributes(new { style = "width: 100%" })
			  .Enable(false)
			  .AutoBind(false)
			  .CascadeFrom("CurrentTaskOwner")
				)
			</div>
		</div>
		<div class="text-center" style="margin-bottom:30px">
			<button class="btn btn-success" id="btnSearch">Re-Assign</button>
			<button class="btn btn-secondary" id="btnClear">Cancel</button>
		</div>

	</div>
</div>
<script>
	function AssignToData() {
		var MemberID = $("#AssignTo").val();
		var ddl = $("#CurrentTaskOwner").data("kendoDropDownList");
		return {
			text: ddl.filterInput.val(),
			MemberID: MemberID
		};
	}
	function CurrentTaskOwnerData() {
		var MemberID = $("#CurrentTaskOwner").val();
		var ddl = $("#AssignTo").data("kendoDropDownList");
		return {
			text: ddl.filterInput.val(),
			MemberID: MemberID
		};
	}
	$("#btnSearch").click(function () {
		if ($("#Workflow").val() == "") {
			alert("Please Select Workflow Name")
			return;
		}
		if ($("#CurrentTaskOwner").val() == "") {
			alert("Please Select Current Task(s)Owner")
			return;
		}
		if ($("#AssignTo").val() == "") {
			alert("Please Select Assign To")
			return;
		}
		mApp.blockPage();
		swal({
			title: "",
			text: "Are you Re-Assign?",
			type: 'warning',
			showCancelButton: true,
		}).then(function (result) {
			if (result.value) {
				//swal("success")
				$.ajax({
					type: "post",
					url: "../Admin/CreateReAssignment",
					data: {
						Workflow: $("#Workflow").val(),
						CurrentTaskOwner: $("#CurrentTaskOwner").val(),
						AssignTo: $("#AssignTo").val()
					},
					success: function (data) {
						if (data == "success") {
							swal("success")
							mApp.unblockPage();
						}
						else {
							swal(data);
							mApp.unblockPage();
						}
					}
				});
			}

		});
	})
	//function AssignToRead() {
	//	$("#AssignTo").data("kendoDropDownList").dataSource.read();
	//}
	//function CurrentTaskOwnerRead() {
	//	$("#CurrentTaskOwner").data("kendoDropDownList").dataSource.read();
	//}
</script>
