﻿
@{
    ViewBag.Title = "Right";
}

<div class="m-portlet">
	<div class="m-portlet__body">
		<div class="form-group m-form__group row">
			@(Html.Kendo().Grid<MEHK.Workflow.Admin.Models.RightViewModels>()
	.Name("RightGrid")
	.Columns(columns =>
	{
		columns.Bound(o => o.RightName).Width(100);
		columns.Bound(o => o.Description).Width(100);
		columns.Bound(o => o.AppName).Width(100);
		columns.Command(command => {
			command.Edit();
			command.Destroy();
			command.Custom("Add Right Group").Click("openRightGroup");
		}).Width(250);
	})

	.Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("RightEditorTemplates").Window(w => w.Width(900)))
	.ToolBar(toolbar => toolbar.Create())
	.Filterable(filterable => filterable
		.Extra(false)
		.Operators(operators => operators
			.ForString(str => str.Clear()
				.IsEqualTo("Is equal to")
			.StartsWith("Starts with")
				.IsNotEqualTo("Is not equal to")
			)
			)
		)
	.Pageable()
	.Sortable()
	.Scrollable()
	.HtmlAttributes(new { style = "height:550px;" })
	.DataSource(dataSource => dataSource
		.Ajax()
		.PageSize(20)
		.Model(model => model.Id(p => p.ID))
		.Create(update => update.Action("CreateRight", "Admin"))
		.Read(read => read.Action("GetRight", "Admin"))
	.Update(update => update.Action("UpdateRight", "Admin"))
	.Destroy(update => update.Action("DeleteRight", "Admin"))
	)
	 .Resizable(resize => resize.Columns(true))
			)

            @Html.Partial("~/Views/Admin/RightGroupPopUp.cshtml")
		</div>
	</div>
</div>

