﻿
@(Html.Kendo().Window()
				.Name("RightGroupPopUp")
				.Title("Group Right")
				.Visible(false)
				.Modal(true)
				.Draggable(true)
				.Width(600).Height(500)
)   


<script type="text/x-kendo-template" id="RightGroupTemplate">
	<div class="row">
		<label class="offset-md-2 col-md-5">All Group</label>
		<label class="col-md-3">Already add Group</label>
	</div>
	<div class="row">
		<div class="col-lg-3">
			@Html.Kendo().TextBox().Name("RightGroupfilterAll").HtmlAttributes(new { style = "width:240px", oninput = "RightGroupfilterAll(this)" })
		</div>
		<div class="col-lg-2" style="padding-right: 8px;"></div>
		<div class="col-lg-3">
			@Html.Kendo().TextBox().Name("RightGroupfilterExist").HtmlAttributes(new { style = "width:275px", oninput = "RightGroupfilterExist(this)" })
		</div>
	</div>
	<div class="row">
		@(Html.Kendo().ListBox()
			.Name("RightGroupAllRight")
			.DataValueField("ID")
			.DataTextField("GroupName")
			.Toolbar(toolbar =>
			{
				toolbar.Position(Kendo.Mvc.UI.Fluent.ListBoxToolbarPosition.Right);
				toolbar.Tools(tools => tools
					//.MoveUp()
					//.MoveDown()
					.TransferTo()
					.TransferFrom()
					.TransferAllTo()
					.TransferAllFrom()
				//.Remove()
				);
			})
			.Draggable(true)
			.DropSources("RightGroupExistRight")
			.Events(ev => ev
				.Add("function(e){setRightGroupDiscontinued(e, false)}")
				.Remove("function(e){setRightGroupDiscontinued(e, true)}"))
			.ConnectWith("RightGroupExistRight")
			.HtmlAttributes(new { title = "Right", @class = "col-md-6", style = "height :300px" })
			.BindTo(new List<MEHK.Workflow.Data.DTO.Group>())
			.Selectable(ListBoxSelectable.Multiple).ToClientTemplate()
		)

		@(Html.Kendo().ListBox()
			.Name("RightGroupExistRight")
			.Draggable(true)
			.DropSources("RightGroupAllRight")
			.DataValueField("ID")
			.DataTextField("GroupName")
			.ConnectWith("RightGroupAllRight")
			.HtmlAttributes(new { @class = "col-md-6", style = "height :300px" })
			.BindTo(new List<MEHK.Workflow.Data.DTO.RightGroupViewModel>())
			.Selectable(ListBoxSelectable.Multiple).ToClientTemplate()
		)

	</div>
	<br />
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-1">
			<input type="button" value="Update" name="submitButton" class="btn btn-info btn-xs" onclick="saveRightGroup()" />
		</div>
		<div class="col-md-1">
			<input type="button" value="Cancel" class="btn default" onclick="RightGroupCancel()" />
		</div>

	</div>
</script>
<script>
	function RightGroupfilterAll(e) {
		var listSource = $("#RightGroupAllRight").data("kendoListBox").dataSource;
		var listuser = $("#RightGroupfilterAll").data("kendoListBox");
		var andfilter = { logic: "and", filters: [] };
		listSource.filter({ field: "GroupName", operator: "contains", value: $(e).val() });
	};
	function RightGroupfilterExist(e) {
		var listSource = $("#RightGroupExistRight").data("kendoListBox").dataSource;
		var listuser = $("#RightGroupfilterExist").data("kendoListBox");
		var andfilter = { logic: "and", filters: [] };
		listSource.filter({ field: "GroupName", operator: "contains", value: $(e).val() });
	};
	var RightGroupDataSource;
	var RightGroupDataSource1;
	var RightGroupDataSource2;
	var RightGroupTemplate = kendo.template($("#RightGroupTemplate").html());
	function openRightGroup(e) {
		$("#RightGroupfilterAll").val("");
		$("#RightGroupfilterExist").val(""); 
		debugger;
		var wnd = $("#RightGroupPopUp").data("kendoWindow");
		var grid = $("#RightGrid").data("kendoGrid");
		var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
		BindRightGroupListbox(dataItem.ID)
		wnd.center().open();

	}
	$(document).ready(function () {
		var wnd = $("#RightGroupPopUp").data("kendoWindow");
		wnd.content(RightGroupTemplate);
	})
	function BindRightGroupListbox(Rightid) {
		RightGroupDataSource = new kendo.data.DataSource({

			transport: {
				read: {
					async: false,
					cache: false,
					url: "../Admin/GetRightGroupViewModelList?nid=" + Rightid,
					dataType: "json"
				},
				update: {
					url: "../Admin/UpdateRightGroup",
					dataType: "json",
					type: "POST",
					complete: function (e) {
						mApp.unblockPage();
						swal({
							title: "Success!"
						})
					},
				},
				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {
						//return { models: JSON.stringify(options.models) };
						mApp.blockPage();
						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "ID",
					fields: {
						ID: { editable: false, nullable: true },
						RightName: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		RightGroupDataSource1 = new kendo.data.DataSource({
			transport: {
				read: {
					cache: false,
					async: false,
					url: "../Admin/GetRightGroupViewModelList?nid=" + Rightid + "&bExist=0",
					dataType: "json"
				},

				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {

						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "ID",
					fields: {
						ID: { editable: false, nullable: true },
						RightName: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		RightGroupDataSource2 = new kendo.data.DataSource({
			serverFiltering: false,

			transport: {
				read: {
					cache: false,
					async: false,
					url: "../Admin/GetRightGroupViewModelList?nid=" + Rightid + "&bExist=1",
					dataType: "json"
				},

				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {

						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "ID",
					fields: {
						ID: { editable: false, nullable: true },
						RightName: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		RightGroupDataSource.read();
		var ListAll = $("#RightGroupAllRight").data("kendoListBox");
		var ListExist = $("#RightGroupExistRight").data("kendoListBox")


		ListAll.setDataSource(RightGroupDataSource1);
		ListExist.setDataSource(RightGroupDataSource2);


	}
	function saveRightGroup() {
		RightGroupDataSource.sync();
		var wnd = $("#RightGroupPopUp").data("kendoWindow");
		wnd.center().close();
	}
	function RightGroupCancel() {

		var wnd = $("#RightGroupPopUp").data("kendoWindow");
		wnd.center().close();
	}
	function setRightGroupDiscontinued(ev, flag) {
		var removedItems = ev.dataItems;
		for (var i = 0; i < removedItems.length; i++) {
			var item = RightGroupDataSource.get(removedItems[i].id);

			item["bExist"] = flag;

			item.dirty = !item.dirty;
		}
	}
</script>

