﻿
@{
    ViewBag.Title = "Role";
}

<div class="m-portlet">
	<div class="m-portlet__body">
		<div class="form-group m-form__group row">
			@(Html.Kendo().Grid<MEHK.Workflow.Admin.Models.RoleViewModels>()
	.Name("RoleGrid")
	.Columns(columns =>
	{
		columns.Bound(o => o.RoleName).Width(100);
		columns.Bound(o => o.Remark).Width(100);
		columns.Command(command => {
			command.Edit(); command.Destroy();
			command.Custom("Add Role Member").Click("openRoleMember");
		}).Width(250);
	})

	.Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("RoleEditorTemplates"))
	.ToolBar(toolbar => toolbar.Create())
	.Filterable(filterable => filterable
		.Extra(false)
		.Operators(operators => operators
			.ForString(str => str.Clear()
				.IsEqualTo("Is equal to")
			.StartsWith("Starts with")
				.IsNotEqualTo("Is not equal to")
			)
			)
		)
	.Pageable()
	.Sortable()
	.Scrollable()
	.HtmlAttributes(new { style = "height:550px;" })
	.DataSource(dataSource => dataSource
		.Ajax()
		.PageSize(20)
		.Model(model => model.Id(p => p.RoletId))
		.Create(update => update.Action("CreateRole", "Admin"))
		.Read(read => read.Action("GetRoleGridList", "Admin"))
	.Update(update => update.Action("UpdateRole", "Admin"))
	.Destroy(update => update.Action("DeleteRole", "Admin"))
	)
			)
			@Html.Partial("~/Views/Admin/RoleMemberPopUp.cshtml")
		</div>
	</div>
</div>

