﻿
@(Html.Kendo().Window()
				.Name("RoleMemberPopUp")
				.Title("Role Member")
				.Visible(false)
				.Modal(true)
				.Draggable(true)
				.Width(600).Height(500)
)
<script type="text/x-kendo-template" id="RoleMemberTemplate">
	<div class="row">
		<label class="offset-md-2 col-md-5">All Member</label>
		<label class="col-md-3">Already add Member</label>
	</div>
	<div class="row">
		<div class="col-lg-3">
			@Html.Kendo().TextBox().Name("RolefilterAll").HtmlAttributes(new { style = "width:240px", oninput = "RolefilterAll(this)" })
		</div>
		<div class="col-lg-2" style="padding-right: 8px;"></div>
		<div class="col-lg-3">
			@Html.Kendo().TextBox().Name("RolefilterExist").HtmlAttributes(new { style = "width:275px", oninput = "RolefilterExist(this)" })
		</div>
	</div>
	<div class="row">
		@(Html.Kendo().ListBox()
			.Name("RoleMemberAllMember")
			.DataValueField("MemberId")
			.DataTextField("MemberName")
			.Toolbar(toolbar =>
			{
				toolbar.Position(Kendo.Mvc.UI.Fluent.ListBoxToolbarPosition.Right);
				toolbar.Tools(tools => tools
					//.MoveUp()
					//.MoveDown()
					.TransferTo()
					.TransferFrom()
					.TransferAllTo()
					.TransferAllFrom()
				//.Remove()
				);
			})
			.Draggable(true)
			.DropSources("RoleMemberExistMember")
			.Events(ev => ev
				.Add("function(e){setRoleMemberDiscontinued(e, false)}")
				.Remove("function(e){setRoleMemberDiscontinued(e, true)}"))
			.ConnectWith("RoleMemberExistMember")
			.HtmlAttributes(new { title = "Member", @class = "col-md-6", style = "height :300px" })
			.BindTo(new List<MEHK.Workflow.Data.DTO.RoleMemberViewModel>())
			.Selectable(ListBoxSelectable.Multiple).ToClientTemplate()
		)

		@(Html.Kendo().ListBox()
			.Name("RoleMemberExistMember")
			.Draggable(true)
			.DropSources("RoleMemberAllMember")
			.DataValueField("MemberId")
			.DataTextField("MemberName")
			.ConnectWith("RoleMemberAllMember")
			.HtmlAttributes(new { @class = "col-md-6", style = "height :300px" })
			.BindTo(new List<MEHK.Workflow.Data.DTO.RoleMemberViewModel>())
			.Selectable(ListBoxSelectable.Multiple).ToClientTemplate()
		)

	</div>
	<br />
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-1">
			<input type="button" value="Update" name="submitButton" class="btn btn-info btn-xs" onclick="saveRoleMember()" />
		</div>
		<div class="col-md-1">
			<input type="button" value="Cancel" class="btn default" onclick="RoleMemberCancel()" />
		</div>

	</div>
</script>
<script>
	function RolefilterAll(e) {
		var listSource = $("#RoleMemberAllMember").data("kendoListBox").dataSource;
		var andfilter = { logic: "and", filters: [] };
		listSource.filter({ field: "MemberName", operator: "contains", value: $(e).val() });
	};
	function RolefilterExist(e) {
		var listSource = $("#RoleMemberExistMember").data("kendoListBox").dataSource;
		var andfilter = { logic: "and", filters: [] };
		listSource.filter({ field: "MemberName", operator: "contains", value: $(e).val() });
	};
	var RoleMemberDataSource;
	var RoleMemberDataSource1;
	var RoleMemberDataSource2;
	var RoleMemberTemplate = kendo.template($("#RoleMemberTemplate").html());
	function openRoleMember(e) {
		$("#RolefilterAll").val("");
		$("#RolefilterExist").val("");

		var wnd = $("#RoleMemberPopUp").data("kendoWindow");
		var grid = $("#RoleGrid").data("kendoGrid");
		var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
		BindRoleMemberListbox(dataItem.RoletId)
		wnd.center().open();

	}
	$(document).ready(function () {
		var wnd = $("#RoleMemberPopUp").data("kendoWindow");
		wnd.content(RoleMemberTemplate);
	})

	function BindRoleMemberListbox(Roleid) {
		RoleMemberDataSource = new kendo.data.DataSource({

			transport: {
				read: {
					async: false,
					cache: false,
					url: "../Admin/GetRoleMemberViewModelList?nid=" + Roleid,
					dataType: "json"
				},
				update: {
					url: "../Admin/UpdateRoleMemberList",
					dataType: "json",
					type: "POST",
					complete: function (e) {
						mApp.unblockPage();
						swal({
							title: "Success!"
						})
					},
				},
				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {
						//return { models: JSON.stringify(options.models) };
						mApp.blockPage();
						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "MemberId",
					fields: {
						MemberId: { editable: false, nullable: true },
						MemberName: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		RoleMemberDataSource1 = new kendo.data.DataSource({
			transport: {
				read: {
					cache: false,
					async: false,
					url: "../Admin/GetRoleMemberViewModelList?nid=" + Roleid + "&bExist=0",
					dataType: "json"
				},

				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {

						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "MemberId",
					fields: {
						MemberId: { editable: false, nullable: true },
						MemberName: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		RoleMemberDataSource2 = new kendo.data.DataSource({
			serverFiltering: false,

			transport: {
				read: {
					cache: false,
					async: false,
					url: "../Admin/GetRoleMemberViewModelList?nid=" + Roleid + "&bExist=1",
					dataType: "json"
				},

				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {

						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "MemberId",
					fields: {
						MemberId: { editable: false, nullable: true },
						MemberName: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		RoleMemberDataSource.read();
		var ListAll = $("#RoleMemberAllMember").data("kendoListBox");
		var ListExist = $("#RoleMemberExistMember").data("kendoListBox")


		ListAll.setDataSource(RoleMemberDataSource1);
		ListExist.setDataSource(RoleMemberDataSource2);


	}
	function saveRoleMember() {
		RoleMemberDataSource.sync();
		var wnd = $("#RoleMemberPopUp").data("kendoWindow");
		wnd.center().close();
	}
	function RoleMemberCancel() {

		var wnd = $("#RoleMemberPopUp").data("kendoWindow");
		wnd.center().close();
	}
	function setRoleMemberDiscontinued(ev, flag) {
		var removedItems = ev.dataItems;
		for (var i = 0; i < removedItems.length; i++) {
			var item = RoleMemberDataSource.get(removedItems[i].id);

			item["bExist"] = flag;

			item.dirty = !item.dirty;
		}
	}

</script>
