﻿
@(Html.Kendo().Window()
				.Name("SiteMenuRightPopUp")
				.Title("Site Menu Right")
				.Visible(false)
				.Modal(true)
				.Draggable(true)
				.Width(600).Height(500)
)


<script type="text/x-kendo-template" id="SiteMenuRightTemplate">
	<div class="row">
		<label class="offset-md-2 col-md-5">All Right</label>
		<label class="col-md-3">Already add Right</label>
	</div>
	<div class="row">
		<div class="col-lg-3">
			@Html.Kendo().TextBox().Name("SiteMenuRightfilterAll").HtmlAttributes(new { style = "width:240px", oninput = "SiteMenuRightfilterAll(this)" })
		</div>
		<div class="col-lg-2" style="padding-right: 8px;"></div>
		<div class="col-lg-3">
			@Html.Kendo().TextBox().Name("SiteMenuRightfilterExist").HtmlAttributes(new { style = "width:275px", oninput = "SiteMenuRightfilterExist(this)" })
		</div>
	</div>
	<div class="row">
		@(Html.Kendo().ListBox()
			.Name("SiteMenuRightAllRight")
			.DataValueField("ID")
			.DataTextField("RightName")
			.Toolbar(toolbar =>
			{
				toolbar.Position(Kendo.Mvc.UI.Fluent.ListBoxToolbarPosition.Right);
				toolbar.Tools(tools => tools
					//.MoveUp()
					//.MoveDown()
					.TransferTo()
					.TransferFrom()
					.TransferAllTo()
					.TransferAllFrom()
				//.Remove()
				);
			})
			.Draggable(true)
			.DropSources("SiteMenuRightExistRight")
			.Events(ev => ev
				.Add("function(e){setSiteMenuRightDiscontinued(e, false)}")
				.Remove("function(e){setSiteMenuRightDiscontinued(e, true)}"))
			.ConnectWith("SiteMenuRightExistRight")
			.HtmlAttributes(new { title = "Right", @class = "col-md-6", style = "height :300px" })
			.BindTo(new List<MEHK.Workflow.Data.DTO.SiteMenuRightViewModel>())
			.Selectable(ListBoxSelectable.Multiple).ToClientTemplate()
		)

		@(Html.Kendo().ListBox()
			.Name("SiteMenuRightExistRight")
			.Draggable(true)
			.DropSources("SiteMenuRightAllRight")
			.DataValueField("ID")
			.DataTextField("RightName")
			.ConnectWith("SiteMenuRightAllRight")
			.HtmlAttributes(new { @class = "col-md-6", style = "height :300px" })
			.BindTo(new List<MEHK.Workflow.Data.DTO.SiteMenuRightViewModel>())
			.Selectable(ListBoxSelectable.Multiple).ToClientTemplate()
		)

	</div>
	<br />
	<div class="row">
		<div class="col-md-3">
		</div>
		<div class="col-md-1">
			<input type="button" value="Update" name="submitButton" class="btn btn-info btn-xs" onclick="saveSiteMenuRight()" />
		</div>
		<div class="col-md-1">
			<input type="button" value="Cancel" class="btn default" onclick="SiteMenuRightCancel()" />
		</div>

	</div>
</script>
<script>
	function SiteMenuRightfilterAll(e) {
		var listSource = $("#SiteMenuRightAllRight").data("kendoListBox").dataSource;
		var listuser = $("#SiteMenuRightfilterAll").data("kendoListBox");
		var andfilter = { logic: "and", filters: [] };
		listSource.filter({ field: "RightName", operator: "contains", value: $(e).val() });
	};
	function SiteMenuRightfilterExist(e) {
		var listSource = $("#SiteMenuRightExistRight").data("kendoListBox").dataSource;
		var listuser = $("#SiteMenuRightfilterExist").data("kendoListBox");
		var andfilter = { logic: "and", filters: [] };
		listSource.filter({ field: "RightName", operator: "contains", value: $(e).val() });
	};
	var SiteMenuRightDataSource;
	var SiteMenuRightDataSource1;
	var SiteMenuRightDataSource2;
	var SiteMenuRightTemplate = kendo.template($("#SiteMenuRightTemplate").html());
	function openSiteMenuRight(e) {
		$("#SiteMenuRightfilterAll").val("");
		$("#SiteMenuRightfilterExist").val("");

		var wnd = $("#SiteMenuRightPopUp").data("kendoWindow");
		var grid = $("#SiteMenuGrid").data("kendoGrid");
		var dataItem = grid.dataItem($(e.currentTarget).closest("tr"));
		BindSiteMenuRightListbox(dataItem.ID)
		wnd.center().open();

	}
	$(document).ready(function () {
		var wnd = $("#SiteMenuRightPopUp").data("kendoWindow");
		wnd.content(SiteMenuRightTemplate);
	})
	function BindSiteMenuRightListbox(SiteMenuid) {
		SiteMenuRightDataSource = new kendo.data.DataSource({

			transport: {
				read: {
					async: false,
					cache: false,
					url: "../Admin/GetSiteMenuRightViewModelList?nid=" + SiteMenuid,
					dataType: "json"
				},
				update: {
					url: "../Admin/UpdateSiteMenuRightList",
					dataType: "json",
					type: "POST",
					complete: function (e) {
						mApp.unblockPage();
						swal({
							title: "Success!"
						})
					},
				},
				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {
						//return { models: JSON.stringify(options.models) };
						mApp.blockPage();
						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "ID",
					fields: {
						ID: { editable: false, nullable: true },
						RightName: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		SiteMenuRightDataSource1 = new kendo.data.DataSource({
			transport: {
				read: {
					cache: false,
					async: false,
					url: "../Admin/GetSiteMenuRightViewModelList?nid=" + SiteMenuid + "&bExist=0",
					dataType: "json"
				},

				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {

						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "ID",
					fields: {
						ID: { editable: false, nullable: true },
						RightName: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		SiteMenuRightDataSource2 = new kendo.data.DataSource({
			serverFiltering: false,

			transport: {
				read: {
					cache: false,
					async: false,
					url: "../Admin/GetSiteMenuRightViewModelList?nid=" + SiteMenuid + "&bExist=1",
					dataType: "json"
				},

				parameterMap: function (options, operation) {
					if (operation !== "read" && options.models) {

						return { models: kendo.stringify(options.models) };
					}
				}
			},

			batch: true,
			schema: {
				model: {
					id: "ID",
					fields: {
						ID: { editable: false, nullable: true },
						RightName: { type: "string" },
						bexist: { type: "boolean" },

					}
				}
			}
		});
		SiteMenuRightDataSource.read();
		var ListAll = $("#SiteMenuRightAllRight").data("kendoListBox");
		var ListExist = $("#SiteMenuRightExistRight").data("kendoListBox")


		ListAll.setDataSource(SiteMenuRightDataSource1);
		ListExist.setDataSource(SiteMenuRightDataSource2);


	}
	function saveSiteMenuRight() {
		SiteMenuRightDataSource.sync();
		var wnd = $("#SiteMenuRightPopUp").data("kendoWindow");
		wnd.center().close();
	}
	function SiteMenuRightCancel() {

		var wnd = $("#SiteMenuRightPopUp").data("kendoWindow");
		wnd.center().close();
	}
	function setSiteMenuRightDiscontinued(ev, flag) {
		var removedItems = ev.dataItems;
		for (var i = 0; i < removedItems.length; i++) {
			var item = SiteMenuRightDataSource.get(removedItems[i].id);

			item["bExist"] = flag;

			item.dirty = !item.dirty;
		}
	}
</script>

