﻿
@{
    ViewBag.Title = "SiteMenu";
}
<div class="m-portlet">
	<div class="m-portlet__body">
		<div class="form-group m-form__group row">
			@(Html.Kendo().Grid<MEHK.Workflow.Admin.Models.SiteMenuViewModels>()
	.Name("SiteMenuGrid")
	.Columns(columns =>
	{
		columns.Bound(o => o.PageName).Width(100);
		columns.Bound(o => o.PageDisplayName).Width(100);
		columns.Bound(o => o.PageNameDisplayName_CN).Width(100);
		columns.Bound(o => o.URL).Width(100);
		//columns.Bound(o => o.AppName).Width(100);
		columns.Bound(o => o.ParentName).Width(100);
		columns.Command(command =>
		{
			command.Edit(); command.Destroy();
			command.Custom("Add Site Menu Right").Click("openSiteMenuRight");
		}).Width(250);
	})

	.Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("SiteMenuEditorTemplates").Window(w => w.Width(900)))
	.ToolBar(toolbar => toolbar.Create())
	.Filterable(filterable => filterable
		.Extra(false)
		.Operators(operators => operators
			.ForString(str => str.Clear()
				.IsEqualTo("Is equal to")
			.StartsWith("Starts with")
				.IsNotEqualTo("Is not equal to")
			)
			)
		)
	//.Events(e => e.Save("GridSave"))
	.Pageable()
	.Sortable()
	.Scrollable()
	.HtmlAttributes(new { style = "height:550px;" })
	.DataSource(dataSource => dataSource
		.Ajax()
		.PageSize(20)
		.Model(model => model.Id(p => p.ID))
		.Create(update => update.Action("CreateSiteMenu", "Admin").Data("CreateData"))
		.Read(read => read.Action("GetSiteMenu", "Admin"))
	.Update(update => update.Action("UpdateSiteMenu", "Admin"))
	.Destroy(update => update.Action("DeleteSiteMenu", "Admin"))
	)
			)
			@Html.Partial("~/Views/Admin/SiteMenuPopUp.cshtml")
		</div>
	</div>
</div>
<script>
	function ParentData() {
		var ID = $("#ID").val();
		var ddl = $("#ParentIDStr").data("kendoDropDownList");
		return {
			text: ddl.filterInput.val(),
			ID: ID
		};
	}
	function CreateData() {
		return {
			ParentID: $("#ParentID").val()
		}
	}
	//function GridSave(e) {
	//	var Parent = $("#ParentID").val()
	//	alert(Parent)
	//	e.preventDefault();
	//	return false;
	//}
</script>

