﻿
@{
    ViewBag.Title = "SystemParameter";
}
<style>
    .k-edit-form-container {
        width: auto;
    }
</style>
<div class="m-portlet">
	<div class="m-portlet__body">
		<div class="form-group m-form__group row">
			@(Html.Kendo().Grid<MEHK.Workflow.Data.DTO.SystemParameterViewModels>()
    .Name("GroupGrid")
    .Columns(columns =>
    {
        columns.Bound(o => o.AppKey).Width(100);
        columns.Bound(o => o.Value).Width(100);
        //columns.Bound(o => o.ExchangeRate).Format("{0:n2}").Width(100);
        columns.Command(command =>
        {
            command.Edit();
            //command.Destroy();
        }).Width(250);
    })
    .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("SystemParameterEditorTemplates").Window(w => w.Width(470)))
    //.ToolBar(toolbar => toolbar.Create())
    .Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
            .ForString(str => str.Clear()
                .IsEqualTo("Is equal to")
            .StartsWith("Starts with")
                .IsNotEqualTo("Is not equal to")
            )
            )
        )
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:550px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        //.Events(events => events.Error("error_handler"))
        .Model(model => model.Id(p => p.AppKey))
        //.Create(update => update.Action("CreateSystemParameter", "Admin"))
        .Read(read => read.Action("GetListSystemParameter", "Admin"))
    .Update(update => update.Action("UpdateSystemParameter", "Admin"))
    .Destroy(update => update.Action("DeleteSystemParameter", "Admin"))
    )
			)
		</div>
	</div>
</div>

