﻿@model MEHK.Workflow.Admin.Models.OrganizationViewModel
@{
    ViewBag.Title = "Home Page";
}
<style>
    span.k-in > span.highlight {
        background: yellow;
    }

    #tabstrip h2 {
        font-weight: lighter;
        font-size: 5em;
        line-height: 1;
        padding: 0 0 0 30px;
        margin: 0;
    }

        #tabstrip h2 span {
            background: none;
            padding-left: 5px;
            font-size: .3em;
            vertical-align: top;
        }

    #tabstrip p {
        margin: 0;
        padding: 0;
    }

    .k-widget.k-treeview {
        overflow-y: scroll;
        max-height: 885px;
        height: 885px;
    }

    .k-widget .k-tabstrip .k-header .k-floatwrap .k-tabstrip-top {
        background-color: #f5f5f5 !important;
    }
</style>
<script id="treeview-template" type="text/kendo-ui-template">
    #: item.Name #
    # if (!item.items) { #
    <a class='k-icon k-i-close-outline' href='\#'></a>
    # } #

</script>
<script>
    $(document).on("click", ".k-icon.k-i-close-outline", function (e) {

        if (!confirm("Are you sure you want to delete this record？")) {
            window.event.returnValue = false;
            return;
        }

        e.preventDefault();
        var treeview = $("#treeviewOrganizationUnits").data("kendoTreeView");

        var UnitsId = treeview.dataItem($(this).closest(".k-item")).id;
        console.log(UnitsId);
        $.ajax({
            type: "Get",
            url: "../../MEHK.CommonAPI/api/Organization/DeletUnitsbyId",
            data: { UnitsId}
        });

        treeview.remove($(this).closest(".k-item"));
        location.reload();
    });
</script>
@*<h2>Organization Units</h2>*@




<div class="row">
    <div class="col-md-6">

        <div class="demo-section k-content" style="border: solid;
    border-color: #ccc !important;
    border-width: thin;">


            <input id='search-term' class="form-control" type="text" placeholder="Search" aria-label="Search" />


            @(Html.Kendo().TreeView()
        //.DragAndDrop(true)
        .Name("treeviewOrganizationUnits")
        .TemplateId("treeview-template")
        .AutoScroll(true)
        .ExpandAll(true).AutoScroll(true)
        .DataTextField("Name")
        .DataSource(dataSource => dataSource
            .Read(read =>
                //.Action("GetOrganizationUnits", "Admin")
                read.Url("../../MEHK.CommonAPI/api/Organization/OrganizationUnits").Data("additionalInfo")
            )
        )
            .Events(events => events
                .Select("onSelectTreeviewOrganizationUnits"))
            )

        </div>
    </div>
    <div class="col-md-6">
        <div class="demo-section k-content" style="padding-right: 0px;padding-left: 0px;">
            @(Html.Kendo().TabStrip().HtmlAttributes(new { @style = "background-color:#f5f5f5;border:solid;border-color:transparent !important;border-width:thin" })
      .Name("tabstrip")
      .Animation(animation =>
          animation.Open(effect =>
              effect.Fade(FadeDirection.In)))
      .Items(tabstrip =>
      {
      tabstrip.Add().Text("OrgUnit").HtmlAttributes(new { @class = "OrgUnit" })

              .Selected(true)
              .Content(@<text>
                <div id="" class="weather">

                    <div class="container" style="width:95%">
                        <form class="form-horizontal" role="form">


                            <div class="form-group">

                                @Html.Label("Type", new { @class = "col-md-3 control-label" })

                                <div class="col-md-9">

                                    @(Html.Kendo().DropDownList()
               .Name("EditddlTypeID")
              .DataTextField("Description")
                //.OptionLabel("Please Select")
                .OptionLabel("--- Select Type ---")
                   .Filter("contains")
              .DataValueField("UnitTypeId").Enable(false)
              .DataSource(source =>

                  source.Read(read =>

                      read.Url("../../MEHK.CommonAPI/api/Organization/UnitTypes").Data("GetUnitTypes")


                  )
              )
              // .Events(e => e.Change("TypeValueChanged"))
              .HtmlAttributes(new { style = "width: 100%" })
                                    )
                                </div>
                            </div>
                            <div class="form-group ParentRow">

                                @Html.Label("Parent", new { @class = "col-md-4 control-label" })

                                <div class="col-md-9 ">
                                    @Html.Label(" ", new { @class = "ParentValue", @style = "display:none" })
                                    @(Html.Kendo().DropDownList()
               .Name("EditddlParentID")
               .OptionLabel("--- Select Parent ---")
              .DataTextField("UnitName")
              .DataValueField("UnitId")
              .Filter("contains")
              .DataSource(source =>

                  source.Read(read =>

                      read.Url("../../MEHK.CommonAPI/api/Organization/Units")
                    .Data("GetTypeID")


                  ).ServerFiltering(true)
              )
              .Events(e =>
              {
                  e.DataBound("EditddlParentIDchange");
              })

              //.Events(e => e.Change("TypeValueChanged"))
              .HtmlAttributes(new { style = "width: 100%" })
            .CascadeFrom("EditddlTypeID")
            .AutoBind(false)
            .Enable(false)
                                    )
                                    <br />
                                    <input type="button" value="Clear" id="clearParentOrganization" class="btn default" onclick="doClear()" style="display:none;" />
                                </div>
                            </div>

                            <div class="form-group">

                                @Html.Label("Code", new { @class = "col-md-3 control-label" })

                                <div class="col-md-9">

                                    @Html.Kendo().TextBox().Name("EditUnitName").HtmlAttributes(new { @class = "form-control", @maxlength = "200", style = "Width:100%" }).Enable(false)

                                </div>
                            </div>
                            <div class="form-group">

                                @Html.Label("Name", new { @class = "col-md-3 control-label" })

                                <div class="col-md-9">

                                    @Html.Kendo().TextBox().Name("EditDescription").HtmlAttributes(new { @class = "form-control", @maxlength = "200", style = "Width:100%" }).Enable(false)
                                </div>
                            </div>

							@if (@ViewBag.IsIT)
                            {
                                <div class="form-group" id="CostCenterDiv">
                                    @Html.Label("Cost Center(s)", new { @class = "col-md-3 control-label" })

                                    <div class="col-md-9">

                                        @(Html.Kendo().MultiSelect().Name("EditCostCenter").Enable(false)
                                .Placeholder("--- Select Cost Center(s) ---").DataValueField("CostCenterId").DataTextField("Description")
                                .Filter("contains")
                                .DataSource(source =>

                                {
                                    source.Read(read =>
                                    {
                                        read.Url("../../MEHK.CommonAPI/api/Organization/CostCenters");
                                    })
                                    .ServerFiltering(true);
                                })
                                .HtmlAttributes(new { style = "width:100%;" })
                                        )
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="form-group" id="CostCenterDiv" style="display:none">
                                    @Html.Label("Cost Center(s)", new { @class = "col-md-3 control-label" })

                                    <div class="col-md-9">

                                        @(Html.Kendo().MultiSelect().Name("EditCostCenter").Enable(false)
                                    .Placeholder("--- Select Cost Center(s) ---").DataValueField("CostCenterId").DataTextField("Description")
                                    .Filter("contains")
                                    .DataSource(source =>

                                    {
                                        source.Read(read =>
                                        {
                                            read.Url("../../MEHK.CommonAPI/api/Organization/CostCenters");
                                        })
                                        .ServerFiltering(true);
                                    })
                                    .HtmlAttributes(new { style = "width:100%;" })
                                        )
                                    </div>
                                </div>
                            }






                            <div class="form-group">
                                <div class="col-md-2 " style="display:none">

                                </div>
                                <div class="col-md-4 EditPanel" style="display:none">


                                    <input type="button" value="Save" id="EditSave" name="submitButton" onclick="SaveAndCreate()" class="btn btn-primary" style="margin-right: 10px" />

                                    <input type="button" value="Cancel" id="EditCancel" class="btn btn-default" onclick="doCancel()" />
                                </div>
                            </div>


                        </form>
                    </div>
                    <div class="ControlPanel" style="padding-left: 30px;">
                        <a class="k-button k-button-icontext " onclick="createUnit()" href="#">Create</a>
                        <a></a>
                        <a class="k-button k-button-icontext EditBtn" style="display:none" onclick="editUnit()" href="#">Edit</a>
                        <a></a>
                        @*<a class="k-button k-button-icontext DeleteBtn" style="display:none" onclick="deleteUnit()" href="#">Delete</a>*@
                    </div>
                </div>

            </text>);

tabstrip.Add().Text("Create Unit").HtmlAttributes(new { @class = "OrgCreateUnit", @style = "display:none;padding-bottom: 25px;" })

     .Content(@<text>
            <div>
                @Html.EditorFor(m => m.UpdateUnitModel, new { Mode = "Create" })


            </div>

    </text>);

      })
            )
        </div>
        <br />
        @(Html.Kendo().Grid<MEHK.Workflow.Data.DTO.UserInfo>()
        .Name("GridOrganizationUser")
        //.AutoBind(false)
        .Columns(columns =>
        {
            //columns.Bound(p => p.MemberId).Title("Id");
            columns.Bound(p => p.MemberName).Title("Member");
            columns.Bound(p => p.Post).Title("Post");
            columns.Bound(p => p.JobLevel).Title("Job Level");
            columns.Bound(p => p.CreatedString).Title("Created Date");
            // columns.Bound(p => p.UnitId).Title("").Hidden();
            columns.Command(command => command.Destroy());
        })

        .Pageable()
        .Sortable()
        .Scrollable(scr => scr.Height(300))
        .Filterable()
        .ToolBar(toolbar =>
        toolbar.Template("<div><span class='pull-left gridTitle'></span><span class='pull-right'><a id='AddMember' class='k-button k-button-icontext k-grid-add' style='display:none' href='#'>Add Member</a></span></div><div class='clear'></div>"))
        .Editable(editable =>
        {
            editable.Mode(GridEditMode.PopUp);
            editable.TemplateName("GVOrganizationPopup");
            //editable.AdditionalViewData()
        }).HtmlAttributes(new { @style = "display:none" })
        .Events(e =>
        {

            // e.Save("UpdateStages");
            //e.SaveChanges("UpdateStages");
            //e.Cancel("UpdateStages");
            //e.Edit("insertPopupCaption");
        })

          .DataSource(dataSource => dataSource
          //.WebApi()
         .Ajax()
         .PageSize(20)

         //.Read(read =>
         //        read.Url("../../MEHK.CommonAPI/api/Organization/Members").Data("additionalInfoGrid").Type(HttpVerbs.Get)

         //    )
         .Read(read => read.Action("UnitMemberGridList", "Manage").Data("additionalInfoGrid"))
         //  .Events(events => events.RequestEnd("onRequestEnd"))
         .Model(model =>
         {
             model.Id(p => p.MemberId);
         }
         )
          .Create(update => update.Action("UnitMemberGridListCreate", "Manage").Data("AddMember"))

            .Update(update => update.Action("UnitMemberGridListUpdate", "Manage"))
            .Destroy(update => update.Action("UnitMemberGridListDestroy", "Manage").Data("RemoveMember"))
         // .Create(update => update.Url("../../MEHK.CommonAPI/api/Organization/MemberUnits").Data("AddMember"))
         //.Update(update => update.Action("OrganizationUser_Update", "Admin"))
         //.Destroy(update => update.Url("../../MEHK.CommonAPI/api/Organization/MemberUnits").Data("RemoveMember"))
         )
        )

    </div>


</div>
@Html.Partial("../Shared/_LocalizationString")

<script>
    let gridID = -1;
    let gridName = '';
    let isEdit = false;

    $(document).ready(function () {
    	

        $('#search-term').on('keyup', function () {
            var tv = $('#treeviewOrganizationUnits').data('kendoTreeView');
            $('span.k-in > span.highlight').each(function () {
                $(this).parent().text($(this).parent().text());
            });

            // ignore if no search term
            if ($.trim($(this).val()) == '') { return; }

            var term = this.value.toUpperCase();
            var tlen = term.length;

            $('#treeviewOrganizationUnits span.k-in').each(function (index) {
                var text = $(this).text();
                var html = '';
                var q = 0;
                while ((p = text.toUpperCase().indexOf(term, q)) >= 0) {
                    html += text.substring(q, p) + '<span class="highlight">' + text.substr(p, tlen) + '</span>';
                    q = p + tlen;
                }

                if (q > 0) {
                    html += text.substring(q);
                    $(this).html(html);

                    $(this).parentsUntil('.k-treeview').filter('.k-item').each(
                        function (index, element) {
                            tv.expand($(this));
                            $(this).data('search-term', term);
                        }
                    );
                }
            });

            $('#treeviewOrganizationUnits .k-item').each(function () {
                if ($(this).data('search-term') != term) {
                    tv.collapse($(this));
                }
            });
        });

    });

    function BindOrgUser(orgID) {
        gloableorgID = orgID
        dataSource1 = new kendo.data.DataSource({
            serverFiltering: false,

            transport: {
                read: {
                    async: false,
                    url: "/Admin/GetOrganizationUserListView?orgID=" + orgID + "&bExist=0",
                    dataType: "json"
                },
                update: {
                    url: "/Admin/UpdatOrganizationUserListView",
                    dataType: "json",

                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        //console.log(kendo.stringify(options.models));
                        return { models: kendo.stringify(options.models) };
                    }
                }
            },
            requestEnd: function (e) {

                //if (e.type === "read" && e.response) {
                //    console.log("Current request is 'read'.");
                //}
                if (typeof e.type == 'undefined') {
                    UpdateStages();
                }

            },

            batch: true,
            schema: {
                model: {
                    id: "nUserID",
                    fields: {
                        nUserID: { editable: false, nullable: true },
                        sDisplayName: { type: "string" },
                        nTargetID: "nTargetID",
                        bExist: { type: "boolean" },

                    }
                }
            }
        });


        var listuser = $("#listuser").data("kendoListBox");



        listuser.setDataSource(dataSource1);


    }

    function BindExistOrgUser(orgID) {

        dataSource2 = new kendo.data.DataSource({
            serverFiltering: false,

            transport: {
                read: {
                    async: false,
                    url: "/Admin/GetOrganizationUserListView?orgID=" + orgID + "&bExist=1",
                    dataType: "json"
                },
                update: {
                    url: "/Admin/UpdatOrganizationUserListView",
                    dataType: "json",

                },
                parameterMap: function (options, operation) {
                    if (operation !== "read" && options.models) {
                        //console.log(kendo.stringify(options.models));
                        return { models: kendo.stringify(options.models) };
                    }
                }
            },
            requestEnd: function (e) {

                //if (e.type === "read" && e.response) {
                //    console.log("Current request is 'read'.");
                //}
                if (typeof e.type == 'undefined') {
                    UpdateStages();
                }

            },

            batch: true,
            schema: {
                model: {
                    id: "nUserID",
                    fields: {
                        nUserID: { editable: false, nullable: true },
                        sDisplayName: { type: "string" },
                        nTargetID: "nTargetID",
                        bExist: { type: "boolean" },

                    }
                }
            }
        });


        var listgroup = $("#listgroup").data("kendoListBox");


        listgroup.setDataSource(dataSource2);
    }
    function AddOrgUser() {

        if (gridID != -1) {

            dataSourceUser = new kendo.data.DataSource({
                serverFiltering: false,

                transport: {
                    read: {

                        url: "/Admin/GetOrganizationUserListView?orgID=" + gridID,
                        dataType: "json"
                    },
                    update: {
                        url: "/Admin/UpdatOrganizationUserListView",
                        dataType: "json",
                        type: "Post"

                    },
                    parameterMap: function (options, operation) {
                        if (operation !== "read" && options.models) {
                            //console.log(kendo.stringify(options.models));
                            return { models: kendo.stringify(options.models) };
                        }
                    }
                },
                requestEnd: function (e) {

                    //if (e.type === "read" && e.response) {
                    //    console.log("Current request is 'read'.");
                    //}
                    if (typeof e.type == 'undefined') {
                        UpdateStages();
                    }

                },
                change: function (e) {

                    UnBlockUI();
                },
                batch: true,
                schema: {
                    model: {
                        id: "nUserID",
                        fields: {
                            nUserID: { editable: false, nullable: true },
                            sDisplayName: { type: "string" },
                            nTargetID: "nTargetID",
                            bExist: { type: "boolean" },

                        }
                    }
                }
            });

            dataSourceUser.read();
            BindOrgUser(gridID);
            BindExistOrgUser(gridID)

            $('#groupuser').show();

            $("#OrganizationUser").show();
        }
    }
    function UpdateStages() {

        //$('#GridOrganizationUser').data("kendoGrid").dataSource.read();
        //$('#GridOrganizationUser').data("kendoGrid").refresh();
    }

    function onRequestEnd(e) {
        var grid = $("#GridOrganizationUser").data("kendoGrid");
        grid.dataSource.read();
        grid.refresh();
        // console.log(e)
        //if (e.type == "create" || e.type == "update") {

        //    if (!e.response.Errors) {
        //        UpdateStages();

        //    }
        //}
    }


    function insertPopupCaption(e) {

        if (e.model.isNew()) {
            $('.k-window-title').text("Add");
            isAdd = true;
        }
        else {
            $('.k-window-title').text("Edit");
            isAdd = false;
        }

    }

    function additionalInfo() {
        return {
            id: gridID,
            UnitId: gridID,
        }
    }
    function additionalInfoGrid() {
        return {
            // id: gridID,
            UnitId: gridID,
        }
    }
    function AddMember() {

        $.ajax({
            type: "Post",
            url: "../../MEHK.Admin/Manage/UpdatePostAndJobLevel",
            data: {
                MemberId: $("#MemberId").val(),
                JobLevelId: $("#JobLevelId").val(),
                Post: $("#Post").val(),
            },
            success: function (data) {
                
            }
        });

        var data = {
            //MemberId: $("#CreateMember").data("kendoDropDownList").value(),
            CreateUnitId: gridID,
        };
        return data;

        
        //$.ajax({
        //    contentType: 'application/json; charset=utf-8',
        //    //dataType: 'json',
        //    type: type,
        //    url: "Manage/UnitMemberGridListCreate/",
        //    data: JSON.stringify(data),
        //    success: function (data) {
        //        console.log(data)
        //        if (data) {
        //            DialogMessage.AlertMessage('Success');
        //            RemoveWindowOnBeforeUnloadListener();
        //            mApp.unblockPage();
        //            callback();

    }

    function onSelectTreeviewOrganizationUnits(e) {
        console.log(e);
        var treeview = $("#treeviewOrganizationUnits").data("kendoTreeView");

        var data = treeview.dataItem(e.node);

        gridID = data.id;
        gridName = data.Name;
        UpdateStages();
        BindDetail();
        $('#AddMember').show();
        $('.EditBtn').show();
        $('.DeleteBtn').show();
        $(".gridTitle").html("<h3>" + data.Name + "</h3>");
        $("#GridOrganizationUser").show();

    }

    function createUnit() {

        $('.OrgCreateUnit').show();
        $('.OrgCreateUnit').click();
        $('.ControlPanel').hide();

      //  alert(1);
      //  $('CostCenterDiv').hide();

     //   $("#CostCenterDiv").attr("style", "display:none;");
    }

    function doCancel(e) {

        // isEdit = false;
        $('.OrgCreateUnit').hide();
        $('.OrgUnit').click();
        $('.EditPanel').hide();
        $('.ControlPanel').show();
        if (isEdit)
            CanceleditUnit();

    }

    function RefreshTree() {
        $('#treeviewOrganizationUnits').data("kendoTreeView").dataSource.read();
        //$('#treeviewOrganizationUnits').data("kendoTreeView").refresh();
    }

    function apiAction(Title, PostURL, Redirect, data, callback, type) {

        DialogMessage.ConfirmMessage(Title, '', function () {

            mApp.blockPage();
            if (type.toUpperCase() != 'POST') {

                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    //dataType: 'json',
                    type: type,
                    url: PostURL,
                    data: JSON.stringify(data),
                    success: function (data) {
                        console.log(data)
                        if (data) {
                            DialogMessage.AlertMessage('Success');
                            RemoveWindowOnBeforeUnloadListener();
                            mApp.unblockPage();
                            callback();

                        }
                        else {
                            DialogMessage.AlertMessage('Fail on Update');

                            mApp.unblockPage();
                            callback();
                        }
                    },
                    failure: function (response) {
                        mApp.unblockPage();
                    }
                });
            }
            else { }
        });
    }

    function BindDetail() {
        var lineItems = {};

        //lineItems.id = gridID;
        //lineItems.Name = $("#appendNodeText").val();
        //console.log(lineItems);
        //var json = JSON.stringify(lineItems);

        console.log("BindDetail");
        $.ajax({
            url: '../../MEHK.CommonAPI/api/Organization/Units',
            type: "GET",
            data: { UnitId: gridID, UnitName: gridName },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (response) {
                alert(response.responseText);
            },
            success: function (response) {

                element = response[0];
                var Typedropdownlist = $("#EditddlTypeID").data("kendoDropDownList")
                Typedropdownlist.value(element.UnitTypeId);
                var Parentdropdownlist = $("#EditddlParentID").data("kendoDropDownList")
                //    Parentdropdownlist.enable(true);
                // Typedropdownlist.dataSource.refresh();
                // console.log(element.ParentUnitId);
                Parentdropdownlist.dataSource.read();
                Parentdropdownlist.value(element.ParentUnitId);
                // Parentdropdownlist.dataSource.refresh();
                // Parentdropdownlist.enable(false);

                $("#EditUnitName").val(element.UnitShortName);
                $("#EditDescription").val(element.UnitName);


            }
        });
        var CCdropdownlist = $("#EditCostCenter").data("kendoMultiSelect")
        CCdropdownlist.value([]);
        $.ajax({
            url: '../../MEHK.CommonAPI/api/Organization/CostCenters',
            type: "GET",
            data: { UnitId: gridID },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            error: function (response) {
                alert(response.responseText);
            },
            success: function (response) {

                // Parentdropdownlist.enable(true);

                var CCarr = [];
                response.forEach(function (element) {
                    CCarr.push(element.CostCenterId);
                });
                CCdropdownlist.value(CCarr);


            }
        });

        //$.ajax(
        //{
        //    type: 'GET',
        //    url: '../../MEHK.CommonAPI/api/Organization/Members',
        //    dataType: 'json',
        //    data: { UnitId: gridID },
        //    success: function (result) {
        //        $("#GridOrganizationUser").data("kendoGrid").dataSource.data(result);
        //    }
        //});
        $("#GridOrganizationUser").data("kendoGrid").dataSource.read();
        $('.OrgUnit').click();
    }

    function editUnit() {
        isEdit = true;
        //  BindDetail();
        $('.ControlPanel').hide();
        $('.EditPanel').show();

        var Typedropdownlist = $("#EditddlTypeID").data("kendoDropDownList");
        Typedropdownlist.enable(true);
        var Parentdropdownlist = $("#EditddlParentID").data("kendoDropDownList");
        Parentdropdownlist.enable(true);

        $("#EditUnitName").enable(true);
        $("#EditDescription").enable(true);
        var CCdropdownlist = $("#EditCostCenter").data("kendoMultiSelect");
        CCdropdownlist.enable(true);

    }

    function CanceleditUnit() {
        isEdit = false;
        BindDetail();
        $('.ControlPanel').show();
        $('.EditPanel').hide();

        $("#EditddlTypeID").data("kendoDropDownList").enable(false);
        $("#EditddlParentID").data("kendoDropDownList").enable(false);
        $("#EditUnitName").enable(false);
        $("#EditDescription").enable(false);
        $("#EditCostCenter").data("kendoMultiSelect").enable(false);

    }



    function RemoveMember() {
        var data = {
            CreateUnitId: gridID,
        };
        return data;
    }
    function GetUnitTypes() {
        return {
            UnitId: gridID
        }
    }

    function EditddlParentIDchange() {
        if (!isEdit)
            this.enable(false);
    }

    function Save() {

        if (CheckUnit()) {
            var datalist = [];
            var cc = $("#CostCenters").data('kendoMultiSelect').value();
            var data = {
                UnitId: -1,
                UnitName: $('#UnitName').val(),
                UnitTypeId: $('#ddlTypeID').val(),
                Description: $('#Description').val(),
                //ParentUnitId: $('#ddlParentID').val(),
                ParentUnitId: $('#ddlParentID').val(),
                CostCenters: cc,
                ModifiedBy: $('#CurrentUserDisplayName').val()
            }
            datalist.push(data);
            console.log(datalist);
            apiAction("Are you sure to create", "../../MEHK.CommonAPI/api/Organization/Units", "", datalist, function () { doCancel(); RefreshTree(); }, "put")
        }
    }

    function CheckUnit() {
        if (!isEdit) {
            //var result = true;
            if ($('#ddlTypeID').val().trim() == '') {
                DialogMessage.AlertMessage('Please Enter Type');
                // result = false;
                return false;
            }
            if ($('#UnitName').val().trim() == '') {
                DialogMessage.AlertMessage('Please Enter Code');
                // result = false;
                return false;
            }

            if ($('#Description').val().trim() == '') {
                DialogMessage.AlertMessage('Please Enter Name');
                return false;
            }
            return true;
        }
        else {
            //var result = true;
            if ($('#EditddlTypeID').val().trim() == '') {
                DialogMessage.AlertMessage('Please Enter Type');
                // result = false;
                return false;
            }
            if ($('#EditUnitName').val().trim() == '') {
                DialogMessage.AlertMessage('Please Enter Code');
                // result = false;
                return false;
            }

            if ($('#EditDescription').val().trim() == '') {
                DialogMessage.AlertMessage('Please Enter Name');
                return false;
            }
            return true;

        }


    }

    function SaveAndCreate() {
        if (!isEdit) {
            if (CheckUnit()) {
                var datalist = [];
                var cc = $("#CostCenters").data('kendoMultiSelect').value();
                var data = {
                    UnitId: -1,
                    UnitName: $('#UnitName').val(),
                    UnitTypeId: $('#ddlTypeID').val(),
                    Description: $('#Description').val(),
                    //ParentUnitId: $('#ddlParentID').val(),
                    ParentUnitId: $('#ddlParentID').val(),
                    CostCenters: cc,
                    ModifiedBy: $('#CurrentUserDisplayName').val()
                }
                datalist.push(data);
                console.log(datalist);
                apiAction("Are you sure to create", "../../MEHK.CommonAPI/api/Organization/Units", "", datalist, function () { doCancel(); gridID = -1; RefreshTree(); }, "put")
            }
        }
        else {
            if (CheckUnit()) {
                var datalist = [];
                var cc = $("#EditCostCenter").data('kendoMultiSelect').value();
                var data = {
                    UnitId: gridID,
                    UnitName: $('#EditUnitName').val(),
                    UnitTypeId: $('#EditddlTypeID').val(),
                    Description: $('#EditDescription').val(),
                    //ParentUnitId: $('#ddlParentID').val(),
                    ParentUnitId: $('#EditddlParentID').val(),
                    CostCenters: cc,
                    ModifiedBy: $('#EditCurrentUserDisplayName').val()
                }
                datalist.push(data);
                console.log(datalist);
                apiAction("Are you sure to Edit", "../../MEHK.CommonAPI/api/Organization/Units", "", datalist, function () { doCancel(); gridID = -1; RefreshTree(); }, "put")
            }

        }
    }

    function GetTypeID() {


        // console.log("$('#EditddlTypeID').val()" + $('#EditddlTypeID').val())
        return {
            id: $('#EditddlTypeID').val(),
            currentTypeId: $('#EditddlTypeID').val() - 1
        }

    }
    function GetCreateTypeID() {


        return {
            id: $('#ddlTypeID').val(),
            currentTypeId: $('#ddlTypeID').val() - 1
        }


    }


</script>
