﻿@model MEHK.Workflow.EntertainmentGift.ViewModels.BaseFormViewModel

<div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
    <div class="m-form__actions m-form__actions--solid">
        <div class="row">
            <div class="col-lg-12 text-center">

                @foreach (var Action in Model.ActionList)
                {

                    if (Action == "Submit")
                    {
                        <button class="btn btn-success" id="btnSubmit">Submit</button>
                    }
                    if (Action == "ReimbursementSubmit")
                    {
                        <button class="btn btn-success WorkflowAction"  data-formAction="ReimbursementSubmit" data-wfAction="ReimbursementSubmit" id="btnWorkflowActionSubmit">Submit</button>
						if (Model.IsCompleted == false)
						{
						<button class="btn btn-secondary" id="btnDraft_ReimbursementSubmit">Save</button>
						}
						

					}
					if (Action == "Resubmit")
					{
                        <button class="btn btn-success WorkflowAction" id="btnResubmit" data-formAction="Resubmit" data-wfAction="Resubmit">Submit</button>
						if (Model.IsCompleted == true)
						{

							<button class="btn btn-success WorkflowAction" data-formAction="Cancel" data-wfAction="Withdraw">Cancel</button>

						}
					}

					if (Action == "Save_PreApproval")
					{
                        <button class="btn btn-secondary" id="btnSave_PreApproval">Save</button>
                    }

                    if (Action == "SaveAsDraft_PreApproval")
                    {
                        <button class="btn btn-secondary" id="btnDraft_PreApproval">Save as Draft</button>
                    }

                    if (Action == "Delete")
                    {
                        <button class="btn btn-secondary" id="btnDeleteDraft">Delete</button>
                    }

                    if (Action == "Save_Reimbursement")
                    {
                        <button class="btn btn-secondary" id="btnSave_PreApproval">Save</button>
                    }

                    if (Action == "Cancel")
                    {
                        <button class="btn btn-success WorkflowAction" data-formAction="Cancel" data-wfAction="Withdraw">Cancel</button>
                    }

                    if (Action == "Approve")
                    {
                        <button class="btn btn-success WorkflowAction" id="btnApprove" data-formAction="Approve" data-wfAction="Approve">Approve</button>
                    }

                    if (Action == "Return")
                    {
                        <button class="btn btn-success WorkflowAction" id="btnReturn" data-formAction="Return" data-wfAction="Return">Return</button>
                    }

                    if (Action == "Reject")
                    {
                        <button class="btn btn-secondary WorkflowAction" id="btnReject" data-formAction="Reject" data-wfAction="Rejected">Reject</button>
                    }
                }


                @if (Model.Mode == "View")
                {
                    <button class="btn btn-secondary" id="btnCancelWithoutConfirm">Close</button>
                }
                else
                {
                    <button class="btn btn-secondary" id="btnCancel">Close</button>
                }
                <button hidden class="btn btn-success" id="btnPrint">Print</button>
            </div>
        </div>
    </div>
</div>