﻿@model MEHK.Workflow.EntertainmentGift.ViewModels.EntertainmentGiftFormViewModel
@using MEHK.Workflow.EntertainmentGift.Helper
<div class="form-group m-form__group row">
    <label class="col-lg-12 col-form-label formItemTitle">
        Payment Reimbursement Detail
    </label>
</div>
<form id="SReimbursementForm" class="m-form m-form--fit m-form--label-align-left">
		@*@Html.HiddenFor(m => m.PaymentReimbursement.EventDateOnString)
		@Html.HiddenFor(m => m.PaymentReimbursement.EventDateToString)*@
	<input type="hidden" id="ReimbursementSubmit" value="true" />
	<div class="form-group m-form__group row">
		<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PaymentReimbursement.PostingInstruction):</label>
		<div class="col-lg-10">
			@Html.CustomHelperForTextBox(m => m.PaymentReimbursement.PostingInstruction, Model.EnablePaymentReimbursementPart,127)
		</div>

	</div>

	<div class="form-group m-form__group row">
		<label class="col-lg-2 col-form-label">Cost Centre:</label>
		<div class="col-lg-10">
@if (Model.EnablePaymentReimbursementPart)
{
			@*<select id="IsNoDuplicationOfBudget"></select>*@
	@(Html.Kendo().MultiSelect()
			  .Name("IsNoDuplicationOfBudget")
			  .DataTextField("Description")
			  .DataValueField("CostCenterId")
			  .Placeholder("Select Cost Centre...")
			  .AutoBind(false)
			  .Filter("contains")
			  .Value(Model.PaymentReimbursement.CostCenterList)
			  .DataSource(source =>
			  {
				  source.Read(read =>
				  {
					  read.Action("GetCostCentersList", "EntertainmentGift").Data("getCentreFilterMultiSelectData");
				  })
				  ;
			  })
	)
}
else
{
	<span class="form-control-plaintext">@Model.PaymentReimbursement.CostCenterName</span>
}
		</div>
	</div>

	@*<div class="form-group m-form__group row">
		<div class="col-lg-6">
			<input type="checkbox" id="IsNoDuplicationOfBudget" /> @Resources.Resource_EntertainmentGift.ReimbursedByMELCO
			
		</div>
	</div>*@

	<div class="form-group m-form__group row">
		<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PaymentReimbursement.Purpose):</label>
		<div class="col-lg-10">
			@Html.CustomHelperForTextArea(m => m.PaymentReimbursement.Purpose, Model.EnablePaymentReimbursementPart,127)
		</div>
	</div>

	<div class="form-group m-form__group row">
		<label class="col-lg-2 col-form-label">Date of Event on:</label>
		<div class="col-lg-4">

			@if (Model.EnablePaymentReimbursementPart)
			{
				@(Html.Kendo().DatePickerFor(model => model.PaymentReimbursement.EventDateOn)
							.HtmlAttributes(new { style = "width: 100%" })
							.Events(e =>
							{
								e.Change("PaymentPreApprovalEventDateOnChange");
							})
							.Format(Resources.Resource_Common.DisplayDateOnlyFormat)
				)
			}
			else
			{
				<span class="form-control-plaintext">
					@(Model.PaymentReimbursement.EventDateOn.HasValue ? Model.PaymentReimbursement.EventDateOn.Value.ToString(Resources.Resource_Common.DisplayDateOnlyFormat) : String.Empty)
				</span>
			}



		</div>
		<label class="col-lg-2 col-form-label">Date of Event to:</label>
		<div class="col-lg-4">

			@if (Model.EnablePaymentReimbursementPart)
			{
				@(Html.Kendo().DatePickerFor(model => model.PaymentReimbursement.EventDateTo)
								.HtmlAttributes(new { style = "width: 100%" })
								.Format(Resources.Resource_Common.DisplayDateOnlyFormat))
			}
			else
			{
				<span class="form-control-plaintext">
					@(Model.PaymentReimbursement.EventDateTo.HasValue ? Model.PaymentReimbursement.EventDateTo.Value.ToString(Resources.Resource_Common.DisplayDateOnlyFormat) : String.Empty)
				</span>
			}

		</div>
	</div>

	<div class="form-group m-form__group row " style="display:none" id="divPaymentLateApplicationReason">
		<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PaymentReimbursement.LateApplicationReason):</label>
		<div class="col-lg-10">
			@Html.CustomHelperForTextBox(m => m.PreApproval.LateApplicationReason, Model.EnablePaymentReimbursementPart,127)
		</div>

	</div>

	<div class="form-group m-form__group row">
		<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PaymentReimbursement.NatureOfGift):</label>
		<div class="col-lg-10">
			@Html.CustomHelperForTextBox(m => m.PaymentReimbursement.NatureOfGift, Model.EnablePaymentReimbursementPart,127)


		</div>

	</div>

	<div class="form-group m-form__group row">
		<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PaymentReimbursement.Guest):</label>
		<div class="col-lg-10">
			@Html.CustomHelperForTextArea(m => m.PaymentReimbursement.Guest, Model.EnablePaymentReimbursementPart,127)


		</div>

	</div>

	<div class="form-group m-form__group row">
		<div class="col-lg-6">
		</div>
		<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PaymentReimbursement.GuestTotal):</label>
		<div class="col-lg-4">
			@if (Model.EnablePaymentReimbursementPart)
			{
				@(Html.Kendo().NumericTextBoxFor(model => model.PaymentReimbursement.GuestTotal).Min(0).Decimals(0).Format("#")
							.HtmlAttributes(new { style = "width: 100%" })
				)
			}
			else
			{
				<span class="form-control-plaintext" s>@Model.PaymentReimbursement.GuestTotal</span>
			}
		</div>
	</div>

	<div class="form-group m-form__group row">
		<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PaymentReimbursement.Company):</label>
		<div class="col-lg-10">
			@Html.CustomHelperForTextBox(m => m.PaymentReimbursement.Company, Model.EnablePaymentReimbursementPart,127)
		</div>

	</div>

	<div class="form-group m-form__group row">
		<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PaymentReimbursement.Attendant):</label>
		<div class="col-lg-10">
			@Html.CustomHelperForTextArea(m => m.PaymentReimbursement.Attendant, Model.EnablePaymentReimbursementPart,127)


		</div>

	</div>

	<div class="form-group m-form__group row">
		<div class="col-lg-6">
		</div>
		<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PaymentReimbursement.AttendantTotal):</label>
		<div class="col-lg-4">
			@if (Model.EnablePaymentReimbursementPart)
			{
				@(Html.Kendo().NumericTextBoxFor(model => model.PaymentReimbursement.AttendantTotal).Min(0).Decimals(0).Format("#")
							.HtmlAttributes(new { style = "width: 100%" })
				)
			}
			else
			{
				<span class="form-control-plaintext" s>@Model.PaymentReimbursement.AttendantTotal</span>
			}
		</div>
	</div>

	
	<div class="form-group m-form__group row">
		<div class="col-lg-5"></div>
		<label class="col-lg-6 col-form-label">(Exchange rate with evidence)</label>
	</div>

	<div class="form-group m-form__group row">
		<label class="col-lg-3 col-form-label">Currency</label>
		<label class="col-lg-2 col-form-label">Amount</label>
		<div class="col-lg-3">
@if (Model.EnablePaymentReimbursementPart)
{
			<input type="checkbox" id="UseSystemRate" /><text> Use System Rate</text>
		}
		</div>
	</div>
	<div class="form-group m-form__group row">
		
			<div class="col-lg-3">
@if (Model.EnablePaymentReimbursementPart)
{
	@(Html.Kendo().ComboBoxFor(e => e.PaymentReimbursement.Currency)
		 .DataTextField("CurrencyName")
.DataValueField("CurrencyID")
.Events(e => e.Change("GetExchangeRate"))
		 .DataSource(source =>
		 {
			 source.Read(read =>
			 {
				 read.Action("GetCurrencyList", "EntertainmentGift");
			 });
		 })
	)

				@*@(Html.Kendo().DropDownListFor(e => e.PaymentReimbursement.Currency)
//.OptionLabel("--Please Select--")
.DataTextField("CurrencyName")
.DataValueField("CurrencyID")
.Events(e=>e.Change("GetExchangeRate"))
.DataSource(source =>
{
	source.Read(read =>
	{
		read.Action("GetCurrencyList", "EntertainmentGift");
	});
})
.HtmlAttributes(new { style = "width: 100%" })
				)*@


}
else
{
	<span class="form-control-plaintext" >@Model.PaymentReimbursement.CurrencyName</span>
}
			</div>
			<div class="col-lg-2">
				@if (Model.EnablePaymentReimbursementPart)
				{
				@(Html.Kendo().NumericTextBoxFor(model => model.PaymentReimbursement.Amount).Min(0).Decimals(2)
						.Events(e => e.Change("setResultAmount"))
									.HtmlAttributes(new { style = "width: 100%" })
				)
				}
				else
				{
					<span class="form-control-plaintext" s>@Model.PaymentReimbursement.Amount</span>
				}
			</div>
			X
			<div class="col-lg-2">
				@if (Model.EnablePaymentReimbursementPart)
				{
					@(Html.Kendo().NumericTextBoxFor(model => model.PaymentReimbursement.ExchangeRate).Min(0).Decimals(5).Format("n5")
					.Events(e => e.Change("setResultAmount"))
					.HtmlAttributes(new { style = "width: 100%" })
					)
				}
				else
				{
					<span class="form-control-plaintext" s>@Model.PaymentReimbursement.ExchangeRate</span>
				}
			</div>
			=
			<div class="col-lg-2">
@if (Model.EnablePaymentReimbursementPart)
{

	if (Model.BudgetType == "Entertainment")
	{
		@*<input type="text" id="ResultAmount" class="k-textbox k-input" value="@Model.PaymentReimbursement.AmountHKEntertain" disabled="disabled" />*@
		@(Html.Kendo().NumericTextBox().Name("ResultAmount").Min(0.01).Decimals(2)
					.Value(Model.PaymentReimbursement.AmountHKEntertain != null ? (double)Model.PaymentReimbursement.AmountHKEntertain : 0)
					.HtmlAttributes(new { style = "width: 100%", disabled = "disabled" })
		)
	}
	else if (Model.BudgetType == "Gift")
	{
		@*<input type="text" id="ResultAmount" class="k-textbox k-input" value="@Model.PaymentReimbursement.AmountHKGift" disabled="disabled" />*@

		@(Html.Kendo().NumericTextBox().Name("ResultAmount").Min(0.01).Decimals(2)
					.Value(Model.PaymentReimbursement.AmountHKGift != null ? (double)Model.PaymentReimbursement.AmountHKGift : 0)
					.HtmlAttributes(new { style = "width: 100%", disabled = "disabled" })
		)
	}
}
else
{

	if (Model.BudgetType == "Entertainment")
	{
		<label class="col-form-label 1">
			@Model.PaymentReimbursement.AmountHKEntertain
		</label>
	}
	else if (Model.BudgetType == "Gift")
	{
		<label class="col-form-label 2">
			@Model.PaymentReimbursement.AmountHKGift
		</label>
	}
}
			</div>
		
	</div>

	<div class="form-group m-form__group row">
		<label class="col-lg-2 col-form-label">Amount Exceed:</label>
		<div class="col-lg-10">

			@Html.CustomHelperForTextBox(m => m.PaymentReimbursement.AmountExceedReason, Model.EnablePaymentReimbursementPart,127)


		</div>
	</div>
	<div class="form-group m-form__group row">
		<label class="col-lg-2 col-form-label">Payment method:</label>
		<div class="col-lg-4">
@if (Model.EnablePaymentReimbursementPart)
{
			@*<input name="PaymentMethod" type="radio" checked="checked" value="Personal Re-Imburse to Payee" />*@
			@Html.RadioButton("PaymentMethod", "Personal Re-Imburse to Payee",
		   Model.PaymentReimbursement.PaymentMethod== "Personal Re-Imburse to Payee"? true:false);
	<text>Personal Re-Imburse to Payee</text>
}
else
{
	<span class="form-control-plaintext" >@Model.PaymentReimbursement.PaymentMethod</span>
}
		</div>
		</div>
	<div class="form-group m-form__group row">
		<label class="col-lg-2 col-form-label">&emsp; </label>
		<div class="col-lg-4">
@if (Model.EnablePaymentReimbursementPart)
{
			
			@Html.RadioButton("PaymentMethod", "Corp Card Co.a/c",
		   Model.PaymentReimbursement.PaymentMethod == "Corp Card Co.a/c" ? true : false);
	<text>Corp Card Co.a/c</text>
}

			   </div>
		   </div>

		   <div class="form-group m-form__group row">
		<label class="col-lg-2 col-form-label">&emsp; </label>
		<div class="col-lg-4">
@if (Model.EnablePaymentReimbursementPart)
{

			@Html.RadioButton("PaymentMethod", "Others Pay to",
		   Model.PaymentReimbursement.PaymentMethod == "Others Pay to" ? true : false);
	<text>Others Pay to</text>

}



		</div>
		<div class="col-lg-4">

			@Html.CustomHelperForTextBox(m => m.PaymentReimbursement.PayTo, Model.EnablePaymentReimbursementPart,127)

		</div>
	</div>
	<div class="form-group m-form__group row">
		<label class="col-lg-2 col-form-label">No.of document or receipt attached: </label>
		
		<div class="col-lg-4">
			@*@Html.CustomHelperForTextBox(m => m.PaymentReimbursement.NoOfDocumentOrReceiptAttached, Model.EnablePaymentReimbursementPart)*@
			@if (Model.EnablePaymentReimbursementPart)
			{
				@(Html.Kendo().NumericTextBoxFor(model => model.PaymentReimbursement.NoOfDocumentOrReceiptAttached).Min(0).Decimals(0)
					.HtmlAttributes(new { style = "width: 100%" })
				)
			}
			else
			{
				<span class="form-control-plaintext" >@Model.PaymentReimbursement.NoOfDocumentOrReceiptAttached</span>
			}
		</div>
	</div>

	
	</form>












