﻿@model MEHK.Workflow.EntertainmentGift.ViewModels.EntertainmentGiftFormViewModel


<div class="form-group m-form__group row">
    @*table-responsive*@
    <table class="table table-bordered ">
        <tr>

            <td colspan="4" class="Blue" style="text-align:center">
                <b>
                    Pre-approval
                </b>
            </td>

        </tr>
        <tr>
            <td rowspan="2" class="Blue">
                Pre-approval
                Criteria:
            </td>
            <td rowspan="2" class="Blue">
                $@ViewBag.EntertainmentAmountText /entertainment or @ViewBag.GiftAmountText gift
            </td>
            <td>
                1. below ------->
            </td>
            <td>
                to be approved by General Manager only
            </td>
        </tr>
        <tr>
            <td>
                2. =or above -->
            </td>
            <td>
                to be approved by General Manager + GPA Director + Managing Director
            </td>
        </tr>
    </table>
</div>

