﻿@model MEHK.Workflow.EntertainmentGift.ViewModels.EntertainmentGiftFormViewModel

@using MEHK.Workflow.EntertainmentGift.Helper

<script src="@ViewBag.CommonJSURL"></script>
<script src="@ViewBag.UploadJSURL"></script>

<script>

</script>

<script>

    var ID = '';

    @*var ShowUploadAction = true;
    var DisplayDateOnlyFormat = '@Resources.Resource_Common.DisplayDateOnlyFormat';
    var DisplayMonthFormat = '@Resources.Resource_Common.DisplayMonthFormat';

    var SubmittedDateYear = @Model.SubmissionDate.Value.Year;
    var SubmittedDateMonth =  @Model.SubmissionDate.Value.Month;*@


    var ApplicationDate = new Date(@Model.ApplicationDate.Value.Year, @Model.ApplicationDate.Value.Month - 1 , @Model.ApplicationDate.Value.Day);

</script>

<div class="m-portlet">

    <form id="Form" class="m-form m-form--fit m-form--label-align-left">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(n => n.ID)
        @Html.HiddenFor(n => n.SAMAccount)
        @Html.HiddenFor(n => n.GID)
        @Html.HiddenFor(n => n.Division)
        @Html.HiddenFor(n => n.Department)
        @Html.HiddenFor(n => n.StaffID)
        @Html.HiddenFor(n => n.StaffName)
      
        @*@Html.HiddenFor(n => n.CurrentUserID)
            @Html.HiddenFor(n => n.CapexProfileID)
            @Html.HiddenFor(n => n.GID)
            @Html.HiddenFor(n => n.AdditionalBudgetGID)
            @Html.HiddenFor(n => n.EnableDeleteFile)
            @Html.HiddenFor(n => n.FormType)*@
        <input type="hidden" id="MemberId" value="@ViewBag.MemberId" />
        <input type="hidden" id="EntertainmentGiftCode" value="@ViewBag.EntertainmentGiftCode" />
        @*<input type="hidden" id="ApprovalMartixOptionCode" value="@ViewBag.ApprovalMartixOptionCode" />*@
        <div class="m-portlet__body">

            @*<div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">@Html.LabelWithColonFor(model => model.FormNo)</label>
                    <div class="col-lg-4">
                        <label class="col-form-label">@Model.FormNo</label>
                    </div>
                    <label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.SubmissionDate):</label>
                    <div class="col-lg-4">
                        <label class="col-form-label" >@(Model.SubmissionDate.HasValue ? Model.SubmissionDate.Value.ToString(Resources.Resource_Common.DisplayDateOnlyFormat) : String.Empty)</label>
                    </div>
                </div>

                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.StaffID):</label>
                    <div class="col-lg-4">
                        <label class="col-form-label" id="StaffID">@Model.StaffID</label>
                    </div>
                    <label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.StaffName):</label>
                    <div class="col-lg-4">
                        <label class="col-form-label" >@Model.StaffName</label>
                    </div>
                </div>


                <div class="form-group m-form__group row">
                    <label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.Division):</label>
                    <div class="col-lg-4">
                        <label class="col-form-label" >@Model.Division</label>
                    </div>
                    <label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.Department):</label>
                    <div class="col-lg-4">
                        <label class="col-form-label" >@Model.Department</label>
                    </div>
                </div>*@
            @Html.Partial("UserInfo", Model.UserInfo)


            @Html.Partial("../EntertainmentGift/_PreApprovalCriteria", Model)
			<div class="form-group m-form__group row">
				<label class="col-lg-12 col-form-label formItemTitle">
					Pre-approval Detail
				</label>
			</div>
            <div class="form-group m-form__group row">
                @*<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.BudgetType):</label>*@
                <label class="col-lg-2 col-form-label">@Resources.FormResx.BudgetType</label>
                <div class="col-lg-10">
                    @*Entertainment:   @Html.RadioButton("BudgetType", "Entertainment")
                        Gift: @Html.RadioButton("BudgetType", "Gift")*@

                    @*Entertainment: @Html.RadioButtonFor(n => n.BudgetType, "Entertainment")
                        Gift: @Html.RadioButtonFor(n => n.BudgetType, "Gift")*@

                    Entertainment: @Html.RadioButton("BudgetType", "Entertainment")
                    Gift: @Html.RadioButton("BudgetType", "Gift")

                    @Html.ValidationMessageFor(model => model.BudgetType, "", new { @class = "text-danger" })
                </div>

            </div>

            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label"> @Html.DisplayNameFor(model => model.BudgetAmount):</label>
                <div class="col-lg-4">

                    @(Html.Kendo()
                        .NumericTextBoxFor(model => model.BudgetAmount)
                        .Events(e => e.Change("SetApprovalMartixOptionCode"))
                        .Min(0)
                        .Max((decimal)999999999999999.99)
                        //.Decimals(0)
                        //.Format("#")
                        .HtmlAttributes(new { style = "width: 100%" })
                    )

                    @Html.ValidationMessageFor(model => model.BudgetAmount, "", new { @class = "text-danger" })
                </div>

            </div>


            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PreApproval.Purpose):</label>
                <div class="col-lg-10">

                    @Html.CustomHelperForTextArea(m => m.PreApproval.Purpose, Model.EnableForm, 127)
                </div>

            </div>

            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label">Date of Event on:</label>
                <div class="col-lg-4">
                    @(Html.Kendo().DatePickerFor(model => model.PreApproval.EventDateOn)

                    .Events(e =>
                    {
                        e.Change("PreApprovalEventDateOnChange");
                    })
                    .HtmlAttributes(new { style = "width: 100%"})
                    .Format(Resources.Resource_Common.DisplayDateOnlyFormat)
                    //.Format(Resources.Resource_Common.DisplayMonthFormat)
                    //.HtmlAttributes(new { onkeydown = "javascript:return false;" })

                    )

                    @Html.ValidationMessageFor(model => model.PreApproval.EventDateOn, "", new { @class = "text-danger" })
                </div>
                <label class="col-lg-2 col-form-label">Date of Event to:</label>
                <div class="col-lg-4">
                    @(Html.Kendo().DatePickerFor(model => model.PreApproval.EventDateTo)
                                .HtmlAttributes(new { style = "width: 100%" })
                                .Format(Resources.Resource_Common.DisplayDateOnlyFormat)
                    )

                    @Html.ValidationMessageFor(model => model.PreApproval.EventDateTo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group m-form__group row " style="display:none" id="divLateApplicationReason">
                <label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PreApproval.LateApplicationReason):</label>
                <div class="col-lg-10">
                    @Html.CustomHelperForTextBox(m => m.PreApproval.LateApplicationReason, Model.EnableForm)

                    @*@Html.TextBoxFor(m => m.LateApplicationReason, new { @class = "k-input k-textbox", @style = "width:100%" })*@
                    @*@Html.Partial("../Base/_TextBox", Model.LateApplicationReason)*@
                </div>

            </div>

            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PreApproval.NatureOfGift):</label>
                <div class="col-lg-10">
                    @*@Html.TextBoxFor(m => m.NatureOfGift, new { @class = "k-input k-textbox", @style = "width:100%" })*@
                    @Html.CustomHelperForTextBox(m => m.PreApproval.NatureOfGift, Model.EnableForm, 127)
                </div>

            </div>

            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PreApproval.Guest):</label>
                <div class="col-lg-10">
                    @Html.CustomHelperForTextArea(m => m.PreApproval.Guest, Model.EnableForm, 127)
                </div>

            </div>

            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                </div>
                <label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PreApproval.GuestTotal):</label>
                <div class="col-lg-4">
                    @(Html.Kendo().NumericTextBoxFor(model => model.PreApproval.GuestTotal).Min(0).Decimals(0).Format("#")
                                                .HtmlAttributes(new { style = "width: 100%" })
                    )
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PreApproval.Company):</label>
                <div class="col-lg-10">
                    @*@Html.TextBoxFor(m => m.Company, new { @class = "k-input k-textbox", @style = "width:100%" })*@
                    @Html.CustomHelperForTextBox(m => m.PreApproval.Company, Model.EnableForm, 127)
                </div>

            </div>

            <div class="form-group m-form__group row">
                <label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PreApproval.Attendant):</label>
                <div class="col-lg-10">
                    @Html.CustomHelperForTextArea(m => m.PreApproval.Attendant, Model.EnableForm, 127)
                </div>

            </div>

            <div class="form-group m-form__group row">
                <div class="col-lg-6">
                </div>
                <label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PreApproval.AttendantTotal):</label>
                <div class="col-lg-4">
                    @(Html.Kendo().NumericTextBoxFor(model => model.PreApproval.AttendantTotal).Min(0).Decimals(0).Format("#")
                                                    .HtmlAttributes(new { style = "width: 100%" })
                    )
                </div>
            </div>


            @*  @Html.Partial("../EntertainmentGift/_PaymentReimbursement", Model)*@


            @if (Model.EnableComment)
            {
                <div class="form-group m-form__group row">
                    <label class="col-lg-12 col-form-label formItemTitle text-danger">*Comment</label>
                    <div class="col-lg-6">
                        <textarea class="form-control k-textbox" id="Comment" rows="3" style="width:100%"></textarea>
                    </div>
                </div>
            }
            @*<div class="form-group m-form__group row" id="ApprovalMatrix">

                    <label class="col-lg-12 col-form-label formItemTitle">Approval Matrix</label>

                    <div class="col-lg-12">

                        <div class="col-lg-auto">
                            <table id="ApprovalMatrixTable" class="table table-bordered m-table m-table--head-bg-brand"></table>
                        </div>
                    </div>
                </div>*@
			<input type="hidden" id="ApprovalMatrixGridShow" value="true" />
            @Html.Partial("../Base/_ApprovalMatrixView")
        </div>


        @*<div class="form-group m-form__group row">
                <label class="col-lg-12 col-form-label formItemTitle">@Resources.Resource_Common.DocumentUpload</label>
            </div>

            @Html.Partial("../Capex/_Upload", Model)*@
    </form>
</div>


@Html.Partial("../EntertainmentGift/_LocalizationString")
@Html.Partial("../EntertainmentGift/_ActionButton", Model)

@Scripts.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/EntertainmentGiftForm", true))


<!--end::Form-->
@*</div>*@

@Html.Partial("../Shared/_LocalizationString")
@Html.Partial("../EntertainmentGift/_ValidationMessage")
@*@Html.Partial("../Base/_FileSettings")
    @Html.Partial("../Capex/_LocalizationString")
    @Scripts.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/NonBudgetCapex", true))
    @Styles.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/CapexForm", true))*@
