﻿@model  MEHK.Workflow.EntertainmentGift.ViewModels.EntertainmentGiftFormViewModel
@using MEHK.Workflow.EntertainmentGift.Helper

<script src="@ViewBag.CommonJSURL"></script>
<script src="@ViewBag.UploadJSURL"></script>
@*<script src="//kendo.cdn.telerik.com/2016.1.112/js/pako_deflate.min.js"></script>*@
<script>
    var ApplicationDate = new Date(@Model.ApplicationDate.Value.Year, @Model.ApplicationDate.Value.Month - 1 , @Model.ApplicationDate.Value.Day);
</script>

<div class="m-portlet">
    <div id="printform">
        <form id="Form" class="m-form m-form--fit m-form--label-align-left">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(n => n.ID)
            @Html.HiddenFor(n => n.K2SN)
            @Html.HiddenFor(n => n.GID)
            @Html.HiddenFor(n => n.CurrentUserID)
            @Html.HiddenFor(n => n.Payee)
            @Html.HiddenFor(n => n.EnablePreApprovalPart)
            @*@Html.HiddenFor(n => n.UserInfo.FormNo)*@
            <input id="FormNo" name="FormNo" type="hidden" value="@Model.UserInfo.FormNo">
            @Html.HiddenFor(n => n.UserInfo.Division)
            @Html.HiddenFor(n => n.UserInfo.Department)
            @Html.HiddenFor(n => n.UserInfo.StaffName)
            @Html.HiddenFor(n => n.UserInfo.StaffID)
            			@Html.HiddenFor(n => n.IsCompleted)
						

            @* @Html.HiddenFor(n => n.CapexProfileID)
                @Html.HiddenFor(n => n.GID)
                @Html.HiddenFor(n => n.AdditionalBudgetGID)
                @Html.HiddenFor(n => n.EnableDeleteFile)
                @Html.HiddenFor(n => n.FormType)*@
            <input id="ReIsCompleted" name="ReIsCompleted" type="hidden" value="@ViewBag.ReIsCompleted">
            <input type="hidden" id="EntertainmentGiftCode" value="@ViewBag.EntertainmentGiftCode" />
            <input type="hidden" id="CurrentStep" value="@ViewBag.CurrentStep" />
			
            @*<input type="hidden" id="ApprovalMartixOptionCode" value="@ViewBag.ApprovalMartixOptionCode" />*@
			<div class="m-portlet__body">
				@Html.Partial("UserInfo", Model.UserInfo)
				@*<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.FormNo):</label>
							<div class="col-lg-4">
								<label class="col-form-label">@Model.FormNo</label>
							</div>
							<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.SubmissionDate):</label>
							<div class="col-lg-4">
								<label class="col-form-label">@(Model.SubmissionDate.HasValue ? Model.SubmissionDate.Value.ToString(Resources.Resource_Common.DisplayDateOnlyFormat) : String.Empty)</label>
							</div>
						</div>

						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.StaffID):</label>
							<div class="col-lg-4">
								<label class="col-form-label">@Model.StaffID</label>
							</div>
							<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.StaffName):</label>
							<div class="col-lg-4">
								<label class="col-form-label" id="ProjectName">@Model.StaffName</label>
							</div>
						</div>


						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.Division):</label>
							<div class="col-lg-4">
								<label class="col-form-label">@Model.Division</label>
							</div>
							<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.Department):</label>
							<div class="col-lg-4">
								<label class="col-form-label" id="ProjectName">@Model.Department</label>
							</div>
						</div>

						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.SubmissionDate):</label>
							<div class="col-lg-4">
								<label class="col-form-label">
									@(Model.SubmissionDate.HasValue ? Model.SubmissionDate.Value.ToString(Resources.Resource_Common.DisplayDateOnlyFormat) : String.Empty)
								</label>
							</div>
							<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.Payee):</label>
							<div class="col-lg-4">
			@if (Model.EnablePreApprovalPart)
			{
								@(Html.Kendo().DropDownListFor(e => e.Payee)
													  .DataTextField("MemberName")
													  .DataValueField("MemberId")
													  .OptionLabel("--Please Select--")
													  .Filter("contains")
													  .Events(e => e.Change("SetApprovalMartixOptionCode"))
													  .DataSource(source =>
													  {
														  source.Read(read =>
														  {
															  read.Action("GetMemberList", "EntertainmentGift").Data("getUserFilterData");
														  }).ServerFiltering(true);
													  })
													  .HtmlAttributes(new { style = "width: 90%" })

								)
			}
			else
			{
								<label class="col-form-label" >@Model.PayeeName</label>
			}
							</div>
						</div>

						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.FormStatus):</label>
							<div class="col-lg-4">
								<label class="col-form-label">
									@Model.FormStatus
								</label>
							</div>
							<label class="col-lg-2 col-form-label"></label>
							<div class="col-lg-4">

							</div>
						</div>*@

				@Html.Partial("../EntertainmentGift/_PreApprovalCriteria", Model)

				@{
					bool EntertainmentChecked = Model.BudgetType == "Entertainment";
					bool GiftChecked = Model.BudgetType == "Gift";
				}
				<div class="form-group m-form__group row">
					<label class="col-lg-12 col-form-label formItemTitle">
						Pre-approval Detail
					</label>
				</div>
				<div class="form-group m-form__group row breakline">
					<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.BudgetType):</label>

					@*Entertainment: @Html.RadioButtonFor(n => n.BudgetType, "Entertainment")
				Gift: @Html.RadioButtonFor(n => n.BudgetType, "Gift")*@

					@if (Model.EnablePreApprovalPart)
					{
						<div class="col-lg-10">
							@Resources.Resource_EntertainmentGift.Entertainment: @Html.RadioButtonFor(n => n.BudgetType, "Entertainment")
							@Resources.Resource_EntertainmentGift.Gift: @Html.RadioButtonFor(n => n.BudgetType, "Gift")
						</div>
					}
					else
					{
						<input type="hidden" id="BudgetType" value="@Model.BudgetType" />

						<div class="col-lg-10">
							@if (EntertainmentChecked)
							{
								<label class="col-form-label">
									@Resources.Resource_EntertainmentGift.Entertainment
								</label>
							}
							else if (GiftChecked)
							{
								<label class="col-form-label">
									@Resources.Resource_EntertainmentGift.Gift
								</label>
							}
						</div>
					}




				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.BudgetAmount):</label>
					<div class="col-lg-4">

						@if (Model.EnablePreApprovalPart)
						{
							@(Html.Kendo()
										.NumericTextBoxFor(model => model.BudgetAmount)
										.Events(e => e.Change("SetApprovalMartixOptionCode"))
										.Min(0)
										.Max((decimal)999999999999999.99)
										.HtmlAttributes(new { style = "width: 100%" })
							)
							@Html.ValidationMessageFor(model => model.BudgetAmount, "", new { @class = "text-danger" })
						}
						else
						{
							//pull-right

							<input type="hidden" id="BudgetAmount" value="@Model.BudgetAmount" />
							<label class="col-form-label">@String.Format("{0:n2}", Model.BudgetAmount)</label>
						}

						@Html.ValidationMessageFor(model => model.PreApproval.EventDateOn, "", new { @class = "text-danger" })
					</div>

				</div>


				<div class="form-group m-form__group row">
					<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PreApproval.Purpose):</label>
					<div class="col-lg-10">
						@Html.CustomHelperForTextArea(m => m.PreApproval.Purpose, Model.EnablePreApprovalPart, 127)
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-2 col-form-label">Date of Event on:</label>
					<div class="col-lg-4">

						@if (Model.EnablePreApprovalPart)
						{
							@(Html.Kendo().DatePickerFor(model => model.PreApproval.EventDateOn)
											.Events(e =>
											{
												e.Change("PreApprovalEventDateOnChange");
											})
											.HtmlAttributes(new { style = "width: 100%" })
											.Format(Resources.Resource_Common.DisplayDateOnlyFormat)
							//.Format(Resources.Resource_Common.DisplayMonthFormat)
							//.HtmlAttributes(new { onkeydown = "javascript:return false;" })
							)
						}
						else
						{
							<span class="form-control-plaintext">
								@(Model.PreApproval.EventDateOn.HasValue ? Model.PreApproval.EventDateOn.Value.ToString(Resources.Resource_Common.DisplayDateOnlyFormat) : String.Empty)
							</span>
						}



					</div>
					<label class="col-lg-2 col-form-label">Date of Event to:</label>
					<div class="col-lg-4">

						@if (Model.EnablePreApprovalPart)
						{
							@(Html.Kendo().DatePickerFor(model => model.PreApproval.EventDateTo)
												.HtmlAttributes(new { style = "width: 100%" })
												.Format(Resources.Resource_Common.DisplayDateOnlyFormat))
						}
						else
						{
							<span class="form-control-plaintext">
								@(Model.PreApproval.EventDateTo.HasValue ? Model.PreApproval.EventDateTo.Value.ToString(Resources.Resource_Common.DisplayDateOnlyFormat) : String.Empty)
							</span>
						}

					</div>
				</div>

				<div class="form-group m-form__group row " id="divLateApplicationReason">
					<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PreApproval.LateApplicationReason):</label>
					<div class="col-lg-10">
						@Html.CustomHelperForTextBox(m => m.PreApproval.LateApplicationReason, Model.EnablePreApprovalPart)
					</div>

				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PreApproval.NatureOfGift):</label>
					<div class="col-lg-10">
						@Html.CustomHelperForTextBox(m => m.PreApproval.NatureOfGift, Model.EnablePreApprovalPart, 127)


					</div>

				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PreApproval.Guest):</label>
					<div class="col-lg-10">
						@Html.CustomHelperForTextArea(m => m.PreApproval.Guest, Model.EnablePreApprovalPart, 127)


					</div>

				</div>

				<div class="form-group m-form__group row">
					<div class="col-lg-6">
					</div>
					<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PreApproval.GuestTotal):</label>
					<div class="col-lg-4">
						@if (Model.EnablePreApprovalPart)
						{
							@(Html.Kendo().NumericTextBoxFor(model => model.PreApproval.GuestTotal).Min(0).Decimals(0).Format("#")
											.HtmlAttributes(new { style = "width: 100%" })
							)
						}
						else
						{
							<span class="form-control-plaintext">@Model.PreApproval.GuestTotal</span>
						}
					</div>
				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PreApproval.Company):</label>
					<div class="col-lg-10">
						@Html.CustomHelperForTextBox(m => m.PreApproval.Company, Model.EnablePreApprovalPart, 127)
					</div>

				</div>

				<div class="form-group m-form__group row">
					<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PreApproval.Attendant):</label>
					<div class="col-lg-10">
						@Html.CustomHelperForTextArea(m => m.PreApproval.Attendant, Model.EnablePreApprovalPart, 127)


					</div>

				</div>

				<div class="form-group m-form__group row">
					<div class="col-lg-6">
					</div>
					<label class="col-lg-2 col-form-label">@Html.DisplayNameFor(model => model.PreApproval.AttendantTotal):</label>
					<div class="col-lg-4">
						@if (Model.EnablePreApprovalPart)
						{
							@(Html.Kendo().NumericTextBoxFor(model => model.PreApproval.AttendantTotal).Min(0).Decimals(0).Format("#")
											.HtmlAttributes(new { style = "width: 100%" })
							)
						}
						else
						{
							<span class="form-control-plaintext">@Model.PreApproval.AttendantTotal</span>
						}
					</div>
				</div>

				@if (Model.IsCompleted || Model.ActionList.Where(e => e == "ReimbursementSubmit").FirstOrDefault() != null)
				{
					<input id="Step" name="Step" type="hidden" value="Reimbursement">
					@Html.Partial("../EntertainmentGift/_PaymentReimbursement", Model)
				}
				else
				{
					<input id="Step" name="Step" type="hidden" value="PreApproval">
				}


				@if (Model.EnableComment)
				{
					<div class="form-group m-form__group row">
						<label class="col-lg-12 col-form-label formItemTitle text-danger">*Comment</label>
						<div class="col-lg-6">
							<textarea class="form-control k-textbox" id="Comment" rows="3" style="width:100%" maxlength="250"></textarea>
						</div>
					</div>
				}
				@if (ViewBag.ApprovalMatrixGridShow == true)
				{
					<input type="hidden" id="ApprovalMatrixGridShow" value="true" />
					@Html.Partial("../Base/_ApprovalMatrixView")
				}


				@*@Html.Partial("../Base/_ApprovalHistory", Model.PreApprovalHistory)*@
				<div class="form-group m-form__group row" id="ApprovalHistory">

					<label class="col-lg-12 col-form-label formItemTitle">Approval History</label>

					<div class="col-lg-12">

						<div class="m-accordion m-accordion--default" id="m_accordion_1" role="tablist">

							<!--begin::Item-->
							<div class="m-accordion__item">
								<div class="m-accordion__item-head " role="tab" id="m_accordion_1_item_1_head" data-toggle="collapse" href="#m_accordion_1_item_1_body" aria-expanded=" true">
									<span class="m-accordion__item-mode"></span>
									<span class="m-accordion__item-icon"></span>
									<span class="m-accordion__item-title"></span>

								</div>

								<div class="m-accordion__item-body collapse show" id="m_accordion_1_item_1_body" class=" " role="tabpanel" aria-labelledby="m_accordion_1_item_1_head" data-parent="#m_accordion_1">
									<div class="m-accordion__item-content">
										<p>
											<div id="WorkflowLog"></div>


										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				
											<div id="FileArea">
												@if (Model.EnablePaymentReimbursementPart)
												{

													<div class="form-group m-form__group row">
														<div class="col-lg-4">
															<input name="files" id="files" type="file" aria-label="files" />
														</div>
													</div>

												}
												<div class="form-group m-form__group row" style="display:none" id="UploadedFiles">
													<div class="col-lg-auto">
														<div>
															<div id="UploadedFilesGrid"></div>
														</div>
													</div>
												</div>
												@*<button type="button" class="btn btn-success" id="UploadedFilesbut">UploadedFiles</button>*@
											</div>
										

					@if (ViewBag.PaymentReimbursementGridShow == true)
					{
						
													<div class="form-group m-form__group row">
														<div class="col-lg-12">
															<div>
																@if (ViewBag.PaymentReimbursementGridEdit == true)
																{
																	<input type="hidden" id="PaymentReimbursementGridEdit" value="true" />
																					@(Html.Kendo().Grid<MEHK.Workflow.EntertainmentGift.ViewModels.PaymentReimbursementGridViewModel>()
														.Name("PaymentReimbursementGrid")
														.Columns(columns =>
														{
															columns.Bound(p => p.Number);
															columns.Bound(p => p.Dr_Cr);
															//columns.Bound(p => p.PostKey);
															columns.ForeignKey(c => c.Dr_Cr, (System.Collections.IEnumerable)ViewData["PostKeyDropDownList"], "Value", "Text").Title("PostKey");
															columns.Bound(p => p.AcctCode);
															columns.Bound(p => p.Payee_AcctType);
															columns.Bound(p => p.Amount).Format("{0:n2}");
															//columns.Bound(p => p.Centre);
															columns.ForeignKey(c => c.Centre, (System.Collections.IEnumerable)ViewData["CostCentersDropDownList"], "Value", "Text").Title("Centre");
															columns.Bound(p => p.Text);
															columns.Command(command => {
																command.Edit();command.Destroy();
															});
														})
														 .HtmlAttributes(new { style = "height: 500px;" })
														 .ToolBar(toolbar => toolbar.Create())
														.Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("PaymentReimbursementorTemplates").Window(w => w.Width(500)))
														.Pageable()
														.Scrollable()
														//.Sortable()
														.DataSource(dataSource => dataSource
															.Ajax()
															.PageSize(20)
															.Model(model => {model.Id(p => p.ID);})
															.Read(read => read.Action("GetPaymentReimbursementGridViewModel", "EntertainmentGift").Data("PaymentReimbursementGridData"))

												.Create(read => read.Action("CreatePaymentReimbursementGridViewModel", "EntertainmentGift").Data("PaymentReimbursementGridData"))
												.Update(read => read.Action("UpdatePaymentReimbursementGridViewModel", "EntertainmentGift").Data("PaymentReimbursementGridData"))
														 .Destroy(read => read.Action("DeletePaymentReimbursementGridViewModel", "EntertainmentGift").Data("PaymentReimbursementGridData"))
														 )
																					)       }
																else
																{
																	if (ViewBag.SAPShow == false)
																	{
																		<div class="form-group m-form__group row">
																			</div>
																			<div class="form-group m-form__group row">
																				<label class="col-lg-2 col-form-label">Post Date</label>
																				<div class="col-lg-4">
																					@(Html.Kendo().DatePickerFor(model => model.PaymentReimbursement.PostDate)
																				.HtmlAttributes(new { style = "width: 100%" })
																				.Format(Resources.Resource_Common.DisplayDateOnlyFormat)

																					)
																				</div>
																			</div>
																			<div class="form-group m-form__group row">
																			</div>		}

																			<input type="hidden" id="PaymentReimbursementGridEdit" value="false" />
																			@(Html.Kendo().Grid<MEHK.Workflow.EntertainmentGift.ViewModels.PaymentReimbursementGridViewModel>()
																.Name("PaymentReimbursementGrid")
																.Columns(columns =>
																{
																	columns.Bound(p => p.Number);
																	columns.Bound(p => p.Dr_Cr);
																	columns.Bound(p => p.PostKey);
																	columns.Bound(p => p.AcctCode);
																	columns.Bound(p => p.Payee_AcctType);
																	columns.Bound(p => p.Amount).Format("{0:n2}");
																	//columns.Bound(p => p.Centre);
																	columns.ForeignKey(c => c.Centre, (System.Collections.IEnumerable)ViewData["CostCentersDropDownList"], "Value", "Text").Title("Centre");
																	columns.Bound(p => p.Text);
																})
																.Pageable()
																.Scrollable()
																.HtmlAttributes(new { style = "height: 500px;" })
																.DataSource(dataSource => dataSource
																	.Ajax()
																	.PageSize(20)
																	.Batch(true)
																		 .ServerOperation(false)
																	.Model(model => model.Id(p => p.ID))
																	.Read(read => read.Action("GetPaymentReimbursementGridViewModel", "EntertainmentGift").Data("PaymentReimbursementGridData"))
																	.Update(update => update.Url("#"))
																 )
																			)       }
																		</div>
														</div>
													</div>


					}
																		@if (ViewBag.SAPShow == true)
					{
						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">SAP Remark:</label>
							<div class="col-lg-4">
								<label class="col-form-label">
									@Model.PaymentReimbursement.SAPRemark
								</label>
							</div>
							<label class="col-lg-2 col-form-label"></label>
							<div class="col-lg-4">

							</div>
						</div>
						<div class="form-group m-form__group row">
							<label class="col-lg-2 col-form-label">SAP Doc No:</label>
							<div class="col-lg-4">
								<label class="col-form-label">
									@Model.PaymentReimbursement.SAPDocNo
								</label>
							</div>
							<label class="col-lg-2 col-form-label">Post Date</label>
							<div class="col-lg-4">
								@Model.PaymentReimbursement.PostDateText
							</div>
						</div>
							<div class="form-group m-form__group row">
								<label class="col-lg-2 col-form-label">SAP Cleaning Doc No:</label>
								<div class="col-lg-4">
									<label class="col-form-label">
										@Model.PaymentReimbursement.SAPCleaningDocNo
									</label>
								</div>
								<label class="col-lg-2 col-form-label">Cleaning Date</label>
								<div class="col-lg-4">
									@Model.PaymentReimbursement.CleaningDateText
								</div>
							</div>
					}
				</div>








</form>
    </div>
</div>
@Html.Partial("../EntertainmentGift/_LocalizationString")
@Html.Partial("../EntertainmentGift/_ActionButton", Model)

@Scripts.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/EntertainmentGiftForm", true))


<!--end::Form-->
@*</div>*@

@Html.Partial("../Shared/_LocalizationString")
@Html.Partial("../EntertainmentGift/_ValidationMessage")

@*@Html.Partial("../Base/_FileSettings")
    @Html.Partial("../Capex/_LocalizationString")
    @Scripts.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/bundles/NonBudgetCapex", true))
    @Styles.Render(System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/CapexForm", true))*@