﻿@model MEHK.Workflow.Data.DTO.UserInfo

<div class="">
    <script>
        function GetFilterMemberName() {
            return {
                haveUnit: false

            }

        };

        function DropListNameChange() {
            var MemberId = $("#MemberId").val();

            if (MemberId == null) {
                return;
            }
            $.ajax({
                type: "Get",
                url: "../../MEHK.Admin/Admin/GetMemberById",
                data: {
                    id: $("#MemberId").val(),
                },
                success: function (data) {
                    if (data != null) {

                        var dropdownlist = $("#JobLevelId").data("kendoDropDownList");
                        dropdownlist.value(data.JobLevelId);

                        $("#Post").val(data.Post);
                      
                        @*@Model.Post=data.Post;
                        @Model.JobLevelId=data.JobLevelId;*@
                    }
                }
            });
        }

    </script>
    <div class="form-group m-form__group row">
        <label class="editor-label" for="DocListName">User</label>
        <div class="col-lg-5">
            @(Html.Kendo().DropDownListFor(m => m.MemberId)
        .HtmlAttributes(new { style = "width:200px;" })
        .OptionLabel("--- Select Value ---")
        .Events(e =>  e.Change("DropListNameChange"))
        .DataValueField("MemberId")
        .DataTextField("MemberName")
        .Filter("contains")
        .DataSource(dataSource => dataSource
         .Read(read => read.Url("../../MEHK.CommonAPI/api/Organization/Members").Data("GetFilterMemberName"))
         )
            )
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="editor-label">Job Level:</label>
        <div class="col-lg-5">
            @(Html.Kendo().DropDownListFor(e => e.JobLevelId)
                                .HtmlAttributes(new { style = "width:200px;" })
                                .OptionLabel("--- Select Value ---")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetListJobLevel", "Admin");
                                    });
                                })
            )
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="editor-label">Post:</label>
        <div class="col-lg-5">
            @*@(Html.Kendo().TextBoxFor(e=>e.Post)
                 .HtmlAttributes(new { style = "width:200px;" })
                 .ToComponent()
                 .ToClientTemplate()
                )*@
            <input class="k-textbox form-control" type="text" name="Post" id="Post" style="width:200px;" disabled />

        </div>
    </div>
    @*<label id="Post" name="Post"  />
        <label id="JobLevelId" name="JobLevelId" title="123"  />*@
</div>
