﻿.WidthFull {
	width: 100%;
}

.IconCursor, .IconCursor:hover
{
	cursor: pointer;	
}

.IconClass, .IconClass:hover
{
 text-decoration: none;
}

.SelectAllClass
{
	padding-bottom: 10px;	
}


.BoldText
{
	font-weight: bold !important;	
}

    .formItemTitle {
        /*text-align: left !important;*/
        font-size: 15px !important;
        font-weight: bold !important;
    }

	
	.k-grid
	{
		width:100%;
		
	}
	
    .k-button .k-button-icontext .k-grid-delete .btn .btn-danger {
        color: #333 !important;
    }

    .k-grid .k-grid-header .k-header .k-link {
        height: auto;
    }

    .k-grid .k-grid-header .k-header {
        white-space: normal;
    }

    .k-grid .Highlight {
        background-color: yellow !important;
        color: #000000;
    }

    .k-grid .OverClaimDate {
        background-color: yellow !important;
        color: #000000;
    }

    /*.k-grid {
        width: 1100px;
    }*/

    /* For Mobile */
@@media screen and (max-width: 540px) {
        .k-grid {
            width: 500px;
        }
}

/* For Tablets */
@@media screen and (min-width: 540px) and (max-width: 780px) {
    .k-grid {
        width: 740px;
    }
}

@@media screen and (min-width: 781px) and (max-width: 1280px) {
    .k-grid {
        width: 800px;
    }
}


@@media (min-width: 1281px)  and (max-width: 1521px) {
  
    .k-grid {
        width: 1100px;
    }
  
}

.totalTitle
{
	margin-left:5px;
	
}

.downloadArea
{
	float:right;	
	margin-bottom:10px;
}

.Clear { 
    display: block; 
    clear: both; 
    font-size: 0px; 
    line-height: 0px; 
} 

#poolResult
{
	font-size:0.9em;	
}

.displayNone
{
	display:none;
	
}

.claimAmount
{
	
	margin-top:10px;
}


.col-print-1 {width:8%;  float:left;}
.col-print-2 {width:16%; float:left;}
.col-print-3 {width:25%; float:left;}
.col-print-4 {width:33%; float:left;}
.col-print-5 {width:42%; float:left;}
.col-print-6 {width:50%; float:left;}
.col-print-7 {width:58%; float:left;}
.col-print-8 {width:66%; float:left;}
.col-print-9 {width:75%; float:left;}
.col-print-10{width:83%; float:left;}
.col-print-11{width:92%; float:left;}
.col-print-12{width:100%; float:left;}

.btn.btn-info {
    color: #fff !important;
}

     .k-grid-header th.k-header {
    vertical-align:top;
  }

  .k-grid-header th.k-header > .k-link {
    max-height: 65px;
    white-space: normal;
    vertical-align: text-top;
    text-overflow: ellipsis;

}
   /*Ren_Css*/
	.m-form .m-form__group {
   
    padding-top: 5px;
     padding-bottom: 0px; 
    }
	.la-home {
			font-size: 2.5rem;
		}
		/*.k-upload .k-upload-status-total
{
    visibility: hidden;
}*/
/*body {
	Font-Family: helvetica, sans-serif, arial
}*/
/*.m-aside-left--minimize .m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--hover>.m-menu__link>.m-menu__link-icon, .m-aside-left--minimize .m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item.m-menu__item--open>.m-menu__link>.m-menu__link-icon {
    color: #22b9ff;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__heading .m-menu__link-icon, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item:not(.m-menu__item--parent):not(.m-menu__item--open):not(.m-menu__item--expanded):not(.m-menu__item--active):hover>.m-menu__link .m-menu__link-icon {
    color: #22b9ff;
}
.m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open>.m-menu__heading, .m-aside-menu.m-aside-menu--skin-light .m-menu__nav>.m-menu__item .m-menu__submenu .m-menu__item.m-menu__item--open>.m-menu__link {
    background-color: #22b9ff;
}
.m-header-menu .m-menu__nav>.m-menu__item {
    color: #22b9ff;
}
.m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-topbar__usericon .m-nav__link-icon-wrapper {
    background: #22b9ff;
}
.m-table.m-table--head-bg-brand  thead th {
	background: #22b9ff;
}
.grid-header-color {
	 background-color: #22b9ff;
    color: #fff ;
}
#LocalTravellingItemGrid .k-grid-header .k-header  ,#MileageItemGrid .k-grid-header .k-header ,#WorkflowLog .k-grid-header .k-header,#UploadedFiles .k-grid-header .k-header {
	background-color: #22b9ff;
}
 #MileageItemGrid .k-grid-header .k-header span
#LocalTravellingItemGrid .k-grid-header .k-header span,#MileageItemGrid .k-grid-header .k-header span ,#WorkflowLog .k-grid-header .k-header span,#UploadedFiles .k-grid-header  th {
    color: #fff ;
}*/




	/*Ren_Css*/

.m-portlet .k-grid-header .k-header {
    background-color: #22b9ff;
}


.m-portlet .k-grid-header .k-header span, .m-portlet__body .k-grid-header .k-link {
    color: #fff;
}
#WorkflowLog  .k-header  {
	 color: #fff;
}

.m-portlet__body .k-grid-header .k-header {
    background-color: #22b9ff;
}

    .m-portlet__body .k-grid-header .k-header span, .m-portlet__body .k-grid-header .k-link {
        color: #fff;
    }


.m-portlet__body .k-grid-pager .k-link:link, .k-grid-pager .k-link:visited, .k-grid-pager .k-nav-current.k-state-hover .k-link {
    color: #22b9ff;
}


.m-portlet__body .k-grid-pager .k-state-selected {
    background-color: #22b9ff;
}
#UploadedFilesGrid  .k-header {
    color: #fff;
}