﻿@model MEHK.Workflow.Admin.Models.AnnualBudgetViewModels
@Html.HiddenFor(n => n.ID)
<div class="form-group m-form__group" style="width:750px">
	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-4">Budget Year:</label>
        <div class="col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.BudgetYear)
                            .HtmlAttributes(new { style = "width:255px;" })
                            .OptionLabel("--- Select Value ---")
                             .DataTextField("Text")
                             .DataValueField("Value")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetBudgetYearList", "Admin");
                                });
                            })
            )
        </div>
	</div>
	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-4">Version:</label>
		<div class="col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.AnnualBudgetVersionCode)
                            .HtmlAttributes(new { style = "width:255px;" })
                            .OptionLabel("--- Select Value ---")
                             .DataTextField("Text")
                             .DataValueField("Value")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetAnnualBudgetVersionTypeList", "Admin");
                                });
                            })
            )
		</div>
	</div>
	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-4">Division:</label>
		<div class="col-lg-4">
			@(Html.Kendo().DropDownListFor(e => e.DivisionID)
                            .HtmlAttributes(new { style = "width:255px;" })
                            .OptionLabel("--- Select Value ---")
                             .DataTextField("UnitName")
                             .DataValueField("UnitId")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetvDivisionList", "Admin");
                                });
                            })
            )
		</div>
	</div>
	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-4">Annual Budget-Entertainment:</label>
		<div class="col-lg-4">
			<input name="EntertainBudget" style="width:100%" class="k-textbox" type="number" />
		</div>
	</div>

	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-4">Annual Budget-Gift:</label>
        <div class="col-lg-4">
            <input name="GiftBudget" style="width:100%" class="k-textbox" type="number" />
        </div>
	</div>

	

</div>