﻿
@model MEHK.Workflow.Admin.Models.ApprovalMartixViewModels
<div class="form-group m-form__group row">
    <label class="k-edit-label col-lg-5">ApprovalMartix:</label>
    <div class="col-lg-5">
        <input name="ApprovalMartixName" style="width:100%" required class="k-textbox" />
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="k-edit-label col-lg-5">Process:</label>
    <div class="col-lg-5">
        @(Html.Kendo().DropDownListFor(e => e.ProcessId)
                            .HtmlAttributes(new { style = "width:175px;", required = "required", })
                            .OptionLabel("--- Select Value ---")
                             .DataTextField("ProcessName")
                             .DataValueField("ProcessId")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetProcessList", "Admin");
                                });
                            })
        )
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="k-edit-label col-lg-5">Unit:</label>
    <div class="col-lg-5">
        @(Html.Kendo().DropDownListFor(e => e.UnitId)
                            .HtmlAttributes(new { style = "width:175px;" })
                            .OptionLabel("--- Select Value ---")
                             .DataTextField("UnitName")
                             .DataValueField("UnitId")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetUnitList", "Admin");
                                });
                            })
        )
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="k-edit-label col-lg-5">Priority:</label>
    <div class="col-lg-5">
        @(Html.Kendo().NumericTextBox<double>()
            .Name("Priority")
            .Min(0)
        .HtmlAttributes(new { required = "required" })
        )
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="k-edit-label col-lg-5">Role:</label>
    <div class="col-lg-5">
        @(Html.Kendo().DropDownListFor(e => e.RoleId)
                            .HtmlAttributes(new { style = "width:175px;" })
                            .OptionLabel("--- Select Value ---")
                             .DataTextField("RoleName")
                             .DataValueField("RoletId")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetRoleList", "Admin");
                                });
                            })
        )
    </div>
</div>
<div class="form-group m-form__group row">
    <label class="k-edit-label col-lg-5">ApprovalMartixOption:</label>
    <div class="col-lg-5">
        @(Html.Kendo().DropDownListFor(e => e.ApprovalMartixOptionCode)
                            .HtmlAttributes(new { style = "width:175px;" })
                            .OptionLabel("--- Select Value ---")
                             .DataTextField("ApprovalMartixOptionName")
                             .DataValueField("ApprovalMartixOptionCode")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetApprovalMartixOption", "Admin");
                                });
                            })
        )
    </div>
</div>
