﻿
@model MEHK.Workflow.Admin.Models.ApprovalMartixViewModels
<script>
    $(document).ready(function () {
        Supervisor1_CriteriaType = $("#Supervisor1_CriteriaType").data("kendoDropDownList"),
         ProcessId = $("#ProcessId").data("kendoDropDownList")

    });

    function filterProcess() {
        return {
            processID: $("#ProcessId").val()
        };
    }

    function filterSupervisor1() {
        return {
            RoleORJobLevel: $("#Supervisor1_CriteriaType").val()
        };
    }

    function filterSupervisor12() {
        return {
            RoleORJobLevel: $("#Supervisor2_CriteriaType").val()
        };
    }
    function filterAssistantManger() {
        return {
            RoleORJobLevel: $("#AssistantManger_CriteriaType").val()
        };
    }
    function filterDepartmentManager() {
        return {
            RoleORJobLevel: $("#DepartmentManager_CriteriaType").val()
        };
    }
    function filterSeniorManager() {
        return {
            RoleORJobLevel: $("#SeniorManager_CriteriaType").val()
        };
    }
    function filterDepartmentGeneralManager() {
        return {
            RoleORJobLevel: $("#DepartmentGeneralManager_CriteriaType").val()
        };
    }
    function filterGeneralManager() {
        return {
            RoleORJobLevel: $("#GeneralManager_CriteriaType").val()
        };
    }
    function filterGPAD() {
        return {
            RoleORJobLevel: $("#GPAD_CriteriaType").val()
        };
    }
    function filterMD() {
        return {
            RoleORJobLevel: $("#MD_CriteriaType").val()
        };
    }
    function filterACVerification() {
        return {
            RoleORJobLevel: $("#ACVerification_CriteriaType").val()
        };
    }
    function filterACVerification2() {
        return {
            RoleORJobLevel: $("#ACVerification2_CriteriaType").val()
        };
    }
    function filterACApproval() {
        return {
            RoleORJobLevel: $("#ACApproval_CriteriaType").val()
        };
    }
    function filterHRVerification() {
        return {
            RoleORJobLevel: $("#HRVerification_CriteriaType").val()
        };
    }
    function filterHRVerification2() {
        return {
            RoleORJobLevel: $("#HRVerification2_CriteriaType").val()
        };
    }
    function filterHRApprova() {
        return {
            RoleORJobLevel: $("#HRApprova_CriteriaType").val()
        };
    }

</script>

@Html.HiddenFor(n => n.ApprovalMartixId)
<div class="form-group m-form__group" style="width:800px">
    <div class="form-group m-form__group row">
        <label class="k-edit-label col-lg-3">Process:</label>
        <div class="col-lg-6">
            @(Html.Kendo().DropDownListFor(e => e.ProcessId)
							//.Name("ProcessId")
							.HtmlAttributes(new { style = "width:340px;", required = "required", })
							.OptionLabel("--- Select Value ---")
							 .DataTextField("ProcessName")
							 .DataValueField("ProcessId")
							.DataSource(source =>
							{
								source.Read(read =>
								{
									read.Action("GetProcessList", "Admin");
								});
							})
            )
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="k-edit-label col-lg-3">Approval Matrix Name:</label>
        <div class="col-lg-6">
            @*@(Html.Kendo().TextBox()
                    .Name("ApprovalMatrixName")
                .HtmlAttributes(new { required = "required", style = "width:340px;" })
                    )*@
            <input name="ApprovalMartixName" id="ApprovalMartixName" style="width:340px" required class="k-textbox" />
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="k-edit-label col-lg-3">Unit:</label>
        <div class="col-lg-6">
            @(Html.Kendo().DropDownListFor(e => e.UnitIdText)
                            .HtmlAttributes(new { style = "width:340px;" })
                            .OptionLabel("--- Select Value ---")
                             .DataTextField("UnitName")
                             .DataValueField("UnitIdText")
                             .Filter("contains")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetUnitList", "Admin");
                                })
                                 .ServerFiltering(true);
                            })
            )
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="k-edit-label col-lg-3">Option Code:</label>
        <div class="col-lg-6">
            @(Html.Kendo().DropDownListFor(e => e.ApprovalMartixOptionCode)
                            .Name("ApprovalMartixOptionCode")
                            .HtmlAttributes(new { style = "width:340px;" })
                            .OptionLabel("--- Select Value ---")
                             .DataTextField("ApprovalMartixOptionName")
                             .DataValueField("ApprovalMartixOptionCode")
                            .DataSource(source =>
                            {
                                source.Read(read =>
                                {
                                    read.Action("GetProcessOption", "Admin").Data("filterProcess");
                                })
                                .ServerFiltering(true);
                            })
              .Enable(false)
              .AutoBind(false)
              .CascadeFrom("ProcessId")
            )
        </div>
    </div>

    <div class="form-group m-form__group row">
        <label class="k-edit-label col-lg-2">Approval Level</label>
        <label class="k-edit-label col-lg-4" style="text-align:center">Approval Criteria Type</label>
        <label class="k-edit-label col-lg-4" style="text-align:center">Approval Criteria</label>
    </div>

    <div class="form-group m-form__group row" style="margin-top:-30PX">
        <label class="k-edit-label col-lg-2">Supervisor1</label>
        @Html.HiddenFor(n => n.ApprovalMartixDetailList[0].ApprovalLevelId)
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e=>e.Supervisor1_CriteriaType)
			 //.Name("Supervisor1ApprovalCriteriaType_dropList")
			 .OptionLabel("--- Select Value ---")
			.DataTextField("Text")
			.DataValueField("Value")
			.Filter("startswith")
			 .BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {
					Text = "JL", Value = "JL"
				},
				new SelectListItem() {
					Text = "R", Value = "R"
				}
			})

			.HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e=> e.Supervisor1_Criteria)
		  //.Name("Supervisor1ApprovalCriteria_dropList")
		  .HtmlAttributes(new { style = "width:100%" })
			  .OptionLabel("Select product...")
			  .DataTextField("Text")
			  .DataValueField("Value")
			  .DataSource(source =>
			  {
				  source.Read(read =>
				  {
					  read.Action("GetRoleORJobLevel", "Admin")
						  .Data("filterSupervisor1");
				  })
				  .ServerFiltering(true);
			  })
			  .Enable(false)
			  .AutoBind(false)
			  .CascadeFrom("Supervisor1_CriteriaType")
            )

        </div>
    </div>
    <div class="form-group m-form__group row" style="margin-top:-30PX">
        <label class="k-edit-label col-lg-2">Supervisor12</label>
        @Html.HiddenFor(n => n.ApprovalMartixDetailList[1].ApprovalLevelId)
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.Supervisor2_CriteriaType)
			 //.Name("Supervisor12ApprovalCriteriaType_dropList")
			 .OptionLabel("--- Select Value ---")
			.DataTextField("Text")
			.DataValueField("Value")
			.Filter("startswith")
			.BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {
					Text = "JL", Value = "JL"
				},
				new SelectListItem() {
					Text = "R", Value = "R"
				}
			})
			.HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.Supervisor2_Criteria)
		  //.Name("Supervisor12ApprovalCriteria_dropList")
		  .HtmlAttributes(new { style = "width:100%" })
			  .OptionLabel("Select Value...")
			  .DataTextField("Text")
			  .DataValueField("Value")
			  .DataSource(source =>
			  {
				  source.Read(read =>
				  {
					  read.Action("GetRoleORJobLevel", "Admin").Data("filterSupervisor12") ;
				  })
				  .ServerFiltering(true);
			  })
			  .Enable(false)
			  .AutoBind(false)
			  .CascadeFrom("Supervisor2_CriteriaType")
            )

        </div>
    </div>
    <div class="form-group m-form__group row" style="margin-top:-30PX">
        <label class="k-edit-label col-lg-2">Assistant Manger</label>
        @Html.HiddenFor(n => n.ApprovalMartixDetailList[2].ApprovalLevelId)
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.AssistantManger_CriteriaType)
			 //.Name("AssistantMangerApprovalCriteriaType_dropList")
			 .OptionLabel("--- Select Value ---")
			.DataTextField("Text")
			.DataValueField("Value")
			.Filter("startswith")
			//.DataSource(source =>
			// {
			//  source.Read(read =>
			//  {
			//	  read.Action("GetApprovalCriteriaType", "Admin");
			//  })
			//  .ServerFiltering(true);
			// })
			.BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {
					Text = "JL", Value = "JL"
				},
				new SelectListItem() {
					Text = "R", Value = "R"
				}
			})
			.HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.AssistantManger_Criteria)
		  //.Name("AssistantMangerApprovalCriteria_dropList")
		  .HtmlAttributes(new { style = "width:100%" })
			  .OptionLabel("Select Value...")
			  .DataTextField("Text")
			  .DataValueField("Value")
			  .DataSource(source =>
			  {
				  source.Read(read =>
				  {
					  read.Action("GetRoleORJobLevel", "Admin").Data("filterAssistantManger");
				  })
				  .ServerFiltering(true);
			  })
			  .Enable(false)
			  .AutoBind(false)
			  .CascadeFrom("AssistantManger_CriteriaType")
            )

        </div>
    </div>
    <div class="form-group m-form__group row" style="margin-top:-30PX">
        <label class="k-edit-label col-lg-2">Department Manager</label>
        @Html.HiddenFor(n => n.ApprovalMartixDetailList[3].ApprovalLevelId)
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.DepartmentManager_CriteriaType)
			 //.Name("DepartmentManagerApprovalCriteriaType_dropList")
			 .OptionLabel("--- Select Value ---")
			.DataTextField("Text")
			.DataValueField("Value")
			.Filter("startswith")
			 .BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {
					Text = "JL", Value = "JL"
				},
				new SelectListItem() {
					Text = "R", Value = "R"
				}
			})
			.HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.DepartmentManager_Criteria)
		  //.Name("DepartmentManagerApprovalCriteria_dropList")
		  .HtmlAttributes(new { style = "width:100%" })
			  .OptionLabel("Select Value...")
			  .DataTextField("Text")
			  .DataValueField("Value")
			  .DataSource(source =>
			  {
				  source.Read(read =>
				  {
					  read.Action("GetRoleORJobLevel", "Admin").Data("filterDepartmentManager");
				  })
				  .ServerFiltering(true);
			  })
			  .Enable(false)
			  .AutoBind(false)
			  .CascadeFrom("DepartmentManager_CriteriaType")
            )

        </div>
    </div>
    <div class="form-group m-form__group row" style="margin-top:-30PX">
        <label class="k-edit-label col-lg-2">Senior Manager</label>
        @Html.HiddenFor(n => n.ApprovalMartixDetailList[4].ApprovalLevelId)
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.SeniorManager_CriteriaType)
			 //.Name("SeniorManagerApprovalCriteriaType_dropList")
			 .OptionLabel("--- Select Value ---")
			.DataTextField("Text")
			.DataValueField("Value")
			.Filter("startswith")
			 .BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {
					Text = "JL", Value = "JL"
				},
				new SelectListItem() {
					Text = "R", Value = "R"
				}
			})
			.HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.SeniorManager_Criteria)
		  //.Name("SeniorManagerApprovalCriteria_dropList")
		  .HtmlAttributes(new { style = "width:100%" })
			  .OptionLabel("Select Value...")
			  .DataTextField("Text")
			  .DataValueField("Value")
			  .DataSource(source =>
			  {
				  source.Read(read =>
				  {
					  read.Action("GetRoleORJobLevel", "Admin").Data("filterSeniorManager");
				  })
				  .ServerFiltering(true);
			  })
			  .Enable(false)
			  .AutoBind(false)
			  .CascadeFrom("SeniorManager_CriteriaType")
            )

        </div>
    </div>
    <div class="form-group m-form__group row" style="margin-top:-30PX">
        <label class="k-edit-label col-lg-2">Department General Manager</label>
        @Html.HiddenFor(n => n.ApprovalMartixDetailList[5].ApprovalLevelId)
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.DepartmentGeneralManager_CriteriaType)
			 //.Name("DepartmentGeneralManagerApprovalCriteriaType_dropList")
			 .OptionLabel("--- Select Value ---")
			.DataTextField("Text")
			.DataValueField("Value")
			.Filter("startswith")
			 .BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {
					Text = "JL", Value = "JL"
				},
				new SelectListItem() {
					Text = "R", Value = "R"
				}
			})
			.HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.DepartmentGeneralManager_Criteria)
		  //.Name("DepartmentGeneralManagerApprovalCriteria_dropList")
		  .HtmlAttributes(new { style = "width:100%" })
			  .OptionLabel("Select Value...")
			  .DataTextField("Text")
			  .DataValueField("Value")
			  .DataSource(source =>
			  {
				  source.Read(read =>
				  {
					  read.Action("GetRoleORJobLevel", "Admin").Data("filterDepartmentGeneralManager");
				  })
				  .ServerFiltering(true);
			  })
			  .Enable(false)
			  .AutoBind(false)
			  .CascadeFrom("DepartmentGeneralManager_CriteriaType")
            )

        </div>
    </div>
    <div class="form-group m-form__group row" style="margin-top:-30PX">
        <label class="k-edit-label col-lg-2">General Manager</label>
        @Html.HiddenFor(n => n.ApprovalMartixDetailList[6].ApprovalLevelId)
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.GeneralManager_CriteriaType)
			 //.Name("GeneralManagerApprovalCriteriaType_dropList")
			 .OptionLabel("--- Select Value ---")
			.DataTextField("Text")
			.DataValueField("Value")
			.Filter("startswith")
		 .BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {
					Text = "JL", Value = "JL"
				},
				new SelectListItem() {
					Text = "R", Value = "R"
				}
			})
			.HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.GeneralManager_Criteria)
		  //.Name("GeneralManagerApprovalCriteria_dropList")
		  .HtmlAttributes(new { style = "width:100%" })
			  .OptionLabel("Select Value...")
			  .DataTextField("Text")
			  .DataValueField("Value")
			  .DataSource(source =>
			  {
				  source.Read(read =>
				  {
					  read.Action("GetRoleORJobLevel", "Admin").Data("filterGeneralManager");
				  })
				  .ServerFiltering(true);
			  })
			  .Enable(false)
			  .AutoBind(false)
			  .CascadeFrom("GeneralManager_CriteriaType")
            )

        </div>
    </div>
    <div class="form-group m-form__group row" style="margin-top:-30PX">
        <label class="k-edit-label col-lg-2">GPAD</label>
        @Html.HiddenFor(n => n.ApprovalMartixDetailList[7].ApprovalLevelId)
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.GPAD_CriteriaType)
			 //.Name("GPADApprovalCriteriaType_dropList")
			 .OptionLabel("--- Select Value ---")
			.DataTextField("Text")
			.DataValueField("Value")
			.Filter("startswith")
			.BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {
					Text = "JL", Value = "JL"
				},
				new SelectListItem() {
					Text = "R", Value = "R"
				}
			})
			.HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.GPAD_Criteria)
		  //.Name("GPADApprovalCriteria_dropList")
		  .HtmlAttributes(new { style = "width:100%" })
			  .OptionLabel("Select Value...")
			  .DataTextField("Text")
			  .DataValueField("Value")
			  .DataSource(source =>
			  {
				  source.Read(read =>
				  {
					  read.Action("GetRoleORJobLevel", "Admin").Data("filterGPAD");
				  })
				  .ServerFiltering(true);
			  })
			  .Enable(false)
			  .AutoBind(false)
			  .CascadeFrom("GPAD_CriteriaType")
            )

        </div>
    </div>
    <div class="form-group m-form__group row" style="margin-top:-30PX">
        <label class="k-edit-label col-lg-2">MD</label>
        @Html.HiddenFor(n => n.ApprovalMartixDetailList[8].ApprovalLevelId)
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.MD_CriteriaType)
			 //.Name("MDApprovalCriteriaType_dropList")
			 .OptionLabel("--- Select Value ---")
			.DataTextField("Text")
			.DataValueField("Value")
			.Filter("startswith")
			.BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {
					Text = "JL", Value = "JL"
				},
				new SelectListItem() {
					Text = "R", Value = "R"
				}
			})
			.HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.MD_Criteria)
		  //.Name("MDApprovalCriteria_dropList")
		  .HtmlAttributes(new { style = "width:100%" })
			  .OptionLabel("Select Value...")
			  .DataTextField("Text")
			  .DataValueField("Value")
			  .DataSource(source =>
			  {
				  source.Read(read =>
				  {
					  read.Action("GetRoleORJobLevel", "Admin").Data("filterMD");
				  })
				  .ServerFiltering(true);
			  })
			  .Enable(false)
			  .AutoBind(false)
			  .CascadeFrom("MD_CriteriaType")
            )

        </div>
    </div>
    <div class="form-group m-form__group row" style="margin-top:-30PX">
        <label class="k-edit-label col-lg-2">AC Verification</label>
        @Html.HiddenFor(n => n.ApprovalMartixDetailList[9].ApprovalLevelId)
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.ACVerification_CriteriaType)
			 //.Name("ACVerificationApprovalCriteriaType_dropList")
			 .OptionLabel("--- Select Value ---")
			.DataTextField("Text")
			.DataValueField("Value")
			.Filter("startswith")
			 .BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {
					Text = "JL", Value = "JL"
				},
				new SelectListItem() {
					Text = "R", Value = "R"
				}
			})
			.HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.ACVerification_Criteria)
		  //.Name("ACVerificationApprovalCriteria_dropList")
		  .HtmlAttributes(new { style = "width:100%" })
			  .OptionLabel("Select Value...")
			  .DataTextField("Text")
			  .DataValueField("Value")
			  .DataSource(source =>
			  {
				  source.Read(read =>
				  {
					  read.Action("GetRoleORJobLevel", "Admin").Data("filterACVerification");
				  })
				  .ServerFiltering(true);
			  })
			  .Enable(false)
			  .AutoBind(false)
			  .CascadeFrom("ACVerification_CriteriaType")
            )

        </div>
    </div>
    <div class="form-group m-form__group row" style="margin-top:-30PX">
        <label class="k-edit-label col-lg-2">AC Verification2</label>
        @Html.HiddenFor(n => n.ApprovalMartixDetailList[10].ApprovalLevelId)
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.ACVerification2_CriteriaType)
			 //.Name("ACVerificationApprovalCriteriaType_dropList")
			 .OptionLabel("--- Select Value ---")
			.DataTextField("Text")
			.DataValueField("Value")
			.Filter("startswith")
			.BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {
					Text = "JL", Value = "JL"
				},
				new SelectListItem() {
					Text = "R", Value = "R"
				}
			})
			.HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.ACVerification2_Criteria)
		  //.Name("ACVerificationApprovalCriteria_dropList")
		  .HtmlAttributes(new { style = "width:100%" })
			  .OptionLabel("Select Value...")
			  .DataTextField("Text")
			  .DataValueField("Value")
			  .DataSource(source =>
			  {
				  source.Read(read =>
				  {
					  read.Action("GetRoleORJobLevel", "Admin").Data("filterACVerification2");
				  })
				  .ServerFiltering(true);
			  })
			  .Enable(false)
			  .AutoBind(false)
			  .CascadeFrom("ACVerification2_CriteriaType")
            )

        </div>
    </div>

    <div class="form-group m-form__group row" style="margin-top:-30PX">
        <label class="k-edit-label col-lg-2">AC Approval</label>
        @Html.HiddenFor(n => n.ApprovalMartixDetailList[11].ApprovalLevelId)
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.ACApproval_CriteriaType)
			 //.Name("ACApprovalApprovalCriteriaType_dropList")
			 .OptionLabel("--- Select Value ---")
			.DataTextField("Text")
			.DataValueField("Value")
			.Filter("startswith")
			.BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {
					Text = "JL", Value = "JL"
				},
				new SelectListItem() {
					Text = "R", Value = "R"
				}
			})
			.HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.ACApproval_Criteria)
		  //.Name("ACApprovalApprovalCriteria_dropList")
		  .HtmlAttributes(new { style = "width:100%" })
			  .OptionLabel("Select Value...")
			  .DataTextField("Text")
			  .DataValueField("Value")
			  .DataSource(source =>
			  {
				  source.Read(read =>
				  {
					  read.Action("GetRoleORJobLevel", "Admin").Data("filterACApproval");
				  })
				  .ServerFiltering(true);
			  })
			  .Enable(false)
			  .AutoBind(false)
			  .CascadeFrom("ACApproval_CriteriaType")
            )

        </div>
    </div>
    <div class="form-group m-form__group row" style="margin-top:-30PX">
        <label class="k-edit-label col-lg-2">HR Verification</label>
        @Html.HiddenFor(n => n.ApprovalMartixDetailList[12].ApprovalLevelId)
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.HRVerification_CriteriaType)
			 //.Name("HRVerificationApprovalCriteriaType_dropList")
			 .OptionLabel("--- Select Value ---")
			.DataTextField("Text")
			.DataValueField("Value")
			.Filter("startswith")
			.BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {
					Text = "JL", Value = "JL"
				},
				new SelectListItem() {
					Text = "R", Value = "R"
				}
			})
			.HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.HRVerification_Criteria)
		  //.Name("HRVerificationApprovalCriteria_dropList")
		  .HtmlAttributes(new { style = "width:100%" })
			  .OptionLabel("Select Value...")
			  .DataTextField("Text")
			  .DataValueField("Value")
			  .DataSource(source =>
			  {
				  source.Read(read =>
				  {
					  read.Action("GetRoleORJobLevel", "Admin").Data("filterHRVerification");
				  })
				  .ServerFiltering(true);
			  })
			  .Enable(false)
			  .AutoBind(false)
			  .CascadeFrom("HRVerification_CriteriaType")
            )

        </div>
    </div>
    <div class="form-group m-form__group row" style="margin-top:-30PX">
        <label class="k-edit-label col-lg-2">HR Verification2</label>
        @Html.HiddenFor(n => n.ApprovalMartixDetailList[13].ApprovalLevelId)
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.HRVerification2_CriteriaType)
			 //.Name("HRVerificationApprovalCriteriaType_dropList")
			 .OptionLabel("--- Select Value ---")
			.DataTextField("Text")
			.DataValueField("Value")
			.Filter("startswith")
			 .BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {
					Text = "JL", Value = "JL"
				},
				new SelectListItem() {
					Text = "R", Value = "R"
				}
			})
			.HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.HRVerification2_Criteria)
		  //.Name("HRVerificationApprovalCriteria_dropList")
		  .HtmlAttributes(new { style = "width:100%" })
			  .OptionLabel("Select Value...")
			  .DataTextField("Text")
			  .DataValueField("Value")
			  .DataSource(source =>
			  {
				  source.Read(read =>
				  {
					  read.Action("GetRoleORJobLevel", "Admin").Data("filterHRVerification2");
				  })
				  .ServerFiltering(true);
			  })
			  .Enable(false)
			  .AutoBind(false)
			  .CascadeFrom("HRVerification2_CriteriaType")
            )

        </div>
    </div>

    <div class="form-group m-form__group row" style="margin-top:-30PX">
        <label class="k-edit-label col-lg-2">HR Approva</label>
        @Html.HiddenFor(n => n.ApprovalMartixDetailList[14].ApprovalLevelId)
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.HRApprova_CriteriaType)
			 //.Name("HRApprovaApprovalCriteriaType_dropList")
			 .OptionLabel("--- Select Value ---")
			.DataTextField("Text")
			.DataValueField("Value")
			.Filter("startswith")
			.BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {
					Text = "JL", Value = "JL"
				},
				new SelectListItem() {
					Text = "R", Value = "R"
				}
			})
			.HtmlAttributes(new { style = "width: 100%" })
            )
        </div>
        <div class="k-edit-label col-lg-4">
            @(Html.Kendo().DropDownListFor(e => e.HRApprova_Criteria)
		  //.Name("HRApprovaApprovalCriteria_dropList")
		  .HtmlAttributes(new { style = "width:100%" })
			  .OptionLabel("Select Value...")
			  .DataTextField("Text")
			  .DataValueField("Value")
			  .DataSource(source =>
			  {
				  source.Read(read =>
				  {
					  read.Action("GetRoleORJobLevel", "Admin").Data("filterHRApprova");
				  })
				  .ServerFiltering(true);
			  })
			  .Enable(false)
			  .AutoBind(false)
			  .CascadeFrom("HRApprova_CriteriaType")
            )

        </div>
    </div>


</div>


