﻿@model MEHK.Workflow.Admin.Models.CurrencyViewModels
<div class="form-group m-form__group row">
	<label class="k-edit-label">SortSeq:</label>
	<div class="col-lg-5">
		@(Html.Kendo().NumericTextBoxFor(model => model.SortSeq).Min(1).Decimals(0).Format("n0")
					.HtmlAttributes(new { style = "width: 100%"})
		)
	</div>
</div>
<div class="form-group m-form__group row">
	<label class="k-edit-label">CurrencyName:</label>
	<div class="col-lg-5">
		<input name="CurrencyName" style="width:100%" required class="k-textbox" />
	</div>
</div>
@*<div class="form-group m-form__group row">
	<label class="k-edit-label">ExchangeRate:</label>
	<div class="col-lg-5">
		@(Html.Kendo().NumericTextBox<double>()
			.Name("ExchangeRate")
			.Min(0)
		.HtmlAttributes(new { required = "required" })
		)
	</div>
</div>*@



