﻿
@model MEHK.Workflow.Admin.Models.EmailTemplateViewModels
<div class="form-group m-form__group row">
	<label class="k-edit-label">ProcessName:</label>
	<div class="col-lg-5">
		@(Html.Kendo().DropDownListFor(e => e.ProcessCode)
							.HtmlAttributes(new { style = "width:175px;" })
							.OptionLabel("--- Select Value ---")
							 .DataTextField("ProcessName")
							 .DataValueField("Code")

							.DataSource(source =>
							{
								source.Read(read =>
								{
									read.Action("GetProcessList", "Admin");
								});
							})
		)
	</div>
</div>
<div class="form-group m-form__group row">
	<label class="k-edit-label">Subject:</label>
	<div class="col-lg-5">
		@*<input name="Subject" style="width:100%" class="k-textbox" />*@
		<textarea class="form-control k-textbox" name="Subject" rows="5" style="width:100%" maxlength="250"></textarea>
	</div>
</div>

<div class="form-group m-form__group row">
	<label class="k-edit-label">Body:</label>
	<div class="col-lg-5">
		@*<input name="Body" style="width:100%" class="k-textbox" />*@
		<textarea class="form-control k-textbox" name="Body" rows="5" style="width:100%" maxlength="250"></textarea>
	</div>
</div>
<div class="form-group m-form__group row">
	<label class="k-edit-label">ContentType:</label>
	<div class="col-lg-5">
		<input name="ContentType" style="width:100%" class="k-textbox" maxlength="25" />
	</div>
</div>
