﻿@model MEHK.Workflow.Admin.Models.EntertainmentGiftLimitViewModels
<div class="form-group m-form__group row">
	<label class="k-edit-label">Value:</label>
	<div class="col-lg-5">
		<input name="Value" style="width:100%" disabled="disabled" required class="k-textbox" />
	</div>
</div>
<div class="form-group m-form__group row">
	<label class="k-edit-label">EffectiveDate:</label>
	<div class="col-lg-5">
		@*<input name="EffectiveDate" style="width:100%" required class="k-textbox" />*@

		@(Html.Kendo().DatePickerFor(model => model.EffectiveDate)
					.HtmlAttributes(new { style = "width: 100%", disabled = "disabled" })
					.Format(Resources.Resource_Common.DisplayDateOnlyFormat)
		)
	</div>
</div>
<div class="form-group m-form__group row">
	<label class="k-edit-label">Text:</label>
	<div class="col-lg-5">
		<input name="Text" style="width:100%" required class="k-textbox" />
	</div>
</div>

@*<div class="form-group m-form__group row">
	<label class="k-edit-label">ExchangeRate:</label>
	<div class="col-lg-5">
		@(Html.Kendo().NumericTextBox<double>()
			.Name("ExchangeRate")
			.Min(0)
		.HtmlAttributes(new { required = "required" })
		)
	</div>
</div>*@



