﻿@model MEHK.Workflow.Admin.Models.GroupViewModels
<div class="form-group m-form__group row">
	<label class="k-edit-label">GroupName:</label>
	<div class="col-lg-5">
		<input name="GroupName" style="width:100%"  required class="k-textbox" />
	</div>
</div>
<div class="form-group m-form__group row">
	<label class="k-edit-label">Description:</label>
	<div class="col-lg-5">
		<input name="Description" style="width:100%"  class="k-textbox" />
	</div>
</div>

