﻿@model MEHK.Workflow.Admin.Models.ManageViewModels
@(Html.Kendo().Window()
                .Name("ManageTemplates")
                .Title("Edit")
                .Visible(false)
                .Modal(true)
                .Draggable(true)
                .Width(800).Height(500)
)
<script type="text/x-kendo-template" id="ManageTemplates">
 </script>
    <div class="form-group m-form__group row">
        <label class="k-edit-label">MemberName:</label>
        <div class="col-lg-5">
            <input name="MemberName" style="width:100%" required class="k-textbox" />
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="k-edit-label">LoginAccount:</label>
        <div class="col-lg-5">
            <input name="LoginAccount" style="width:100%" required class="k-textbox" />
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="k-edit-label">StaffId:</label>
        <div class="col-lg-5">
            <input name="StaffId" style="width:100%" required class="k-textbox" />
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="k-edit-label">SAMAccount:</label>
        <div class="col-lg-5">
            <input name="SAMAccount" style="width:100%" required class="k-textbox" />
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="k-edit-label">SAPAccount:</label>
        <div class="col-lg-5">
            <input name="SAPAccount" style="width:100%" required class="k-textbox" />
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="k-edit-label">Phone:</label>
        <div class="col-lg-5">
            <input name="Phone" style="width:100%" required class="k-textbox" />
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="k-edit-label">EmailAddress:</label>
        <div class="col-lg-5">
            <input name="EmailAddress" style="width:100%" required class="k-textbox" />
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="k-edit-label">JobRank:</label>
        <div class="col-lg-5">
            <input name="JobRank" style="width:100%" class="k-textbox" />
        </div>
    </div>
    <div class="form-group m-form__group row">
        <label class="k-edit-label">Remark:</label>
        <div class="col-lg-5">
            <input name="Remark" style="width:100%" class="k-textbox" />
        </div>
    </div>
    @*<div class="form-group m-form__group row">
            <label class="k-edit-label">Unit:</label>
            <div class="col-lg-5">
                @(Html.Kendo().DropDownListFor(e => e.UnitId)
                                    .HtmlAttributes(new { style = "width:175px;" })
                                    .OptionLabel("--- Select Value ---")
                                     .DataTextField("Description")
                                     .DataValueField("UnitId")
                                    .DataSource(source =>
                                    {
                                        source.Read(read =>
                                        {
                                            read.Action("GetUnit", "Admin");
                                        });
                                    })
                )
            </div>
        </div>*@

