﻿@model MEHK.Workflow.Admin.Models.ManageViewModels

<div class="form-group m-form__group row">
    <label class="k-edit-label">SAMAccount:</label>
    <div class="col-lg-3">
        @(Html.Kendo().TextBoxFor(e => e.SAMAccount).HtmlAttributes(new { style = "width:175px;" }))
        @*<input name="SAMAccount" id="txtSAMAccount" style="width:175px" required class="k-textbox" />*@
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="k-edit-label">Job Level:</label>
    <div class="col-lg-3">
        @(Html.Kendo().DropDownListFor(e => e.JobLevelId)
                                .HtmlAttributes(new { style = "width:175px;" })
                                .OptionLabel("--- Select Value ---")
                                .DataTextField("Text")
                                .DataValueField("Value")
                                .DataSource(source =>
                                {
                                    source.Read(read =>
                                    {
                                        read.Action("GetListJobLevel", "Admin");
                                    });
                                })
        )
    </div>
</div>

<div class="form-group m-form__group row">
    <label class="k-edit-label">Post:</label>
    <div class="col-lg-3">
        <input name="Post" style="width:175px" class="k-textbox" />
    </div>
</div>
<div class="row" style="margin:10px;">

    @(Html.Kendo().Grid<MEHK.Workflow.Data.DTO.Right>()
    .Name("RightGrid")
    .Columns(columns =>
    {
        columns.Bound(o => o.ID).Width(60);
        columns.Bound(o => o.RightName).Width(100);
        columns.Bound(o => o.Description).Width(100);
    })

    .Filterable()
    .Pageable()
    .Sortable()
    .Scrollable()
    .HtmlAttributes(new { style = "height:250px;" })
    .DataSource(dataSource => dataSource
        .Ajax()
        .PageSize(20)
        .Model(model => model.Id(p => p.ID))
        .Read(read => read.Action("GetRightsById", "Admin").Data("getFilterData"))
    )
    )
</div>
