﻿@model MEHK.Workflow.Admin.Models.RightViewModels
<div class="form-group m-form__group" style="width:900px">
	<div class="form-group m-form__group row">
		<label class="k-edit-label">RightName:</label>
		<div class="col-lg-5">
			<input name="RightName" style="width:100%" required class="k-textbox" />
		</div>
	</div>
	<div class="form-group m-form__group row">
		<label class="k-edit-label">Description:</label>
		<div class="col-lg-5">
			<input name="Description" style="width:100%" class="k-textbox" />
		</div>
	</div>
	<div class="form-group m-form__group row">
		<label class="k-edit-label">App:</label>
		<div class="col-lg-5">
			@(Html.Kendo().DropDownListFor(e => e.AppID)
							.HtmlAttributes(new { style = "width:175px;" })
							.OptionLabel("--- Select Value ---")
							 .DataTextField("AppName")
							 .DataValueField("ID")

							.DataSource(source =>
							{
								source.Read(read =>
								{
									read.Action("GetApplication", "Admin");
								});
							})
			)
		</div>
	</div>


