﻿@model MEHK.Workflow.Admin.Models.RoleViewModels
<div class="form-group m-form__group row">
	<label class="k-edit-label">RoleName:</label>
	<div class="col-lg-5">
		<input name="RoleName" style="width:100%" required class="k-textbox" />
	</div>
</div>
<div class="form-group m-form__group row">
	<label class="k-edit-label">Remark:</label>
	<div class="col-lg-5">
		<input name="Remark" style="width:100%" class="k-textbox" />
	</div>
</div>

