﻿@model MEHK.Workflow.Admin.Models.SiteMenuViewModels
@Html.HiddenFor(n => n.ID)
<div class="form-group m-form__group" style="width:900px">
	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-3">PageName:</label>
		<div class="col-lg-4">
			<input name="PageName" style="width:100%" required class="k-textbox" />
		</div>
	</div>
	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-3">PageDisplayName:</label>
		<div class="col-lg-4">
			<input name="PageDisplayName" style="width:100%" class="k-textbox" />
		</div>
	</div>
	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-3">PageNameDisplayName_CN:</label>
		<div class="col-lg-4">
			<input name="PageNameDisplayName_CN" style="width:100%" class="k-textbox" />
		</div>
	</div>
	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-3">URL:</label>
		<div class="col-lg-4">
			<input name="URL" style="width:100%" class="k-textbox" />
		</div>
	</div>
	@*<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-3">AppName:</label>
		<div class="col-lg-4">
			@(Html.Kendo().DropDownListFor(e => e.AppID)
							.HtmlAttributes(new { style = "width:175px;" })
							.OptionLabel("--- Select Value ---")
							 .DataTextField("AppName")
							 .DataValueField("ID")

							.DataSource(source =>
							{
								source.Read(read =>
								{
									read.Action("GetApplication", "Admin");
								});
							})
			)
		</div>
	</div>*@
	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-3">ParentName:</label>
		<div class="col-lg-4">
			@(Html.Kendo().DropDownListFor(e => e.ParentIDStr)
							.HtmlAttributes(new { style = "width:100%;" })
							.OptionLabel("--- Select Value ---")
							 .DataTextField("PageName")
							 .DataValueField("ID")
							  .Filter("contains")
							.DataSource(source =>
							{
								source.Read(read =>
								{
									read.Action("GetSiteMenuParent", "Admin").Data("ParentData");
								}).ServerFiltering(true);
							})
			)
		</div>
	</div>

	
