﻿@model MEHK.Workflow.Data.DTO.SystemParameterViewModels
<div class="form-group m-form__group row" style="width:400px">
	<label class="col-lg-4 k-edit-label">AppKey:</label>
	<div class="col-lg-6">
		<input name="AppKey" style="width:100%" disabled="disabled" required class="k-textbox" />
	</div>
</div>
<div class="form-group m-form__group row" style="width:400px">
	<label class="col-lg-4 k-edit-label">Value:</label>
	<div class="col-lg-6">
		<input name="Value" style="width:100%" required class="k-textbox" />
	</div>
</div>
@*<div class="form-group m-form__group row">
	<label class="k-edit-label">ExchangeRate:</label>
	<div class="col-lg-5">
		@(Html.Kendo().NumericTextBox<double>()
			.Name("ExchangeRate")
			.Min(0)
		.HtmlAttributes(new { required = "required" })
		)
	</div>
</div>*@



