﻿@model MEHK.Workflow.EntertainmentGift.ViewModels.PaymentReimbursementGridViewModel
<div class="form-group m-form__group" style="width:500px">
	@*<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-3">Number:</label>
		<div class="col-lg-4">
			<input name="Number" id="Number" disabled="disabled" hidden="hidden" style="width:100%" required class="k-textbox" />
		</div>
	</div>*@
	@*<input name="Number" id="Number" disabled="disabled" hidden="hidden" style="width:100%" required class="k-textbox" />*@
	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-3">Dr_Cr:</label>
		<div class="col-lg-4">
			@(Html.Kendo().DropDownListFor(e => e.Dr_Cr)
			 .OptionLabel("--- Select Value ---")
			.DataTextField("Text")
			.DataValueField("Value")
			.Filter("startswith")
			.Events(e=>e.Change("DrCrChange"))
			 .BindTo(new List<SelectListItem>()
			{
				new SelectListItem() {
					Text = "Dr", Value = "Dr"
				},
				new SelectListItem() {
					Text = "Cr", Value = "Cr"
				}
			})

			.HtmlAttributes(new { style = "width: 100%" })
			)
		</div>
	</div>
	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-3">PostKey:</label>
		<div class="col-lg-4">
			<input name="PostKey" id="PostKey" style="width:100%" disabled="disabled"  required class="k-textbox" />
		</div>
	</div>
	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-3">AcctCode:</label>
		<div class="col-lg-4">
			<input name="AcctCode" style="width:100%" required class="k-textbox" />
		</div>
	</div>
	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-3">Payee_AcctType:</label>
		<div class="col-lg-4">
			<input name="Payee_AcctType" style="width:100%" required class="k-textbox" />
		</div>
	</div>
	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-3">Amount:</label>
		<div class="col-lg-4">
			@(Html.Kendo()
						.NumericTextBoxFor(model => model.Amount)
						.Min(0)
						.Max((decimal)999999999999999.99)
						.HtmlAttributes(new { style = "width: 100%" })
			)
		</div>
	</div>
	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-3">Centre:</label>
		<div class="col-lg-4">
			@*<input name="Centre" style="width:100%" required class="k-textbox" />*@
			@(Html.Kendo().DropDownListFor(e => e.Centre)
										  .DataTextField("Text")
										  .DataValueField("Value")
										  .OptionLabel("--Please Select--")
										  .Filter("contains")
										  .DataSource(source =>
										  {
											  source.Read(read =>
											  {
												  read.Action("CostCentersDropDownList", "EntertainmentGift").Data("getCentreFilterData");
											  }).ServerFiltering(true);
										  })
										  .HtmlAttributes(new { style = "width: 100%" })

			)
		</div>
	</div>
	<div class="form-group m-form__group row">
		<label class="k-edit-label col-lg-3">Text:</label>
		<div class="col-lg-4">
			<input name="Text" id="Text" style="width:100%" class="k-textbox" />
		</div>
	</div>
	</div>
